Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

.ci/azure/android_arm64.yml:
  jobs:
  - job: android_arm64
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      OPENVINO_REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux.yml:
  jobs:
  - job: Lin
    strategy:
      matrix:
        Static:
          CMAKE_BUILD_SHARED_LIBS: 'OFF'
          PYTHON_STATIC_ARGS: -m "not dynamic_library and not template_plugin"
          CMAKE_CPACK_GENERATOR: null
          SAMPLES_INSTALL_DIR: $(INSTALL_DIR)/samples
  ...

.ci/azure/linux_arm64.yml:
  jobs:
  - job: linux_arm64
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      NUM_PROC: 2
      BUILD_TYPE: Release
      OPENVINO_REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_conditional_compilation.yml:
  jobs:
  - job: LinCC
    timeoutInMinutes: '90'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      MODELS_PATH: $(REPO_DIR)/../testdata
  ...

.ci/azure/linux_cuda.yml:
  jobs:
  - job: CUDAPlugin_Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      HOME_DIR: $(Agent.HomeDirectory)
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_debian.yml:
  jobs:
  - job: Lin_Debian
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      MODELS_PATH: $(REPO_DIR)/../testdata
  ...

.ci/azure/linux_intel_gna.yml:
  jobs:
  - job: Lin
    timeoutInMinutes: '180'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_onnxruntime.yml:
  jobs:
  - job: onnxruntime
    timeoutInMinutes: '90'
    pool:
      name: LIN_VMSS_VENV_ONNX_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/mac.yml:
  jobs:
  - job: Mac
    timeoutInMinutes: '360'
    pool:
      vmImage: macOS-11
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_CONTRIB_REPO_DIR: $(REPO_DIR)/../openvino_contrib
  ...

ARM Compute Library flags
  .ci/azure/linux_arm64.yml
  src/plugins/intel_cpu/thirdparty/ACLConfig.cmake
  src/plugins/intel_cpu/thirdparty/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add streams_info_table init in the constructor of config
  src/inference/dev_api/openvino/runtime/threading/istreams_executor.hpp
  src/inference/dev_api/threading/ie_istreams_executor.hpp
  src/inference/src/dev/threading/cpu_streams_executor.cpp
  src/inference/src/dev/threading/istreams_executor.cpp
  src/inference/src/system_conf.cpp
  src/inference/src/threading/ie_istreams_executor.cpp
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

test for ci.
  src/plugins/intel_gpu/src/plugin/program.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update.
  src/plugins/intel_cpu/src/cpu_info.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix streams=2 when ImportNetwork on Xeon machine
  src/plugins/intel_cpu/src/plugin.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

remove definition of static cpu
  src/inference/src/system_conf.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Imple if operator
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/src/plugin/ops/if.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/condition_gpu_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fixed merge
  src/plugins/intel_gpu/src/plugin/program.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Deprecate legacy Core and Allocator
  src/inference/include/ie/cpp/ie_cnn_network.h
  src/inference/include/ie/details/ie_blob_iterator.hpp
  src/inference/include/ie/details/ie_exception.hpp
  src/inference/include/ie/details/ie_pre_allocator.hpp
  src/inference/include/ie/details/ie_so_loader.h
  src/inference/include/ie/details/ie_so_pointer.hpp
  src/inference/include/ie/ie_allocator.hpp
  src/inference/include/ie/ie_core.hpp
  src/inference/include/ie/ie_data.h
  src/inference/include/ie/ie_extension.h
  src/inference/include/ie/ie_icnn_network.hpp
  src/inference/include/ie/ie_iextension.h
  src/inference/include/ie/ie_input_info.hpp
  src/inference/include/ie/ie_locked_memory.hpp
  src/inference/include/ie/ie_parameter.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

【PaddlePaddle Hackathon 4】add paddle one_hot_v2 op (#15859)
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
  src/frontends/paddle/src/op/one_hot_v2.cpp
  src/frontends/paddle/src/op_table.cpp
  src/frontends/paddle/tests/op_fuzzy.cpp
  src/frontends/paddle/tests/test_models/gen_scripts/generate_one_hot_v2.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
Due: none

convert-model
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Caffe.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_MxNet.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Paddle.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
  docs/MO_DG/prepare_model/convert_model/Converting_Model.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_Object_Detection_API_Models.md
  docs/OV_Runtime_UG/protecting_model_guide.md
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  samples/c/hello_classification/README.md
  samples/c/hello_nv12_input_classification/README.md
  samples/cpp/benchmark/sync_benchmark/README.md
  samples/cpp/benchmark/throughput_benchmark/README.md
  samples/cpp/benchmark_app/README.md
  samples/cpp/classification_sample_async/README.md
  samples/cpp/hello_classification/README.md
  samples/cpp/hello_nv12_input_classification/README.md
  samples/cpp/hello_reshape_ssd/README.md
  samples/cpp/model_creation_sample/README.md
  samples/cpp/speech_sample/README.md
  samples/python/benchmark/bert_benchmark/README.md
  samples/python/benchmark/sync_benchmark/README.md
  samples/python/benchmark/throughput_benchmark/README.md
  samples/python/classification_sample_async/README.md
  samples/python/hello_classification/README.md
  samples/python/hello_reshape_ssd/README.md
  samples/python/model_creation_sample/README.md
  samples/python/speech_sample/README.md
  tools/benchmark_tool/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Suppress blob warnings
  src/inference/include/ie/ie_blob.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fixed code style
  src/core/include/ngraph/deprecated.hpp
  src/core/include/ngraph/op/util/evaluate_helpers.hpp
  src/core/include/ngraph/op/util/recurrent_sequence.hpp
  src/core/include/ngraph/op/util/slice_plan.hpp
  src/core/include/ngraph/opsets/opset.hpp
  src/core/include/ngraph/pass/graph_rewrite.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Suppress some warnings
  src/CMakeLists.txt
  src/inference/include/ie/cpp/ie_cnn_network.h
  src/inference/include/ie/details/ie_blob_iterator.hpp
  src/inference/include/ie/details/ie_exception.hpp
  src/inference/include/ie/details/ie_pre_allocator.hpp
  src/inference/include/ie/details/ie_so_loader.h
  src/inference/include/ie/details/ie_so_pointer.hpp
  src/inference/include/ie/ie_allocator.hpp
  src/inference/include/ie/ie_core.hpp
  src/inference/include/ie/ie_data.h
  src/inference/include/ie/ie_extension.h
  src/inference/include/ie/ie_icnn_network.hpp
  src/inference/include/ie/ie_iextension.h
  src/inference/include/ie/ie_input_info.hpp
  src/inference/include/ie/ie_locked_memory.hpp
  src/inference/include/ie/ie_parameter.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Suppress more warnings
  src/inference/src/ie_blob_common.cpp
  src/inference/src/system_allocator.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Always add preprocessing to the model
  samples/python/hello_query_device/README.md
  src/inference/src/dev/core_impl.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Suppress warnings for log
  src/core/include/ngraph/log.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update performance_hints.md
  docs/OV_Runtime_UG/performance_hints.md
Due: none

GRUCellFusion - fix handling bias in rz order
  src/common/transformations/src/transformations/common_optimizations/gru_cell_fusion.cpp
  src/common/transformations/tests/common_optimizations/gru_cell_fusion.cpp
  src/tests/ie_test_utils/common_test_utils/graph_comparator.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Add debug logs against AUTO
  tests/time_tests/src/timetests/timetest_infer.cpp
  tests/time_tests/src/timetests/timetest_infer_api_2.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[AUTO] support HETERO/BATCH/MULTI/AUTO in device priority list
  src/inference/src/dev/core_impl.cpp
  src/plugins/auto/src/auto_schedule.cpp
  src/plugins/auto/src/plugin.cpp
  src/plugins/auto/tests/unit/auto_load_network_properties_test.cpp
  src/plugins/auto/tests/unit/key_network_priority_test.cpp
  src/plugins/auto/tests/unit/select_device_test.cpp
  src/plugins/auto_batch/src/auto_batch.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Revert "disabling inserting redundant Converts for integer types for legacy IR serialization"
  tools/mo/openvino/tools/mo/pipeline/common.py
Due: .ci/azure/linux.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

[PT FE] Fix aten::conv2d conversion issues related to bias (#17228)
  src/frontends/pytorch/src/op/convnd.cpp
  tests/layer_tests/pytorch_tests/test_convnd.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

tfl - hardswish
  tests/layer_tests/tensorflow_lite_tests/test_tfl_HardSwish.py
Due: .ci/azure/linux.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

enable 1-D axis in cumsum
  src/frontends/onnx/frontend/src/op/cum_sum.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Suppress blob allocator
  src/core/src/runtime/blob_allocator.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Suppress warning
  src/core/include/ngraph/log.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update test cases in AUTO_BATCH
  src/plugins/auto_batch/tests/unit/plugins_tests.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

enable proc_type_table on MacOS for both ARM and x86 (#17427)
  src/inference/src/system_conf.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] Recreation of BDTI PRs - 22.3 (#17546)
  docs/OV_Runtime_UG/auto_device_selection.md
  docs/OV_Runtime_UG/ov_dynamic_shapes.md
  docs/OV_Runtime_UG/performance_hints.md
  docs/OV_Runtime_UG/supported_plugins/CPU.md
  docs/OV_Runtime_UG/supported_plugins/GPU.md
  docs/OV_Runtime_UG/supported_plugins/Supported_Devices.md
  docs/snippets/ov_dynamic_shapes.c
  docs/snippets/ov_dynamic_shapes.cpp
  docs/snippets/ov_dynamic_shapes.py
Due: none

[DOCS] RST fixes for 23.0 (#17606)
  docs/IE_PLUGIN_DG/dev_api_references.md
  docs/OV_Runtime_UG/auto_device_selection.md
  docs/OV_Runtime_UG/performance_hints.md
  docs/OV_Runtime_UG/supported_plugins/GPU.md
  docs/OV_Runtime_UG/supported_plugins/Supported_Devices.md
  docs/install_guides/configurations-for-intel-gpu.md
  docs/install_guides/installing-openvino-overview.md
  docs/model_zoo.md
Due: none

[PT FE] Fix issues in multiple operations (#17418)
  src/frontends/pytorch/src/op/meshgrid.cpp
  src/frontends/pytorch/src/op/rsqrt.cpp
  src/frontends/pytorch/src/op/upsample.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/transforms/aten_stack_list_construct_replacer.cpp
  src/frontends/pytorch/src/transforms/min_max_prim_list_construct_replacer.cpp
  src/frontends/pytorch/src/transforms/prim_list_construct_pad.cpp
  src/frontends/pytorch/src/transforms/prim_list_unpack_replacer.cpp
  src/frontends/pytorch/src/translate_session.cpp
  src/frontends/pytorch/src/utils.cpp
  src/frontends/pytorch/src/utils.hpp
  tests/layer_tests/mo_python_api_tests/test_mo_convert_pytorch.py
  tests/layer_tests/pytorch_tests/test_ceil.py
  tests/layer_tests/pytorch_tests/test_chunk.py
  tests/layer_tests/pytorch_tests/test_exp.py
  tests/layer_tests/pytorch_tests/test_floor.py
  tests/layer_tests/pytorch_tests/test_leaky_relu.py
  tests/layer_tests/pytorch_tests/test_listunpack.py
  tests/layer_tests/pytorch_tests/test_relu.py
  tests/layer_tests/pytorch_tests/test_rsqrt.py
  tests/layer_tests/pytorch_tests/test_sigmoid.py
  tests/layer_tests/pytorch_tests/test_sqrt.py
  tests/layer_tests/pytorch_tests/test_trigonometry.py
  tests/layer_tests/pytorch_tests/test_unary_ops.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Suppress more warnings
  src/inference/dev_api/blob_factory.hpp
  src/inference/include/ie/details/ie_blob_iterator.hpp
  src/inference/include/ie/details/ie_pre_allocator.hpp
  src/inference/include/ie/ie_compound_blob.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
