Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools

fix scatter_elements_update_ref data race
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/scatter_elements_update_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/scatter_update/scatter_update_kernel_ref.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

check mount
  .github/workflows/job_build_linux.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] Moving OVMS to top menu level
  docs/CMakeLists.txt
  docs/articles_en/about-openvino/openvino-ecosystem/openvino-project.rst
  docs/articles_en/about-openvino/openvino-ecosystem/openvino-project/openvino-security-add-on.rst
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/openvino-workflow-generative.rst
  docs/articles_en/openvino-workflow.rst
  docs/articles_en/openvino-workflow/running-inference/stateful-models.rst
  docs/sphinx_setup/_static/selector-tool/assets/selector-C_bHXmvJ.js
  docs/sphinx_setup/index.rst
Due: none

.clang-tidy
  src/plugins/intel_cpu/src/.clang-tidy
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix KeepConstPrecision
  src/common/transformations/src/transformations/low_precision/mark_dequantization_subgraph.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix links to supported devices
  README.md
Due: none

[DOCS] Correct supported devices link overall
  README.md
  samples/c/hello_nv12_input_classification/README.md
  samples/cpp/benchmark/sync_benchmark/README.md
  samples/cpp/benchmark/throughput_benchmark/README.md
  samples/cpp/classification_sample_async/README.md
  samples/cpp/hello_classification/README.md
  samples/cpp/hello_nv12_input_classification/README.md
  samples/cpp/hello_query_device/README.md
  samples/cpp/hello_reshape_ssd/README.md
  samples/cpp/model_creation_sample/README.md
  samples/python/benchmark/sync_benchmark/README.md
  samples/python/benchmark/throughput_benchmark/README.md
  samples/python/classification_sample_async/README.md
  samples/python/hello_classification/README.md
  samples/python/hello_query_device/README.md
  samples/python/hello_reshape_ssd/README.md
  samples/python/model_creation_sample/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Move dtor definitions to cpp
  src/core/dev_api/openvino/runtime/aligned_buffer.hpp
  src/core/include/openvino/core/axis_set.hpp
  src/core/include/openvino/core/axis_vector.hpp
  src/core/include/openvino/core/coordinate.hpp
  src/core/include/openvino/core/coordinate_diff.hpp
  src/core/include/openvino/core/dimension.hpp
  src/core/include/openvino/core/layout.hpp
  src/core/include/openvino/core/model.hpp
  src/core/include/openvino/core/partial_shape.hpp
  src/core/include/openvino/op/binary_convolution.hpp
  src/core/include/openvino/op/depth_to_space.hpp
  src/core/include/openvino/op/gelu.hpp
  src/core/include/openvino/op/grid_sample.hpp
  src/core/include/openvino/op/interpolate.hpp
  src/core/include/openvino/op/loop.hpp
  src/core/include/openvino/op/lstm_cell.hpp
  src/core/include/openvino/op/matrix_nms.hpp
  src/core/include/openvino/op/mvn.hpp
  src/core/include/openvino/op/parameter.hpp
  src/core/src/axis_set.cpp
  src/core/src/axis_vector.cpp
  src/core/src/coordinate.cpp
  src/core/src/coordinate_diff.cpp
  src/core/src/dimension.cpp
  src/core/src/layout.cpp
  src/core/src/model.cpp
  src/core/src/op/binary_convolution.cpp
  src/core/src/op/depth_to_space.cpp
  src/core/src/op/gelu.cpp
  src/core/src/op/grid_sample.cpp
  src/core/src/op/interpolate.cpp
  src/core/src/op/loop.cpp
  src/core/src/op/lstm_cell.cpp
  src/core/src/op/matrix_nms.cpp
  src/core/src/op/mvn.cpp
  src/core/src/op/parameter.cpp
  src/core/src/partial_shape.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix build
  src/frontends/pytorch/src/op/mul.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Remove empty kv tensors
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update OVMS tab in Generative Workflow
  docs/articles_en/openvino-workflow-generative.rst
Due: none

[GPU] macro instead of function and bypass arg
  src/plugins/intel_gpu/src/graph/CMakeLists.txt
  src/plugins/intel_gpu/src/graph/impls/cm/CMakeLists.txt
  src/plugins/intel_gpu/src/graph/impls/common/CMakeLists.txt
  src/plugins/intel_gpu/src/graph/impls/cpu/CMakeLists.txt
  src/plugins/intel_gpu/src/graph/impls/ocl/CMakeLists.txt
  src/plugins/intel_gpu/src/graph/impls/onednn/CMakeLists.txt
  src/plugins/intel_gpu/src/graph/impls/sycl/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[GPU] Unit tests fixes, ph10
  src/plugins/intel_gpu/tests/unit/test_cases/group_normalization_gpu_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Setting api to sync when hint is latency in benchmark_app (#29060)
  docs/articles_en/get-started/learn-openvino/openvino-samples/benchmark-tool.rst
  samples/cpp/benchmark_app/benchmark_app.hpp
  samples/cpp/benchmark_app/main.cpp
  tools/benchmark_tool/openvino/tools/benchmark/benchmark.py
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update src/plugins/intel_gpu/include/intel_gpu/plugin/compiled_model.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/compiled_model.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/node.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] adjust LTS disclaimer
  docs/articles_en/get-started/install-openvino.rst
Due: none

Remove atan2 from tensorflow common part
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/src/op/atan2.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[PyOV] Deprecate openvino.Type.undefined (#29020)
  src/bindings/python/src/openvino/__init__.py
  src/bindings/python/src/openvino/_ov_api.py
  src/bindings/python/src/pyopenvino/graph/types/element_type.cpp
  src/bindings/python/tests/test_runtime/test_type.py
  tools/benchmark_tool/openvino/__init__.py
  tools/ovc/openvino/__init__.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Add and improve notes
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/matrix/einsum-7.rst
Due: none

First implementation of emitters + executor
  src/plugins/intel_cpu/src/emitters/snippets/jit_snippets_call_args.cpp
  src/plugins/intel_cpu/src/emitters/snippets/jit_snippets_call_args.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_parallel_loop_emitters.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_parallel_loop_emitters.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/parallel_loop.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/parallel_loop.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] Correct supported devices link overall (#29157)
  README.md
  samples/c/hello_nv12_input_classification/README.md
  samples/cpp/benchmark/sync_benchmark/README.md
  samples/cpp/benchmark/throughput_benchmark/README.md
  samples/cpp/classification_sample_async/README.md
  samples/cpp/hello_classification/README.md
  samples/cpp/hello_nv12_input_classification/README.md
  samples/cpp/hello_query_device/README.md
  samples/cpp/hello_reshape_ssd/README.md
  samples/cpp/model_creation_sample/README.md
  samples/python/benchmark/sync_benchmark/README.md
  samples/python/benchmark/throughput_benchmark/README.md
  samples/python/classification_sample_async/README.md
  samples/python/hello_classification/README.md
  samples/python/hello_query_device/README.md
  samples/python/hello_reshape_ssd/README.md
  samples/python/model_creation_sample/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[NPU] Fix turbo mode (#29147)
  src/plugins/intel_npu/src/utils/src/zero/zero_wrappers.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Apply clang-format
  src/plugins/intel_npu/src/al/include/intel_npu/npu_private_properties.hpp
  src/plugins/intel_npu/src/compiler_adapter/src/driver_compiler_adapter.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix rebase changes
  src/plugins/intel_cpu/src/memory_control.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix flake8 style
  src/bindings/python/src/openvino/frontend/pytorch/__init__.py
  src/bindings/python/src/openvino/frontend/pytorch/gptq.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix reorder-permute optimization
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Apply comments
  src/bindings/python/src/openvino/utils/postponed_constant.py
  src/bindings/python/tests/test_runtime/test_op.py
  src/core/src/pass/serialize.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Add FakeConvert/Quantize passes
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/compiler.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/snapshot.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/compute.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/compute.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix tests
  src/bindings/python/src/openvino/frontend/pytorch/ts_decoder.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[intel-npu] Implementing hidden internal options handling
  src/plugins/intel_npu/src/al/include/intel_npu/config/config.hpp
  src/plugins/intel_npu/src/al/src/config/config.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/driver_compiler_adapter.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/src/plugin/src/properties.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix USS issue caused by kernel cache
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[GPU] Remove force exit (#29062)
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_common.hpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Support non-compute tags
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/compiler.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/snapshot.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/snapshot.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml
