Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

.ci/azure/android_arm64.yml:
  jobs:
  - job: android_arm64
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      OPENVINO_REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux.yml:
  jobs:
  - job: Lin
    strategy:
      matrix:
        Static:
          CMAKE_BUILD_SHARED_LIBS: 'OFF'
          PYTHON_STATIC_ARGS: -m "not dynamic_library and not template_plugin"
          CMAKE_CPACK_GENERATOR: null
          SAMPLES_INSTALL_DIR: $(INSTALL_DIR)/samples
  ...

.ci/azure/linux_arm64.yml:
  jobs:
  - job: linux_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      PYTHON_ARM_VERSION: 3.8.12
      PYTHON_EXEC: python3.8
      OPENVINO_ARCH: aarch64
      NUM_PROC: 1
  ...

.ci/azure/linux_conditional_compilation.yml:
  jobs:
  - job: LinCC
    timeoutInMinutes: '90'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      MODELS_PATH: $(REPO_DIR)/../testdata
  ...

.ci/azure/linux_cuda.yml:
  jobs:
  - job: CUDAPlugin_Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      HOME_DIR: $(Agent.HomeDirectory)
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_debian.yml:
  jobs:
  - job: Lin_Debian
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      MODELS_PATH: $(REPO_DIR)/../testdata
  ...

.ci/azure/linux_intel_gna.yml:
  jobs:
  - job: Lin
    timeoutInMinutes: '180'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_onnxruntime.yml:
  jobs:
  - job: onnxruntime
    timeoutInMinutes: '90'
    pool:
      name: LIN_VMSS_VENV_ONNX_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/mac.yml:
  jobs:
  - job: Mac
    timeoutInMinutes: '360'
    pool:
      vmImage: macOS-11
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_CONTRIB_REPO_DIR: $(REPO_DIR)/../openvino_contrib
  ...

[GPU] Skip FC fake alignment for some vector by matrix multiplications (#17051)
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[Transformations] Add threshold for const comparison in Gelu fusion pass to fuse with fp16 precision (#17042)
  src/common/transformations/src/transformations/common_optimizations/gelu_fusion.cpp
  src/common/transformations/tests/common_optimizations/gelu_fusion.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

DOCS remove deprecated options
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
Due: none

modify ExportOptimalNumStreams test
  src/inference/src/dev/threading/cpu_streams_executor.cpp
  src/plugins/intel_cpu/tests/functional/behavior/export_import.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[LPT] Extending EliminateFakeQuantize transformation (two interval boundaries) (#17140)
  src/common/low_precision_transformations/src/eliminate_fake_quantize.cpp
  src/common/low_precision_transformations/tests/eliminate_fake_quantize_transformation.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

still use cpu for dynamic models
  src/plugins/auto/src/plugin.cpp
  src/plugins/auto/tests/unit/auto_dynamic_output_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

merge master
  src/plugins/auto/src/auto_executable_network.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[LPT] AddTransformation fix (#17076)
  src/common/low_precision_transformations/src/eltwise_base_transformation.cpp
  src/common/low_precision_transformations/tests/add_transformation.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/add_function.hpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/add_function.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

convert model commands
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/prepare_model/Additional_Optimizations.md
  docs/MO_DG/prepare_model/FP16_Compression.md
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Caffe.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Kaldi.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_MxNet.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_ONNX.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Paddle.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
  docs/MO_DG/prepare_model/convert_model/Converting_Model.md
  docs/MO_DG/prepare_model/convert_model/Cutting_Model.md
  docs/MO_DG/prepare_model/convert_model/kaldi_specific/Aspire_Tdnn_Model.md
  docs/MO_DG/prepare_model/convert_model/mxnet_specific/Convert_GluonCV_Models.md
  docs/MO_DG/prepare_model/convert_model/mxnet_specific/Convert_Style_Transfer_From_MXNet.md
  docs/MO_DG/prepare_model/convert_model/onnx_specific/Convert_Faster_RCNN.md
  docs/MO_DG/prepare_model/convert_model/onnx_specific/Convert_GPT2.md
  docs/MO_DG/prepare_model/convert_model/onnx_specific/Convert_Mask_RCNN.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_Bert_ner.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_Cascade_RCNN_res101.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_F3Net.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_QuartzNet.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_RCAN.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_RNNT.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_YOLACT.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_AttentionOCR_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_BERT_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_CRNN_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_EfficientDet_Models.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_NCF_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_Object_Detection_API_Models.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_RetinaNet_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_Slim_Library_Models.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_XLNet_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_YOLO_From_Tensorflow.md
  docs/OV_Runtime_UG/Troubleshooting_ReshapeMethod.md
  docs/dev/installing.md
  docs/get_started/get_started_demos.md
  docs/install_guides/troubleshooting-steps.md
Due: none

Update graph_builder
  tools/pot/openvino/tools/pot/statistics/statistic_graph_builder.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

fix-2
  docs/ops/condition/Bucketize_3.md
  docs/ops/movement/BatchToSpace_2.md
  docs/ops/movement/Broadcast_3.md
Due: none

tfl argvalue test
  tests/layer_tests/tensorflow_lite_tests/test_tfl_ArgValue.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[CPU] Rnn weights repacking (#16992)
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/rnn.cpp
  src/plugins/intel_cpu/src/nodes/rnn.h
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/rnn_sequence.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix TSAN issue in GNA plugin
  src/plugins/intel_gna/src/gna_plugin_internal.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Review comments applied
  src/plugins/intel_cpu/src/nodes/common/tile_broadcast_utils.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/broadcast_eltwise.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Removed Trackable type support.
  tests/layer_tests/mo_python_api_tests/test_mo_convert_tf.py
  tools/mo/openvino/tools/mo/convert.py
  tools/mo/openvino/tools/mo/convert_impl.py
  tools/mo/openvino/tools/mo/front/tf/loader.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Process latest comments.
  src/plugins/intel_cpu/src/nodes/mha.cpp
  src/plugins/intel_cpu/src/nodes/strided_slice.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Change embIndex from int to size_t
  src/plugins/intel_cpu/src/nodes/embedding_bag_offset_sum.cpp
  src/plugins/intel_cpu/src/nodes/embedding_bag_offset_sum.h
  src/plugins/intel_cpu/src/nodes/embedding_bag_packed_sum.cpp
  src/plugins/intel_cpu/src/nodes/embedding_bag_packed_sum.h
  src/plugins/intel_cpu/src/nodes/embedding_bag_sum.h
  src/plugins/intel_cpu/src/nodes/embedding_segments_sum.cpp
  src/plugins/intel_cpu/src/nodes/embedding_segments_sum.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

tfl add_n test
  tests/layer_tests/tensorflow_lite_tests/test_tfl_AddN.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[GNA] tests added/justified to process both negative and positive path
  src/plugins/intel_gna/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Set ONNX opset in Reduce ops layer tests
  tests/layer_tests/onnx_tests/test_reduce.py
  tests/layer_tests/onnx_tests/test_reduce_lp.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Apply style formatting
  src/core/shape_inference/include/utils.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Skip tests in the pre-commit
  tools/mo/unit_tests/moc_tf_fe/conversion_basic_models_test.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Fix support for dyn batch without setting current
  src/plugins/intel_cpu/src/graph.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Revert changes to the common part
  src/core/template_extension/old/cpu_kernel.cpp
  src/inference/include/ie/ie_iextension.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Minor fixes
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/shuffle_channels.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Revert accidental change in the test file
  src/tests/functional/plugin/shared/src/behavior/infer_request/dynamic_batch.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Remove legacy dyn batch support
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/graph.h
  src/plugins/intel_cpu/src/infer_request.cpp
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/src/nodes/conv.h
  src/plugins/intel_cpu/src/nodes/deconv.cpp
  src/plugins/intel_cpu/src/nodes/deconv.h
  src/plugins/intel_cpu/src/nodes/depth_to_space.cpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/eltwise.h
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.h
  src/plugins/intel_cpu/src/nodes/generic.cpp
  src/plugins/intel_cpu/src/nodes/matmul.cpp
  src/plugins/intel_cpu/src/nodes/matmul.h
  src/plugins/intel_cpu/src/nodes/reorder.cpp
  src/plugins/intel_cpu/src/nodes/reorder.h
  src/plugins/intel_cpu/src/nodes/shuffle_channels.cpp
  src/plugins/intel_cpu/src/nodes/space_to_depth.cpp
  src/plugins/intel_cpu/src/nodes/split.cpp
  src/plugins/intel_cpu/src/nodes/split.h
  src/plugins/intel_cpu/src/nodes/tile.cpp
  src/plugins/intel_cpu/src/nodes/transpose.cpp
  src/tests/functional/plugin/shared/src/behavior/infer_request/dynamic_batch.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Intermediate state
  src/plugins/intel_cpu/src/exec_network.cpp
  src/plugins/intel_cpu/src/exec_network.h
  src/plugins/intel_cpu/src/graph.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Remove old dyn batch path in the new api
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/infer_request.cpp
  src/plugins/intel_cpu/src/infer_request.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Typo fix
  src/plugins/intel_cpu/src/graph.h
  src/plugins/intel_cpu/src/infer_request.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[GPU] Enable broadcast transition pass
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/tests/functional/plugin/gpu/subgraph_tests/dynamic/broadcast_eltwise.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix interpolate bug
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_interpolate.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
