Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

.ci/azure/android_arm64.yml:
  jobs:
  - job: android_arm64
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Debug
      OPENVINO_REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux.yml:
  jobs:
  - job: Lin
    strategy:
      matrix:
        Static:
          CMAKE_BUILD_SHARED_LIBS: 'OFF'
          PYTHON_STATIC_ARGS: -m "not dynamic_library"
          CMAKE_CPACK_GENERATOR: TGZ
          SAMPLES_INSTALL_DIR: $(INSTALL_DIR)/samples
          PYTHON_SAMPLES_INSTALL_DIR: $(SAMPLES_INSTALL_DIR)/python
  ...

.ci/azure/linux_arm64.yml:
  jobs:
  - job: linux_arm64
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      NUM_PROC: 2
      BUILD_TYPE: Release
      OPENVINO_REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_conditional_compilation.yml:
  jobs:
  - job: LinCC
    timeoutInMinutes: '90'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      MODELS_PATH: $(REPO_DIR)/../testdata
  ...

.ci/azure/linux_cuda.yml:
  jobs:
  - job: CUDAPlugin_Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      HOME_DIR: $(Agent.HomeDirectory)
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_debian.yml:
  jobs:
  - job: Lin_Debian
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      MODELS_PATH: $(REPO_DIR)/../testdata
  ...

.ci/azure/linux_intel_gna.yml:
  jobs:
  - job: Lin
    timeoutInMinutes: '180'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_onnxruntime.yml:
  jobs:
  - job: onnxruntime
    timeoutInMinutes: '90'
    pool:
      name: LIN_VMSS_VENV_ONNX_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/mac.yml:
  jobs:
  - job: Mac
    timeoutInMinutes: '360'
    pool:
      vmImage: macOS-11
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_CONTRIB_REPO_DIR: $(REPO_DIR)/../openvino_contrib
  ...

fix after review
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/comparison.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

ScaledDotProductAttention specification (with an extra scale argument)
  docs/articles_en/documentation/openvino_ir/operation_sets/available_opsets/opset13.md
  docs/articles_en/documentation/openvino_ir/operation_sets/operations_specifications/sequence/ScaledDotProductAttention.md
Due: none

Add readme for pytorch frontend
  src/frontends/pytorch/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Code style fix
  src/common/transformations/src/transformations/op_conversions/scaled_dot_product_attention_decomposition.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

updated readme
  src/plugins/intel_gna/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix windows build tests
  src/common/transformations/tests/common_optimizations/gelu_fusion.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

code style fix
  src/common/transformations/tests/common_optimizations/gelu_fusion.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

rm triggers; add nightly trigger; rm debug conditions
  .github/workflows/windows_conditional_compilation.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

rm comment on cache
  .github/workflows/windows_conditional_compilation.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

the test is updated
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/inplace_edge.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Apply suggestions from code review
  src/frontends/pytorch/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Mension fx decoder
  src/frontends/pytorch/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

added precision to test name
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/inplace_edge.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

adds utils folder
  tests/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update src/frontends/pytorch/README.md
  src/frontends/pytorch/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

WA issues with dynamic protobuf usage in Fes
  src/frontends/common/src/manager.cpp
  src/frontends/common/src/plugin_loader.cpp
  src/frontends/common/src/plugin_loader.hpp
  src/frontends/tests/frontend/shared/src/library_extension.cpp
  thirdparty/dependencies.cmake
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

address comments
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/inplace_edge.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

test
  tests/constraints.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[CI] [GHA] Extend Win CC pipeline with tests, make it static (#20579)
  .github/workflows/linux_conditional_compilation.yml
  .github/workflows/windows_conditional_compilation.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update requirements_secondary.txt
  tests/model_hub_tests/torch_tests/requirements_secondary.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update is_nonzero.cpp
  src/frontends/pytorch/src/op/is_nonzero.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update tests/model_hub_tests/torch_tests/requirements_secondary.txt
  tests/model_hub_tests/torch_tests/requirements_secondary.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix yml
  .github/workflows/windows_conditional_compilation.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[CONFORMANCE] Enable template calculation reference
  src/plugins/intel_cpu/tests/functional/single_layer_tests/adaptive_pooling.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/batch_to_space.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/classes/random_uniform.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/classes/random_uniform.hpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/convolution_backprop_data.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/group_convolution_backprop_data.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/one_hot.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/input_output_tensor_reuse.cpp
  src/plugins/intel_gpu/tests/functional/dynamic_tests/gpu_dyn_batch_shape_tests.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/convolution_backprop_data.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/group_convolution_backprop_data.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/random_uniform.cpp
  src/tests/functional/shared_test_classes/CMakeLists.txt
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/ov_subgraph.hpp
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  src/tests/ov_helpers/ov_models/include/ov_models/utils/ov_helpers.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_constants.hpp
  src/tests/test_utils/common_test_utils/src/graph_comparator.cpp
  src/tests/test_utils/functional_test_utils/src/ov_plugin_cache.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix yml (#20614)
  .github/workflows/windows_conditional_compilation.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

build fixes
  src/core/src/op/constant.cpp
  src/core/src/op/swish.cpp
  src/core/tests/pass/constant_folding.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

code style fix
  src/core/src/op/swish.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add transformations.md
  src/plugins/intel_gna/docs/transformations.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

code review fixes
  src/plugins/intel_gna/docs/transformations.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix tests
  src/core/tests/type_prop/interpolate.cpp
  src/core/tests/type_prop/matrix_nms.cpp
  src/core/tests/type_prop/multiclass_nms.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

windows build fix
  src/common/transformations/tests/common_optimizations/gelu_fusion.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
