Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools

DOCS Udpate banchmark files
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/model-accuracy-int8-fp32.rst
  docs/sphinx_setup/_static/benchmarks_files/OV-2023.3-Performance-Data.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-2023.3-platform_list.pdf
  docs/sphinx_setup/_static/benchmarks_files/OV-2023.3-system-info-detailed.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-benchmark-data.csv
  docs/sphinx_setup/_static/benchmarks_files/OVMS-benchmark-data.csv
  docs/sphinx_setup/_static/js/graphs.js
Due: none

[ADD] Detailed description of all behaviours of StridedSlice
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operations-specifications/movement/strided-slice-1.rst
Due: none

DOCS Udpate banchmark files
  docs/articles_en/about_openvino/performance_benchmarks.rst
  docs/articles_en/about_openvino/performance_benchmarks/performance_int8_vs_fp32.rst
  docs/sphinx_setup/_static/benchmarks_files/OV-2023.3-Performance-Data.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-2023.3-platform_list.pdf
  docs/sphinx_setup/_static/benchmarks_files/OV-2023.3-system-info-detailed.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-benchmark-data.csv
  docs/sphinx_setup/_static/benchmarks_files/OVMS-benchmark-data.csv
  docs/sphinx_setup/_static/js/graphs.js
Due: none

[DOCS] Udpate banchmark files PORT to 2024 (#23038)
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/model-accuracy-int8-fp32.rst
  docs/sphinx_setup/_static/benchmarks_files/OV-2023.3-Performance-Data.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-2023.3-platform_list.pdf
  docs/sphinx_setup/_static/benchmarks_files/OV-2023.3-system-info-detailed.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-benchmark-data.csv
  docs/sphinx_setup/_static/benchmarks_files/OVMS-benchmark-data.csv
  docs/sphinx_setup/_static/js/graphs.js
Due: none

DOCS Udpate banchmark files to 2023.3 (#23040)
  docs/articles_en/about_openvino/performance_benchmarks.rst
  docs/articles_en/about_openvino/performance_benchmarks/performance_int8_vs_fp32.rst
  docs/sphinx_setup/_static/benchmarks_files/OV-2023.3-Performance-Data.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-2023.3-platform_list.pdf
  docs/sphinx_setup/_static/benchmarks_files/OV-2023.3-system-info-detailed.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-benchmark-data.csv
  docs/sphinx_setup/_static/benchmarks_files/OVMS-benchmark-data.csv
  docs/sphinx_setup/_static/js/graphs.js
Due: none

Replace `func_test_utils` with `common` in `ov_proxy_plugin_tests`
  src/plugins/proxy/tests/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

link fix 2024
  README.md
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-retina-net.rst
  docs/articles_en/documentation/openvino-extensibility/openvino-plugin-library.rst
  docs/articles_en/documentation/openvino-extensibility/openvino-plugin-library/plugin-api-references.rst
  docs/articles_en/get-started/install-openvino-overview/install-openvino-shared/install-openvino-pip.rst
  docs/articles_en/learn-openvino/openvino-samples/get-started-demos.rst
  docs/articles_en/openvino-workflow/running-inference/dynamic-shapes.rst
  docs/articles_en/openvino-workflow/running-inference/integrate-openvino-with-your-application.rst
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/general-optimizations.rst
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/optimizie-preprocessing/integrate-save-preprocessing-use-case.rst
  docs/dev/cmake_options_for_custom_compilation.md
  docs/dev/debug_capabilities.md
  docs/dev/pypi_publish/pypi-openvino-dev.md
  docs/dev/pypi_publish/pypi-openvino-rt.md
  docs/home.rst
Due: none

[PyOV] Add doc strings to Python Remote API functions (#23030)
  src/bindings/python/src/pyopenvino/core/remote_context.cpp
  src/bindings/python/src/pyopenvino/core/remote_tensor.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

place C++ tests right into the sanitizer workflows
  .github/workflows/job_cxx_unit_tests.yml
  .github/workflows/linux_sanitizers.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add missing need
  .github/workflows/linux_sanitizers.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[TF FE] Add layer test for tf.raw_ops.RaggedTensorToTensor
  tests/layer_tests/tensorflow_tests/test_tf_RaggedTensorToTensor.py
Due: .ci/azure/linux.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Use different type for shape
  tests/layer_tests/tensorflow_tests/test_tf_RaggedTensorToTensor.py
Due: .ci/azure/linux.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Clean up models cache.
  .github/workflows/linux.yml
  tests/model_hub_tests/models_hub_common/constants.py
  tests/model_hub_tests/tensorflow/test_tf_convert_model.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Corrected workflow file.
  .github/workflows/job_tensorflow_models_tests.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

gen-ai-nncf-doc-update
  docs/articles_en/openvino-workflow/generative-ai-models-guide.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/weight-compression.rst
Due: none

Support OpExtension in frontends (#22961)
  docs/articles_en/documentation/openvino-extensibility/frontend-extensions.rst
  docs/snippets/ov_extensions.cpp
  src/core/include/openvino/core/op_extension.hpp
  src/frontends/onnx/frontend/src/frontend.cpp
  src/frontends/paddle/src/frontend.cpp
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow_lite/src/frontend.cpp
  src/frontends/tests/frontend/shared/test_builtin_extensions/builtin_extensions.cpp
  tests/layer_tests/mo_python_api_tests/test_mo_convert_extensions.py
  tests/layer_tests/py_frontend_tests/test_torch_frontend.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Memory Leak fix (#18868)
  src/inference/src/threading/ie_cpu_streams_executor.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Renamed pytorch dir.
  .github/CODEOWNERS
  .github/workflows/job_pytorch_models_tests.yml
  tests/model_hub_tests/pytorch/conftest.py
  tests/model_hub_tests/pytorch/detectron2_models
  tests/model_hub_tests/pytorch/detectron2_precommit
  tests/model_hub_tests/pytorch/hf_transformers_models
  tests/model_hub_tests/pytorch/requirements.txt
  tests/model_hub_tests/pytorch/requirements_secondary.txt
  tests/model_hub_tests/pytorch/scripts/process_op_report.py
  tests/model_hub_tests/pytorch/test_aliked.py
  tests/model_hub_tests/pytorch/test_detectron2.py
  tests/model_hub_tests/pytorch/test_edsr.py
  tests/model_hub_tests/pytorch/test_gfpgan.py
  tests/model_hub_tests/pytorch/test_hf_transformers.py
  tests/model_hub_tests/pytorch/test_speech-transformer.py
  tests/model_hub_tests/pytorch/test_timm.py
  tests/model_hub_tests/pytorch/test_torchbench.py
  tests/model_hub_tests/pytorch/test_torchvision_models.py
  tests/model_hub_tests/pytorch/test_tpsmm.py
  tests/model_hub_tests/pytorch/timm_models
  tests/model_hub_tests/pytorch/torch_utils.py
  tests/model_hub_tests/pytorch/torchbench_models
  tests/model_hub_tests/pytorch/torchvision_models
  tests/model_hub_tests/tensorflow/test_tf_convert_model.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Restore `ov_models`: leftover
  src/tests/functional/plugin/shared/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[CPU] Fixed BF16 Matmul inference precision (#22994)
  src/plugins/intel_cpu/src/nodes/executors/fullyconnected_implementations.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] Updated Gen.AI and NNCF documentation for 2024 (#23044)
  docs/articles_en/openvino-workflow/generative-ai-models-guide.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/weight-compression.rst
Due: none

[GPU][Slice]: Removed warning, which can affect the performace, since cannot be disabled during compilation..
  src/plugins/intel_gpu/src/graph/slice.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

added different data types for inputs
  tests/layer_tests/pytorch_tests/test_dot.py
Due: .ci/azure/linux.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

improve documentation
  src/bindings/python/src/pyopenvino/graph/partial_shape.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Revert int change to i64
  src/bindings/python/src/openvino/frontend/pytorch/utils.py
  tests/layer_tests/py_frontend_tests/test_torch_frontend.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Add docs to Core
  src/bindings/python/src/pyopenvino/core/core.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Release GIL while creating remote tensors
  src/bindings/python/src/pyopenvino/core/remote_context.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Delete check that ReadValue/Assign operations have to be in pair in ov::Model
  src/core/src/model.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

added inline op
  src/frontends/pytorch/src/op_table.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

implemented suggestion
  src/frontends/pytorch/src/op/expm1.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

enable all sanitizers using matrix
  .github/workflows/linux_sanitizers.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Apply suggestions from code review
  .github/workflows/job_tensorflow_models_tests.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

GridSample in template plugin supports more precisions
  src/core/reference/include/openvino/reference/grid_sample.hpp
  src/plugins/template/backend/ops/grid_sample.cpp
  src/plugins/template/tests/functional/op_reference/grid_sample.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

refactoring get_cpu_pinning() (#22489)
  .github/workflows/windows.yml
  .github/workflows/windows_conditional_compilation.yml
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/cpu-device.rst
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/cpu_map_scheduling.cpp
  src/plugins/intel_cpu/src/cpu_map_scheduling.hpp
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_cpu/tests/functional/custom/behavior/ov_plugin/properties.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/cpu_pinning_test.cpp
  src/tests/test_utils/functional_test_utils/layer_tests_summary/run_parallel.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml
