Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_conditional_compilation.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_onnxruntime.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/mac.yml: any file but: docs
  .ci/azure/windows.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/windows_conditional_compilation.yml: any file but: docs, **/docs, **/*.md, README.md

DOCS: Edits to streamline Install OpenVINO Overview Page - Port from master (#13830)
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/installing-openvino-overview.md
Due: none

fix tensor name issue on gna
  src/common/transformations/src/transformations/op_conversions/convert_ti_to_sequences.cpp
  src/core/src/pass/low_latency.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Add developer guide for conditional compilation
  src/common/conditional_compilation/README.md
  src/common/conditional_compilation/docs/develop_cc_for_new_component.md
Due: .ci/azure/mac.yml

Update doxyrest.py
  docs/doxyrest-sphinx/doxyrest.py
Due: none

[GNA] Support GNA 3.5 (MTL) target in OV (#13478)
  samples/cpp/speech_sample/main.cpp
  src/inference/include/openvino/runtime/intel_gna/properties.hpp
  src/plugins/intel_gna/src/gna_device.cpp
  src/plugins/intel_gna/src/gna_plugin_config.cpp
  src/plugins/intel_gna/tests/functional/pass_tests/conv_with_padding.cpp
  src/plugins/intel_gna/tests/functional/pass_tests/convert_padded_to_valid_conv.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/single_layer_tests/convolution.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/single_layer_tests/convolution_negative.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/single_layer_tests/low_precision.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/skip_tests_check.hpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/convolution_relu_sequence.cpp
  src/plugins/intel_gna/tests/unit/gna_plugin_config_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

ONNX: Throw exception if attribute reduction is used in ScatterND or ScatterElements (#13778)
  src/frontends/onnx/frontend/src/op/scatter_elements.cpp
  src/frontends/onnx/frontend/src/op/scatter_nd.cpp
  src/frontends/onnx/tests/models/scatter_elements_opset16_reduction_add.prototxt
  src/frontends/onnx/tests/models/scatter_elements_opset16_reduction_none.prototxt
  src/frontends/onnx/tests/models/scatter_nd_opset16_reduction_add.prototxt
  src/frontends/onnx/tests/models/scatter_nd_opset16_reduction_none.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

update dir
  docs/doxyrest-sphinx/doxyrest.py
Due: none

Mark the single element case as xfail
  tests/layer_tests/tensorflow_tests/test_tf_Unique.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

benchmark_app: --latency_percentile: don't list all values (#13799)
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix transformation tests, fix copying rt_info in the transformation
  src/common/transformations/src/transformations/op_conversions/convert_ti_to_sequences.cpp
  src/tests/functional/inference_engine/transformations/op_conversions/convert_ti_to_sequences_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Add bert_benhcmark/README.md
  docs/OV_Runtime_UG/Samples_Overview.md
  samples/python/benchmark/bert_benhcmark/README.md
Due: .ci/azure/mac.yml

fix warning, enable bf16, f64 ti tests
  src/common/transformations/src/transformations/op_conversions/convert_ti_to_sequences.cpp
  src/core/src/op/unsqueeze.cpp
  src/plugins/template/tests/functional/op_reference/tensor_iterator.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

rm -r samples/python/benchmark/dynamic_shape_bert_benhcmark/
  samples/python/benchmark/dynamic_shape_bert_benhcmark/README.md
  samples/python/benchmark/dynamic_shape_bert_benhcmark/dynamic_shape_bert_benhcmark.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

rm -r samples/cpp/benchmark/dynamic_shape_detection_benchmark/
  samples/cpp/benchmark/dynamic_shape_detection_benchmark/CMakeLists.txt
  samples/cpp/benchmark/dynamic_shape_detection_benchmark/main.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

image fix
  docs/MO_DG/img/inception_v1_first_block.png
  docs/MO_DG/img/inception_v1_first_block.svg
  docs/MO_DG/img/inception_v1_std_input.png
  docs/MO_DG/img/inception_v1_std_input.svg
  docs/MO_DG/img/inception_v1_std_output.png
  docs/MO_DG/img/inception_v1_std_output.svg
  docs/MO_DG/prepare_model/convert_model/Cutting_Model.md
Due: none

image-fix-text
  docs/MO_DG/img/inception_v1_first_block.svg
  docs/MO_DG/img/inception_v1_std_input.svg
  docs/MO_DG/img/inception_v1_std_output.svg
Due: none

Try to fix scipy
  tests/stress_tests/scripts/requirements.txt
  tools/pot/setup.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

codestyle
  src/common/transformations/src/transformations/op_conversions/convert_ti_to_sequences.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

apply review comments
  samples/cpp/benchmark_app/main.cpp
  src/inference/include/ie/ie_plugin_config.hpp
  tools/benchmark_tool/openvino/tools/benchmark/main.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

remove blank line
  src/inference/include/ie/ie_plugin_config.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Apply improvements I found during https://github.com/openvinotoolkit/openvino/pull/13388 (#13743)
  samples/cpp/benchmark_app/infer_request_wrap.hpp
  samples/cpp/benchmark_app/main.cpp
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/src/pyopenvino/core/async_infer_queue.cpp
  tools/benchmark_tool/openvino/tools/benchmark/benchmark.py
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/utils.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Review opset1 squeeze for shape inference aspects (#13716)
  src/core/shape_inference/include/shape_nodes.hpp
  src/core/shape_inference/include/squeeze_shape_inference.hpp
  src/core/src/op/squeeze.cpp
  src/core/tests/type_prop/binary_elementwise.cpp
  src/core/tests/type_prop/gather.cpp
  src/core/tests/type_prop/squeeze.cpp
  src/core/tests/type_prop/unsqueeze.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/shape_node_tests.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/squeeze_shape_inference_test.cpp
  src/plugins/intel_gpu/src/graph/reshape.cpp
  src/tests/ie_test_utils/common_test_utils/test_assertions.hpp
  src/tests/util/type_prop.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Tensor shape calculation helper
  src/core/reference/include/ngraph/runtime/reference/unique.hpp
  src/plugins/template/backend/evaluates_map.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

bert_benhcmark/README.md: remove dynamic shape
  samples/python/benchmark/bert_benhcmark/README.md
Due: .ci/azure/mac.yml

Remove add_subdirectory(dynamic_shape_detection_benchmark)
  samples/cpp/benchmark/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix streams is wrong on P/E-core which has 6 big cores
  src/inference/src/threading/ie_cpu_streams_executor.cpp
  src/inference/src/threading/ie_istreams_executor.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

flake8
  samples/python/benchmark/bert_benhcmark/bert_benhcmark.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Force cast to float for float16/bfloat16 in ref
  src/core/reference/include/ngraph/runtime/reference/is_finite.hpp
  src/core/reference/include/ngraph/runtime/reference/is_inf.hpp
  src/core/reference/include/ngraph/runtime/reference/is_nan.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix style
  src/core/reference/include/ngraph/runtime/reference/is_finite.hpp
  src/core/reference/include/ngraph/runtime/reference/is_inf.hpp
  src/core/reference/include/ngraph/runtime/reference/is_nan.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fixed issue with transposed concat inputs
  src/plugins/intel_gna/src/gna_graph_patterns.hpp
  src/plugins/intel_gna/src/optimizer/gna_pass_manager.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml
