Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools

[Core] remove ExecutableNetworkThreadSafeDefault and AsyncInferRequestThreadSafeDefault (#22358)
  src/inference/dev_api/cpp_interfaces/impl/ie_executable_network_thread_safe_default.hpp
  src/inference/dev_api/cpp_interfaces/impl/ie_infer_async_request_thread_safe_default.hpp
  src/inference/tests/unit/cpp_interfaces/ie_infer_async_request_thread_safe_default_test.cpp
  src/inference/tests/unit/cpp_interfaces/ie_plugin_test.cpp
  src/tests/test_utils/unit_test_utils/mock.cpp
  src/tests/test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_async_infer_request_default.hpp
  src/tests/test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_executable_thread_safe_default.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Xuejun/remove ie extension file (#22334)
  src/core/tests/pass/serialization/custom_ops.cpp
  src/frontends/onnx/tests/op_extension.cpp
  src/inference/dev_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  src/inference/include/ie/cpp/ie_cnn_network.h
  src/inference/include/ie/ie_core.hpp
  src/inference/include/ie/ie_extension.h
  src/inference/include/ie/ie_iextension.h
  src/inference/src/cnn_network_ngraph_impl.cpp
  src/inference/src/cnn_network_ngraph_impl.hpp
  src/inference/src/cpp/ie_cnn_network.cpp
  src/inference/src/cpp/ie_extension.cpp
  src/inference/src/cpp_interfaces/interface/ie_iplugin_internal.cpp
  src/inference/src/dev/converter_utils.cpp
  src/inference/src/dev/converter_utils.hpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/inference/src/dev/plugin.hpp
  src/inference/src/ie_common.cpp
  src/inference/src/ie_data.cpp
  src/inference/src/ie_network_reader.cpp
  src/inference/src/ie_network_reader.hpp
  src/inference/tests/functional/core_threading.cpp
  src/inference/tests/functional/ov_core_threading.cpp
  src/plugins/intel_cpu/src/nodes/executors/deconv.hpp
  src/plugins/intel_cpu/src/shape_inference/shape_inference_cpu.hpp
  src/tests/test_utils/unit_test_utils/mocks/openvino/runtime/mock_iplugin.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Apply suggestions from code review
  docs/articles_en/openvino_workflow/gen_ai.rst
Due: none

minor fix
  src/plugins/intel_gpu/README.md
  src/plugins/intel_gpu/docs/dynamic_shape/overall_flow.md
  src/plugins/intel_gpu/docs/dynamic_shape/preprocessing.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Typo fixed
  src/plugins/intel_gpu/docs/dynamic_shape/async_compilation.md
  src/plugins/intel_gpu/docs/dynamic_shape/dynamic_impl.md
  src/plugins/intel_gpu/docs/dynamic_shape/in_memory_cache.md
  src/plugins/intel_gpu/docs/dynamic_shape/memory_preallocation.md
  src/plugins/intel_gpu/docs/dynamic_shape/preprocessing.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix review comments
  src/bindings/c/tests/ov_auto_property_test.cpp
  src/plugins/auto/tests/unit/compile_model_metric_test.cpp
  src/plugins/auto/tests/unit/ctput_test.cpp
  src/plugins/auto/tests/unit/release_helper_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update NPU.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins/NPU.rst
Due: none

adjust contents
  src/plugins/intel_gpu/docs/dynamic_shape/async_compilation.md
  src/plugins/intel_gpu/docs/dynamic_shape/preprocessing.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Serialize fix.
  src/core/src/pass/serialize.cpp
  src/frontends/ir/src/ir_deserializer.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

deprecated doc
  docs/articles_en/openvino_workflow/model_preparation.rst
Due: none

fix unit tests
  src/common/transformations/src/transformations/op_conversions/convert_ti_to_sequences.cpp
  src/common/transformations/tests/op_conversions/convert_ti_to_sequences_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Code style.
  src/core/src/pass/serialize.cpp
  src/frontends/ir/src/ir_deserializer.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix
  docs/sphinx_setup/_static/js/graphs.js
Due: none

[DOCS] final benchmark data + conf version (#22375)
  docs/articles_en/about_openvino/performance_benchmarks.rst
  docs/articles_en/about_openvino/performance_benchmarks/performance_int8_vs_fp32.rst
  docs/sphinx_setup/conf.py
Due: none

Support armhf, arm64, riscv for DEVICE_ARCHITECTURE in CPU plugin
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/behavior/ov_plugin/properties.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] quick fix graph.js to 23.3
  docs/sphinx_setup/_static/js/graphs.js
Due: none

Update NPU.rst (#22377)
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins/NPU.rst
Due: none

NPU Update
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins/NPU.rst
Due: none

Update Device_Plugins.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins.rst
Due: none

start with organisation doc
  docs/dev/ci/github_actions/reusable_workflows.md
Due: none

Moved KeepInGraphOp to TF internal ops.
  src/core/include/openvino/op/util/keep_in_graph_op.hpp
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/translate_session.cpp
  src/frontends/tensorflow_common/include/helper_ops/keep_in_graph_op.hpp
  src/frontends/tensorflow_common/src/op/write_file.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix testing model
  tests/layer_tests/tensorflow_tests/test_tf_AssignOps.py
Due: .ci/azure/linux.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Minor fix.
  src/frontends/tensorflow_common/include/helper_ops/keep_in_graph_op.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[Deprecated API] Remove api set_adding_above
  src/core/include/openvino/op/util/convolution_base.hpp
  src/core/include/openvino/op/util/max_pool_base.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] NPU update for master (#22379)
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins/NPU.rst
Due: none

Integrate `FactoryRegistry` into `OpSet`
  src/core/include/openvino/opsets/factory.hpp
  src/core/include/openvino/opsets/opset.hpp
  src/core/src/factory.cpp
  src/core/src/opsets/opset.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[conformanceAPI] Remove outdated test (#18323)
  src/plugins/auto/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_executable_network/exec_net_base.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_executable_network/properties.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/compiled_model/properties.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_executable_network/exec_graph_info.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/tests/functional/plugin/shared/include/base/ov_behavior_test_utils.hpp
  src/tests/functional/plugin/shared/include/behavior/compiled_model/import_export.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_graph_info.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_network_base.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/get_metric.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/properties.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration_sw.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/properties_tests.hpp
  src/tests/functional/plugin/shared/src/behavior/compiled_model/import_export.cpp
  src/tests/functional/plugin/shared/src/behavior/compiled_model/properties.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_executable_network/get_metric.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_executable_network/properties.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/properties_tests.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add section about adding
  docs/dev/ci/github_actions/reusable_workflows.md
Due: none

[core] Drop legacy shape infer from validation utils (#22036)
  src/core/dev_api/validation_util.hpp
  src/core/include/ngraph/validation_util.hpp
  src/core/include/openvino/core/validation_util.hpp
  src/core/src/validation_util.cpp
  src/frontends/onnx/frontend/src/utils/convpool.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/convolution.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/pooling.cpp
  src/plugins/intel_gpu/src/graph/pooling.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add examples, clearer wording
  docs/dev/ci/github_actions/reusable_workflows.md
Due: none

[DOCS] NPU further tweaks
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins/NPU.rst
Due: none

Remove interval.hpp, ops.hpp, slice_plan.hpp
  src/core/include/ngraph/interval.hpp
  src/core/include/ngraph/ops.hpp
  src/core/include/ngraph/slice_plan.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

try risc-v with sccache
  .github/workflows/linux_riscv.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] NPU further tweaks (#22385)
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins/NPU.rst
Due: none
