Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools

[TF FE] Provide single tensor names for inputs and outputs in SavedModel
  src/frontends/tensorflow/src/translate_session.cpp
  src/frontends/tensorflow/tests/convert_saved_model.cpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_saved_model_parameter_result.py
  tests/layer_tests/common/tf2_layer_test_class.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Disable test cases which suffer JS OOM and memory out of bound
  src/inference/tests/functional/caching_test.cpp
  src/inference/tests/functional/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/plugin/core_threading_tests.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix build issue
  src/frontends/tensorflow/src/translate_session.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update prerelease_information.md (#17374)
  docs/resources/prerelease_information.md
Due: none

Update docs/OV_Runtime_UG/supported_plugins/GPU.md
  docs/OV_Runtime_UG/supported_plugins/GPU.md
Due: none

DOCS shift to rst
  docs/ops/activation/Mish_4.md
  docs/ops/arithmetic/Maximum_1.md
  docs/ops/arithmetic/Minimum_1.md
  docs/ops/arithmetic/Mod_1.md
  docs/ops/arithmetic/Multiply_1.md
  docs/ops/matrix/MatMul_1.md
  docs/ops/normalization/MVN_1.md
  docs/ops/normalization/MVN_6.md
  docs/ops/pooling/MaxPool_1.md
  docs/ops/pooling/MaxPool_8.md
  docs/ops/sort/MatrixNMS_8.md
  docs/ops/sort/MulticlassNonMaxSuppression_8.md
  docs/ops/sort/MulticlassNonMaxSuppression_9.md
Due: none

renumber FAQ
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
Due: none

Xfail some cases due to internal problems in TF
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_activation.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_conv_lstm_2d.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

tfl segment_sum
  tests/layer_tests/tensorflow_lite_tests/test_tfl_SegmentSum.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[TF frontend] use InterpolateMode::LINEAR_ONNX if input rank is 4
  src/frontends/tensorflow_common/src/op/interpolate.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

tfl select
  tests/layer_tests/tensorflow_lite_tests/test_tfl_Select.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

DOCS shift to rst - Opsets E for master (#17363)
  docs/ops/activation/Elu_1.md
  docs/ops/activation/Exp_1.md
  docs/ops/arithmetic/Abs_1.md
  docs/ops/arithmetic/Acos_1.md
  docs/ops/arithmetic/Acosh_3.md
  docs/ops/arithmetic/Add_1.md
  docs/ops/arithmetic/Asin_1.md
  docs/ops/arithmetic/Asinh_3.md
  docs/ops/arithmetic/Atan_1.md
  docs/ops/arithmetic/Atanh_3.md
  docs/ops/arithmetic/Erf_1.md
  docs/ops/comparison/Equal_1.md
  docs/ops/detection/ExperimentalDetectronDetectionOutput_6.md
  docs/ops/detection/ExperimentalDetectronGenerateProposalsSingleImage_6.md
  docs/ops/detection/ExperimentalDetectronPriorGridGenerator_6.md
  docs/ops/detection/ExperimentalDetectronROIFeatureExtractor_6.md
  docs/ops/generation/Eye_9.md
  docs/ops/infrastructure/Assign_3.md
  docs/ops/matrix/Einsum_7.md
  docs/ops/movement/ExtractImagePatches_3.md
  docs/ops/pooling/AdaptiveAvgPool_8.md
  docs/ops/pooling/AdaptiveMaxPool_8.md
  docs/ops/pooling/AvgPool_1.md
  docs/ops/sort/ExperimentalDetectronTopKROIs_6.md
  docs/ops/sparse/EmbeddingBagOffsetsSum_3.md
  docs/ops/sparse/EmbeddingBagPackedSum_3.md
  docs/ops/sparse/EmbeddingSegmentsSum_3.md
Due: none

DOCS shift to rst - Opsets E for 23.0 (#17365)
  docs/ops/activation/Elu_1.md
  docs/ops/activation/Exp_1.md
  docs/ops/arithmetic/Abs_1.md
  docs/ops/arithmetic/Acos_1.md
  docs/ops/arithmetic/Acosh_3.md
  docs/ops/arithmetic/Add_1.md
  docs/ops/arithmetic/Asin_1.md
  docs/ops/arithmetic/Asinh_3.md
  docs/ops/arithmetic/Atan_1.md
  docs/ops/arithmetic/Atanh_3.md
  docs/ops/arithmetic/Erf_1.md
  docs/ops/comparison/Equal_1.md
  docs/ops/detection/ExperimentalDetectronDetectionOutput_6.md
  docs/ops/detection/ExperimentalDetectronGenerateProposalsSingleImage_6.md
  docs/ops/detection/ExperimentalDetectronPriorGridGenerator_6.md
  docs/ops/detection/ExperimentalDetectronROIFeatureExtractor_6.md
  docs/ops/generation/Eye_9.md
  docs/ops/infrastructure/Assign_3.md
  docs/ops/matrix/Einsum_7.md
  docs/ops/movement/ExtractImagePatches_3.md
  docs/ops/pooling/AdaptiveAvgPool_8.md
  docs/ops/pooling/AdaptiveMaxPool_8.md
  docs/ops/pooling/AvgPool_1.md
  docs/ops/sort/ExperimentalDetectronTopKROIs_6.md
  docs/ops/sparse/EmbeddingBagOffsetsSum_3.md
  docs/ops/sparse/EmbeddingBagPackedSum_3.md
  docs/ops/sparse/EmbeddingSegmentsSum_3.md
Due: none

Segment Sum renamed in common lib
  src/frontends/tensorflow_lite/src/op_table.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update installing-openvino-runtime.md
  docs/install_guides/installing-openvino-runtime.md
Due: none

tfl select_v2
  tests/layer_tests/tensorflow_lite_tests/test_tfl_SelectV2.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Reimplemented models in ngraph, added fp32 tests
  src/plugins/intel_gna/tests/functional/fp32_inference_tests/fp32_inference_tests.cpp
  src/plugins/intel_gna/tests/functional/fp32_inference_tests/test_models.cpp
  src/plugins/intel_gna/tests/functional/fp32_inference_tests/test_models.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Deleted olf FP32 tests
  src/plugins/intel_gna/tests/deprecated/unit/engines/gna/fp32_non_quantized_tests.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Switched test implementation to SubgraphBaseTest
  src/plugins/intel_gna/tests/functional/fp32_inference_tests/fp32_inference_tests.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

extended existing subgraph tests by SW_FP32 mode instead of separate FP32 tests
  src/plugins/intel_gna/tests/functional/fp32_inference_tests/fp32_inference_tests.cpp
  src/plugins/intel_gna/tests/functional/fp32_inference_tests/test_models.cpp
  src/plugins/intel_gna/tests/functional/fp32_inference_tests/test_models.hpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/broadcast_power.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/concat_conv.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/concat_quantization.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/matmul_squeeze_add.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/memory_fq_concat_prelu.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/multi_input_scale.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/softsign.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/split_conv.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/stridedslice_concat.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/stridedslice_conv.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Extended additional subgraph tests by SW_FP32 mode, needed to modify base test classes
  src/plugins/intel_gna/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/activation_concats_eltwise.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/concat_multi_input.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/get_output_before_activation.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/multioutput_eltwise_squeeze_eltwise.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/multiple_input_fq.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/perm_conv_perm_concat.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/reshape_permute_conv_permute_reshape_act.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/strided_slice.cpp
  src/tests/functional/shared_test_classes/src/subgraph/activation_concats_eltwise.cpp
  src/tests/functional/shared_test_classes/src/subgraph/concat_multi_input.cpp
  src/tests/functional/shared_test_classes/src/subgraph/get_output_before_activation.cpp
  src/tests/functional/shared_test_classes/src/subgraph/multioutput_eltwise_squeeze_eltwise.cpp
  src/tests/functional/shared_test_classes/src/subgraph/multiple_input_fq.cpp
  src/tests/functional/shared_test_classes/src/subgraph/perm_conv_perm_concat.cpp
  src/tests/functional/shared_test_classes/src/subgraph/reshape_permute_conv_permute_reshape_act.cpp
  src/tests/functional/shared_test_classes/src/subgraph/strided_slice.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

remove scale factor from fp32 tests
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/multi_input_scale.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/reshape_permute_conv_permute_reshape_act.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/softsign.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Actualize README.md in WASM samples
  samples/js/wasm/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

DOCS shift to rst (#17377)
  docs/ops/activation/Mish_4.md
  docs/ops/arithmetic/Maximum_1.md
  docs/ops/arithmetic/Minimum_1.md
  docs/ops/arithmetic/Mod_1.md
  docs/ops/arithmetic/Multiply_1.md
  docs/ops/matrix/MatMul_1.md
  docs/ops/normalization/MVN_1.md
  docs/ops/normalization/MVN_6.md
  docs/ops/pooling/MaxPool_1.md
  docs/ops/pooling/MaxPool_8.md
  docs/ops/sort/MatrixNMS_8.md
  docs/ops/sort/MulticlassNonMaxSuppression_8.md
  docs/ops/sort/MulticlassNonMaxSuppression_9.md
Due: none
