Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

.ci/azure/android_arm64.yml:
  jobs:
  - job: android_arm64
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      OPENVINO_REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux.yml:
  jobs:
  - job: Lin
    strategy:
      matrix:
        Static:
          CMAKE_BUILD_SHARED_LIBS: 'OFF'
          PYTHON_STATIC_ARGS: -m "not dynamic_library and not template_plugin"
          CMAKE_CPACK_GENERATOR: null
          SAMPLES_INSTALL_DIR: $(INSTALL_DIR)/samples
  ...

.ci/azure/linux_arm64.yml:
  jobs:
  - job: linux_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      PYTHON_ARM_VERSION: 3.8.12
      PYTHON_EXEC: python3.8
      OPENVINO_ARCH: aarch64
      NUM_PROC: 1
  ...

.ci/azure/linux_conditional_compilation.yml:
  jobs:
  - job: LinCC
    timeoutInMinutes: '90'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      MODELS_PATH: $(REPO_DIR)/../testdata
  ...

.ci/azure/linux_cuda.yml:
  jobs:
  - job: CUDAPlugin_Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      HOME_DIR: $(Agent.HomeDirectory)
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_debian.yml:
  jobs:
  - job: Lin_Debian
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      MODELS_PATH: $(REPO_DIR)/../testdata
  ...

.ci/azure/linux_intel_gna.yml:
  jobs:
  - job: Lin
    timeoutInMinutes: '180'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_onnxruntime.yml:
  jobs:
  - job: onnxruntime
    timeoutInMinutes: '90'
    pool:
      name: LIN_VMSS_VENV_ONNX_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/mac.yml:
  jobs:
  - job: Mac
    timeoutInMinutes: '360'
    pool:
      vmImage: macOS-11
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_CONTRIB_REPO_DIR: $(REPO_DIR)/../openvino_contrib
  ...

Introduce ITensor instead of Blob (#16048)
  samples/cpp/benchmark_app/inputs_filling.cpp
  samples/cpp/benchmark_app/shared_tensor_allocator.hpp
  src/bindings/python/tests/test_runtime/test_tensor.py
  src/core/CMakeLists.txt
  src/core/dev_api/openvino/runtime/itensor.hpp
  src/core/include/openvino/core/any.hpp
  src/core/include/openvino/runtime/allocator.hpp
  src/core/include/openvino/runtime/tensor.hpp
  src/core/src/any.cpp
  src/core/src/runtime/allocator.cpp
  src/core/src/runtime/blob_allocator.hpp
  src/core/src/runtime/itensor.cpp
  src/core/src/runtime/ov_tensor.cpp
  src/core/tests/ov_default_allocator_test.cpp
  src/core/tests/ov_tensor_test.cpp
  src/inference/dev_api/openvino/runtime/iremote_tensor.hpp
  src/inference/include/ie/ie_blob.h
  src/inference/src/cpp/ie_remote_context.cpp
  src/inference/src/dev/converter_utils.cpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl_ie.cpp
  src/inference/src/dev/iremote_tensor.cpp
  src/inference/src/dev/isync_infer_request.cpp
  src/inference/src/dev/make_tensor.hpp
  src/inference/src/remote_tensor.cpp
  src/plugins/template/tests/functional/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/behavior/infer_request/io_blob.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

DOCS shift to rst - OpenVINO Security (#16280)
  docs/OV_Runtime_UG/protecting_model_guide.md
  docs/_static/images/deploy_encrypted_model.svg
  docs/security_guide/introduction.md
Due: none

Reduce the number of validate and infer types in ConvertPrecision (#15277)
  src/common/transformations/include/transformations/convert_precision.hpp
  src/common/transformations/src/transformations/common_optimizations/convert_compression_only_to_legacy.cpp
  src/common/transformations/src/transformations/convert_precision.cpp
  src/common/transformations/tests/utils/convert_precision.cpp
  src/core/src/pass/convert_fp32_to_fp16.cpp
  src/inference/tests/unit/query_model_test.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/convert_to_cpu_specific_opset.hpp
  src/plugins/intel_cpu/src/transformation_pipeline.cpp
  src/plugins/intel_cpu/src/transformation_pipeline.h
  src/plugins/intel_gna/legacy/tests/convert_ngraph_to_cnn_network_tests.cpp
  src/plugins/intel_gna/src/gna_transformations_pipeline.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[GPU] Transformed IR serialization for dynamic models (#16169)
  src/plugins/intel_gpu/include/intel_gpu/plugin/compiled_model.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/graph.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/legacy_api_helper.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/plugin.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/program.hpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/graph.cpp
  src/plugins/intel_gpu/src/plugin/legacy_api_helper.cpp
  src/plugins/intel_gpu/src/plugin/ops/gather.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/plugin/program.cpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_shapeof.cpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_shapeof.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Remove redundant clone from Serialize pass (#16277)
  src/core/include/openvino/op/binary_convolution.hpp
  src/core/src/pass/serialize.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[GPU] Shape agnostic concat kernel + refactoring (#16170)
  src/plugins/intel_gpu/include/intel_gpu/graph/kernel_impl_params.hpp
  src/plugins/intel_gpu/include/intel_gpu/graph/program.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/build_implementations.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/concatenation.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.h
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/include/eltwise_inst.h
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
  src/plugins/intel_gpu/src/graph/kernel_impl_params.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/concatenation_gpu_simple_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/concatenation/concatenation_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/concatenation/concatenation_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/concatenation/concatenation_kernel_simple_ref.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.cpp
  src/plugins/intel_gpu/tests/passes/prepare_buffer_fusing_test.cpp
  src/plugins/intel_gpu/tests/test_cases/concatenation_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_utils/program_wrapper.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Mark all failed ONNX layer tests as skip (#16188)
  tests/layer_tests/onnx_tests/test_add_sub_mul_div.py
  tests/layer_tests/onnx_tests/test_argmax.py
  tests/layer_tests/onnx_tests/test_bn.py
  tests/layer_tests/onnx_tests/test_conv.py
  tests/layer_tests/onnx_tests/test_conv_transpose.py
  tests/layer_tests/onnx_tests/test_dequantize_linear.py
  tests/layer_tests/onnx_tests/test_dropout.py
  tests/layer_tests/onnx_tests/test_embedding_bag.py
  tests/layer_tests/onnx_tests/test_gather.py
  tests/layer_tests/onnx_tests/test_gemm.py
  tests/layer_tests/onnx_tests/test_identity.py
  tests/layer_tests/onnx_tests/test_image_scaler.py
  tests/layer_tests/onnx_tests/test_logsoftmax.py
  tests/layer_tests/onnx_tests/test_lrn.py
  tests/layer_tests/onnx_tests/test_matmul.py
  tests/layer_tests/onnx_tests/test_mean_variance_normalization.py
  tests/layer_tests/onnx_tests/test_non_zero.py
  tests/layer_tests/onnx_tests/test_pooling.py
  tests/layer_tests/onnx_tests/test_reduce.py
  tests/layer_tests/onnx_tests/test_reduce_lp.py
  tests/layer_tests/onnx_tests/test_scale.py
  tests/layer_tests/onnx_tests/test_scatter.py
  tests/layer_tests/onnx_tests/test_slice.py
  tests/layer_tests/onnx_tests/test_softplus.py
  tests/layer_tests/onnx_tests/test_split_concat.py
  tests/layer_tests/onnx_tests/test_squeeze.py
  tests/layer_tests/onnx_tests/test_topk.py
  tests/layer_tests/onnx_tests/test_unsqueeze.py
  tests/layer_tests/onnx_tests/test_upsample.py
  tests/layer_tests/onnx_tests/test_where.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

DOCS shift to rst - Openvino Ecosystem article update (#16050)
  docs/Documentation/openvino_ecosystem.md
Due: none

[TF FE] Added Tensorflow CTCLoss layer test (#13644)
  src/frontends/tensorflow_common/src/op/ctc_loss.cpp
  tests/layer_tests/tensorflow_tests/test_tf_CTCLoss.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

DOCS shift to rst - cpu n gna (#16252)
  docs/OV_Runtime_UG/supported_plugins/CPU.md
  docs/OV_Runtime_UG/supported_plugins/GNA.md
  docs/OV_Runtime_UG/supported_plugins/config_properties.md
Due: none

DOCS shift to rst - `Stateful Models` and `LowLatency` articles (#16288)
  docs/OV_Runtime_UG/lowlatency2.md
  docs/OV_Runtime_UG/lowlatency_deprecated.md
  docs/OV_Runtime_UG/network_state_intro.md
  docs/_static/images/applying_low_latency.svg
  docs/_static/images/applying_low_latency_2.svg
  docs/_static/images/llt2_use_const_initializer.svg
Due: none

DOCS shift to rst - Heterogeneous execution (#16285)
  docs/OV_Runtime_UG/hetero_execution.md
Due: none

DOCS-image-fix (#16308)
  docs/_static/images/OV_flow_arrow.svg
  docs/_static/images/OV_flow_deployment.svg
  docs/_static/images/OV_flow_deployment_hvr.svg
  docs/_static/images/OV_flow_model.svg
  docs/_static/images/OV_flow_model_hvr.svg
  docs/_static/images/OV_flow_optimization.svg
  docs/_static/images/OV_flow_optimization_hvr.svg
Due: none

Review bucketize shape inference (#16136)
  src/core/shape_inference/include/bucketize_shape_inference.hpp
  src/core/src/op/bucketize.cpp
  src/core/tests/type_prop/bucketize.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/bucketize_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/bucketize_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

DOCS shift to rst - Installing OpenVINO (#16311)
  docs/_static/images/get_started_with_cpp.jpg
  docs/_static/images/get_started_with_python.gif
  docs/get_started/get_started_demos.md
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/installing-openvino-overview.md
  docs/install_guides/installing-openvino-yocto.md
Due: none

[ShapeInference] EmbeddingSegmentsSum shape infer improvements (#16119)
  src/core/shape_inference/include/embedding_segments_sum_shape_inference.hpp
  src/core/src/op/embedding_segments_sum.cpp
  src/core/tests/type_prop/embedding_segments_sum.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/embedding_segments_sum_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[ShapeInference] EmbeddingBag-Offsets/Packed-Sum shape infer improvements (#16072)
  src/core/shape_inference/include/embedding_shape_infer_utils.hpp
  src/core/shape_inference/include/embeddingbag_offsets_shape_inference.hpp
  src/core/shape_inference/include/embeddingbag_packed_shape_inference.hpp
  src/core/src/op/util/embeddingbag_offsets_base.cpp
  src/core/src/op/util/embeddingbag_packed_base.cpp
  src/core/tests/type_prop/embeddingbag_offsetssum.cpp
  src/core/tests/type_prop/embeddingbag_packedsum.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/embeddingbag_offsets_sum_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/embeddingbag_offsets_sum_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/embeddingbag_packed_sum_shape_inference_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix special FQ node (#14594)
  src/common/low_precision_transformations/include/low_precision/fold_fake_quantize.hpp
  src/common/low_precision_transformations/src/fold_fake_quantize.cpp
  src/common/low_precision_transformations/src/network_helper.cpp
  src/common/low_precision_transformations/tests/fake_quantize_transformation.cpp
  src/common/low_precision_transformations/tests/fold_fake_quantize_in_transformations.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/fake_quantize_transformation.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[Transformations] Nop-eliminate 1D Reshape node (#16083)
  src/common/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  src/common/transformations/tests/common_optimizations/nop_elimination.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

DOCS shift to rst - OpenVINO™ Security Add-on (#16251)
  docs/_static/images/ovsa_diagram.svg
  docs/_static/images/ovsa_example.svg
  docs/ovsa/ovsa_get_started.md
Due: none

DOCS shift to rst - Troubleshooting Reshape and NoDynamicShapes (#16304)
  docs/MO_DG/prepare_model/convert_model/Converting_Model.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_Object_Detection_API_Models.md
  docs/OV_Runtime_UG/Troubleshooting_ReshapeMethod.md
  docs/OV_Runtime_UG/ov_without_dynamic_shapes.md
  docs/_static/images/batch_relaxation.png
Due: none

DOCS shift to rst - Additional Configurations (#16284)
  docs/_static/images/DeviceDriverVersion.PNG
  docs/_static/images/DeviceManager.PNG
  docs/install_guides/configurations-for-intel-gpu.md
  docs/install_guides/configurations-header.md
Due: none

[GPU] Fix strided slice kernel with begin/end/stride as inputs (#16302)
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/strided_slice_ref.cl
  src/plugins/intel_gpu/tests/test_cases/strided_slice_gpu_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

TransposeSinking refactoring: part 2 (class names, folders, file names) (#16291)
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_binary.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_concat.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_data_movement.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_general.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_interpolate.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_split.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_unary.hpp
  src/common/transformations/include/transformations/transpose_sinking/ts_binary.hpp
  src/common/transformations/include/transformations/transpose_sinking/ts_concat.hpp
  src/common/transformations/include/transformations/transpose_sinking/ts_data_movement.hpp
  src/common/transformations/include/transformations/transpose_sinking/ts_fuse.hpp
  src/common/transformations/include/transformations/transpose_sinking/ts_general.hpp
  src/common/transformations/include/transformations/transpose_sinking/ts_interpolate.hpp
  src/common/transformations/include/transformations/transpose_sinking/ts_reduction.hpp
  src/common/transformations/include/transformations/transpose_sinking/ts_split.hpp
  src/common/transformations/include/transformations/transpose_sinking/ts_unary.hpp
  src/common/transformations/include/transformations/transpose_sinking/ts_utils.hpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_general.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_binary.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_concat.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_data_movement.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_fuse.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_general.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_interpolate.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_reduction.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_split.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_unary.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_utils.cpp
  src/common/transformations/tests/transpose_sinking/ts_binary_test.cpp
  src/common/transformations/tests/transpose_sinking/ts_common_test.cpp
  src/common/transformations/tests/transpose_sinking/ts_concat_test.cpp
  src/common/transformations/tests/transpose_sinking/ts_general_test.cpp
  src/common/transformations/tests/transpose_sinking/ts_split_test.cpp
  src/common/transformations/tests/transpose_sinking/ts_test_utils.cpp
  src/common/transformations/tests/transpose_sinking/ts_test_utils.hpp
  src/common/transformations/tests/transpose_sinking/ts_unary_test.cpp
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow_lite/src/frontend.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

remove invalid cases (#16234)
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_infer_request/infer_consistency.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] Adding 'Scrollbox' - new sphinx directive (#15305)
  docs/openvino_sphinx_theme/openvino_sphinx_theme/__init__.py
  docs/openvino_sphinx_theme/openvino_sphinx_theme/directives/code.py
  docs/openvino_sphinx_theme/openvino_sphinx_theme/static/css/openvino_sphinx_theme.css
Due: none

Revert ITensor leftovers (#16316)
  src/core/src/runtime/itensor.cpp
  src/inference/src/dev/iremote_tensor.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix win run (#16309)
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/run_parallel.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/summarize.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/stat_update_utils.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

DOCS-image-fix-fix (#16324)
  docs/_static/images/OV_flow_deployment.svg
  docs/_static/images/OV_flow_deployment_hvr.svg
Due: none

fix 1
  src/plugins/intel_gpu/CMakeLists.txt
  src/plugins/intel_gpu/src/graph/broadcast.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/pre_replace_deconv.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.h
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_utils.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convert_color/convert_color_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/ctc_loss/ctc_loss_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/ed_rfe/roi_feature_extractor_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gather/gather_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/matrix_nms/matrix_nms_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/multiclass_nms/multiclass_nms_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/resample/resample_kernel_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/scatter_update/scatter_nd_update_kernel_ref.cpp
  src/plugins/intel_gpu/src/plugin/ops/convolution.cpp
  src/plugins/intel_gpu/src/plugin/ops/ctc_greedy_decoder.cpp
  src/plugins/intel_gpu/src/plugin/ops/custom.cpp
  src/plugins/intel_gpu/src/plugin/ops/dft.cpp
  src/plugins/intel_gpu/src/plugin/ops/gather_nd.cpp
  src/plugins/intel_gpu/src/plugin/ops/one_hot.cpp
  src/plugins/intel_gpu/src/plugin/ops/proposal.cpp
  src/plugins/intel_gpu/src/plugin/ops/region_yolo.cpp
  src/plugins/intel_gpu/src/plugin/ops/reorg_yolo.cpp
  src/plugins/intel_gpu/src/plugin/ops/reverse_sequence.cpp
  src/plugins/intel_gpu/src/plugin/ops/rnn.cpp
  src/plugins/intel_gpu/src/plugin/ops/roi_pooling.cpp
  src/plugins/intel_gpu/src/plugin/ops/roll.cpp
  src/plugins/intel_gpu/src/plugin/ops/split.cpp
  src/plugins/intel_gpu/src/plugin/ops/strided_slice.cpp
  src/plugins/intel_gpu/src/plugin/ops/topk.cpp
  src/plugins/intel_gpu/src/plugin/program.cpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix 2-10
  src/plugins/intel_gpu/include/intel_gpu/plugin/graph.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/pre_replace_deconv.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_padding.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/concatenation_onednn.cpp
  src/plugins/intel_gpu/src/graph/include/sliding_window_utils.hpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/plugins/intel_gpu/src/plugin/infer_request_legacy.cpp
  src/plugins/intel_gpu/src/plugin/ops/constant.cpp
  src/plugins/intel_gpu/src/plugin/ops/custom.cpp
  src/plugins/intel_gpu/src/plugin/ops/detection_output.cpp
  src/plugins/intel_gpu/src/plugin/ops/gather_nd.cpp
  src/plugins/intel_gpu/src/plugin/ops/proposal.cpp
  src/plugins/intel_gpu/src/plugin/ops/roi_pooling.cpp
  src/plugins/intel_gpu/src/plugin/ops/strided_slice.cpp
  src/plugins/intel_gpu/src/plugin/program.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fixed code style
  src/plugins/intel_gpu/src/plugin/infer_request_legacy.cpp
  src/plugins/intel_gpu/src/plugin/ops/roll.cpp
  src/plugins/intel_gpu/src/plugin/ops/strided_slice.cpp
  src/plugins/intel_gpu/src/plugin/program.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fixed win plugin
  src/inference/dev_api/performance_heuristics.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/arg_max_min.hpp
  src/plugins/intel_gpu/src/graph/convolution.cpp
  src/plugins/intel_gpu/src/graph/deconvolution.cpp
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/gather.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/pre_replace_deconv.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_padding.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/arg_max_min.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/binary_convolution.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/concatenation.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/convolution.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/crop.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/deconvolution.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/deformable_convolution.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/non_zero.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/permute.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/pooling.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/prior_box.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/reduce.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/resample.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/slice.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/graph/pooling.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/graph/reduce.cpp
  src/plugins/intel_gpu/src/graph/strided_slice.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/border/border_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/detection_output/detection_output_kernel_ref.cpp
  src/plugins/intel_gpu/src/plugin/infer_request_legacy.cpp
  src/plugins/intel_gpu/src/plugin/ops/experimental_detectron_topk_rois.cpp
  src/plugins/intel_gpu/src/plugin/ops/extract_image_patches.cpp
  src/plugins/intel_gpu/src/plugin/ops/gather_nd.cpp
  src/plugins/intel_gpu/src/plugin/ops/lrn.cpp
  src/plugins/intel_gpu/src/plugin/ops/roll.cpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fixed linux plugin
  src/plugins/intel_gpu/src/plugin/ops/roll.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fixed a part of tests
  src/plugins/intel_gpu/tests/gtest_main_gpu.cpp
  src/plugins/intel_gpu/tests/module_tests/device_test.cpp
  src/plugins/intel_gpu/tests/module_tests/layout_test.cpp
  src/plugins/intel_gpu/tests/shape_infer/crop_si_test.cpp
  src/plugins/intel_gpu/tests/test_cases/adaptive_max_pooling_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/broadcast_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/convolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/crop_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/deconvolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/eltwise_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/gather_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/lru_caches_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/pooling_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/set_output_memory_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/slice.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fixed test fot linux
  src/plugins/intel_gpu/tests/test_cases/convolution_gpu_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fixed pooling_gpu_test fot linux
  src/plugins/intel_gpu/tests/test_cases/pooling_gpu_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix after review and enable wd4267 in makefile
  src/inference/dev_api/performance_heuristics.hpp
  src/plugins/intel_gpu/CMakeLists.txt
  src/plugins/intel_gpu/include/intel_gpu/plugin/graph.hpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/scatter_update/scatter_nd_update_kernel_ref.cpp
  src/plugins/intel_gpu/src/plugin/infer_request_legacy.cpp
  src/plugins/intel_gpu/tests/test_cases/deconvolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/lru_caches_gpu_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix after review
  src/plugins/intel_gpu/include/intel_gpu/primitives/arg_max_min.hpp
  src/plugins/intel_gpu/src/graph/broadcast.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/arg_max_min.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/plugin/infer_request_legacy.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
