Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools

Fixed WASM build in update docker container / new dependencies
  cmake/developer_package/native_compile.cmake
  src/core/include/openvino/core/visibility.hpp
  src/plugins/intel_cpu/src/plugin.cpp
  thirdparty/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

initial fix
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/tests/passes/remove_redundant_reorders_tests.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix data type of axis for win build
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add static casting for win build
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Revert "fix data type of axis for win build"
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add corresponding unit test
  src/plugins/intel_gpu/tests/passes/remove_redundant_reorders_tests.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

skip reorder fusing when sibling node does not support fused padding
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/tests/passes/remove_redundant_reorders_tests.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

State single value is uese (#15458)
  samples/cpp/benchmark_app/README.md
  samples/cpp/classification_sample_async/README.md
  samples/cpp/speech_sample/README.md
  samples/python/classification_sample_async/README.md
  samples/python/speech_sample/README.md
  tools/benchmark_tool/README.md
  tools/compile_tool/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

removed a couple more not actual questions
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
Due: none

arm: enable fq
  src/plugins/intel_cpu/src/nodes_factory.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[2022.3] Fix TSAN issues in GNA plugin (#17216)
  src/inference/dev_api/cpp_interfaces/impl/ie_executable_network_thread_safe_default.hpp
  src/plugins/intel_gna/src/gna_plugin_internal.hpp
  src/plugins/intel_gna/src/log/log.cpp
  src/plugins/intel_gna/src/log/log.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fixe clang issue
  cmake/developer_package/compile_flags/os_flags.cmake
  src/core/tests/pass/serialization/serialize.cpp
  src/inference/tests/functional/caching_test.cpp
  src/inference/tests/functional/core_threading.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fixed WASM build in update docker container / new dependencies
  cmake/developer_package/native_compile.cmake
  src/core/include/openvino/core/visibility.hpp
  thirdparty/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Revert "Fix the SDL issues. (#17107)"
  src/plugins/intel_cpu/src/memory_desc/cpu_blocked_memory_desc.cpp
  src/plugins/intel_cpu/src/nodes/mha.cpp
  src/plugins/intel_cpu/src/nodes/strided_slice.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/slice.cpp
  src/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/builders.hpp
  src/tests/ngraph_helpers/ngraph_functions/src/strided_slice.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[CONFORMANCE] Fix Runner on Win (#17221)
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/run_conformance.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/run_parallel.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update index.md
  docs/dev/index.md
Due: none

remove the whole lines completely
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
Due: none

[CPU] Fixed enforcebf16 condition for transformation pipeline (#17157)
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/mha.cpp
  src/tests/functional/plugin/shared/include/snippets/mha.hpp
  src/tests/functional/plugin/shared/src/snippets/mha.cpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/include/subgraph_mha.hpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/src/subgraph_mha.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[PT FE] Enable stable sort layer tests
  tests/layer_tests/pytorch_tests/test_sort.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Remove unused code
  tests/layer_tests/pytorch_tests/test_sort.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[LPT] Precision restriction customization extending (#17147)
  src/common/low_precision_transformations/include/low_precision/common/precisions_restriction.hpp
  src/common/low_precision_transformations/include/low_precision/markup_precisions.hpp
  src/common/low_precision_transformations/src/markup_precisions.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fixed WASM build in update docker container / new dependencies (#17224)
  cmake/developer_package/native_compile.cmake
  src/core/include/openvino/core/visibility.hpp
  src/plugins/intel_cpu/src/plugin.cpp
  thirdparty/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[Gna][coverity] fixes for issue type AUTO_CAUSES_COPY (#17192)
  src/plugins/intel_gna/legacy/include/legacy/graph_tools.hpp
  src/plugins/intel_gna/src/gna_infer_request.cpp
  src/plugins/intel_gna/src/gna_plugin.cpp
  src/plugins/intel_gna/src/optimizer/gna_pass_manager.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Replace opset with op version for TransposeSinking and SmartReshape transformations to reduce binary size
  src/common/transformations/src/transformations/smart_reshape/broadcast_const_range_replacement.cpp
  src/common/transformations/src/transformations/smart_reshape/lstm_states_broadcast.cpp
  src/common/transformations/src/transformations/smart_reshape/matmul_sr.cpp
  src/common/transformations/src/transformations/smart_reshape/mimic_set_batch_size.cpp
  src/common/transformations/src/transformations/smart_reshape/proposal_scales_stridedslice.cpp
  src/common/transformations/src/transformations/smart_reshape/reshape_sinking.cpp
  src/common/transformations/src/transformations/smart_reshape/reshape_to_1D.cpp
  src/common/transformations/src/transformations/smart_reshape/shape_of_const_folding.cpp
  src/common/transformations/src/transformations/smart_reshape/strided_slice_squeeze.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_binary.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_concat.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_data_movement.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_fuse.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_gather.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_interpolate.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_reduction.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_slice.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_split.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_squeeze.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_unary.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_unsqueeze.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_utils.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix codestyle
  src/bindings/js/CMakeLists.txt
  src/bindings/js/node-addon/package-lock.json
  src/bindings/js/wasm/include/shape_lite.h
  src/bindings/js/wasm/lib/helpers.ts
  src/bindings/js/wasm/lib/index.ts
  src/bindings/js/wasm/lib/maps.ts
  src/bindings/js/wasm/lib/types.ts
  src/bindings/js/wasm/lib/wasm-model.ts
  src/bindings/js/wasm/src/core.cpp
  src/bindings/js/wasm/src/session.cpp
  src/bindings/js/wasm/src/shape_lite.cpp
  src/bindings/js/wasm/src/tensor_lite.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Added test cases
  src/plugins/intel_cpu/tests/functional/single_layer_tests/convolution_backprop_data.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix threading test sporadic failure
  src/inference/src/dev/threading/cpu_streams_executor.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Disabled tests.
  tests/layer_tests/mo_python_api_tests/test_mo_convert_pytorch.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[MO][TF FE] Recover MOC TF FE unit-tests
  .ci/azure/linux.yml
  .ci/azure/linux_debian.yml
  tools/mo/unit_tests/moc_tf_fe/conversion_with_layout_test.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[LPT] Precision restriction customization extending: tests (#17196)
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/low_precision_transformations/group_convolution_transformation.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/fake_quantize_and_convolution_function.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/group_convolution_function.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[PyOV] Check for glibc version in python test (#17081)
  src/bindings/python/tests_compatibility/test_inference_engine/test_IECore.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

update with tflite
  docs/dev/index.md
Due: none
