Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

.ci/azure/android_arm64.yml:
  jobs:
  - job: android_arm64
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      OPENVINO_REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux.yml:
  jobs:
  - job: Lin
    strategy:
      matrix:
        Static:
          CMAKE_BUILD_SHARED_LIBS: 'OFF'
          PYTHON_STATIC_ARGS: -m "not dynamic_library and not template_plugin"
          CMAKE_CPACK_GENERATOR: null
          SAMPLES_INSTALL_DIR: $(INSTALL_DIR)/samples
  ...

.ci/azure/linux_arm64.yml:
  jobs:
  - job: linux_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      PYTHON_ARM_VERSION: 3.8.12
      PYTHON_EXEC: python3.8
      OPENVINO_ARCH: aarch64
      NUM_PROC: 1
  ...

.ci/azure/linux_conditional_compilation.yml:
  jobs:
  - job: LinCC
    timeoutInMinutes: '90'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      MODELS_PATH: $(REPO_DIR)/../testdata
  ...

.ci/azure/linux_cuda.yml:
  jobs:
  - job: CUDAPlugin_Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      HOME_DIR: $(Agent.HomeDirectory)
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_debian.yml:
  jobs:
  - job: Lin_Debian
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      MODELS_PATH: $(REPO_DIR)/../testdata
  ...

.ci/azure/linux_intel_gna.yml:
  jobs:
  - job: Lin
    timeoutInMinutes: '180'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_onnxruntime.yml:
  jobs:
  - job: onnxruntime
    timeoutInMinutes: '90'
    pool:
      name: LIN_VMSS_VENV_ONNX_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/mac.yml:
  jobs:
  - job: Mac
    timeoutInMinutes: '360'
    pool:
      vmImage: macOS-11
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_CONTRIB_REPO_DIR: $(REPO_DIR)/../openvino_contrib
  ...

Disabled failed ARM CPU tests
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/eliminate_fake_quantize_transformation.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

update number of threads per stream on Ecore to 2 for aggressive model on hybrid platform (#16857)
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_cpu/tests/unit/streams_info_table_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fixed dependencies check, made unsatisfied dependencies show only in case of error.
  tools/mo/openvino/tools/mo/convert_impl.py
  tools/mo/openvino/tools/mo/utils/versions_checker.py
  tools/mo/unit_tests/mo/convert/dependencies_check_test1_actual.py
  tools/mo/unit_tests/mo/convert/dependencies_check_test2_actual.py
  tools/mo/unit_tests/mo/frontend_ngraph_test.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

update example for PT
  docs/snippets/ov_extensions.py
Due: none

[DOCS] add vpu disclaimer (#16948)
  docs/Extensibility_UG/VPU_Extensibility.md
  docs/OV_Runtime_UG/deployment/deployment-manager-tool.md
  docs/OV_Runtime_UG/supported_plugins/MYRIAD.md
  docs/OV_Runtime_UG/supported_plugins/Supported_Devices.md
  docs/OV_Runtime_UG/supported_plugins/VPU.md
  docs/get_started/get_started_demos.md
  docs/install_guides/configurations-for-iei-card.md
  docs/install_guides/configurations-for-ivad-vpu.md
  docs/install_guides/configurations-for-ncs2.md
  docs/install_guides/installing-openvino-overview.md
  docs/install_guides/installing-openvino-yocto.md
  docs/install_guides/troubleshooting-issues.md
Due: none

Tests manifest cleanup
  src/frontends/onnx/tests/runtime/ie/unit_test.manifest
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix negative float cast if outside integer range
  src/core/shape_inference/include/shape_infer_type_utils.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix empty tensor reshape
  src/core/shape_inference/include/shape_nodes.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Disabled failed ARM CPU tests (#16989)
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/eliminate_fake_quantize_transformation.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix lists
  docs/IE_PLUGIN_DG/CompiledModel.md
  docs/IE_PLUGIN_DG/Plugin.md
Due: none

fix snippet
  docs/IE_PLUGIN_DG/AsyncInferRequest.md
  docs/IE_PLUGIN_DG/Building.md
Due: none

rst
  docs/documentation.md
  docs/get_started.md
  docs/learn_openvino.md
Due: none

apply review comment
  src/plugins/intel_cpu/src/nodes/matmul.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[conformance] Fix itaration of ops_list when recalculating tests counters
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/summarize.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/stat_update_utils.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Small fix.
  tools/mo/openvino/tools/mo/utils/versions_checker.py
  tools/mo/unit_tests/mo/frontend_ngraph_test.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Support of unnamed saved_model_dir in MO Python API (#16542)
  tests/layer_tests/mo_python_api_tests/test_mo_convert_tf.py
  tools/mo/openvino/tools/mo/convert_impl.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

enable gru, rnn and lstm tests
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Test correction.
  tools/mo/unit_tests/mo/convert/dependencies_check_test1_actual.py
  tools/mo/unit_tests/mo/convert/dependencies_check_test2_actual.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

compiled model doc fix
  docs/IE_PLUGIN_DG/Building.md
  docs/IE_PLUGIN_DG/CompiledModel.md
Due: none

Remove allocation by the upper bound
  src/plugins/intel_cpu/src/cpu_memory.cpp
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/eltwise.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add MM6D_FUSE_BIN env
  src/plugins/intel_cpu/src/nodes/matmul.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Remove unused include
  src/plugins/intel_cpu/src/graph.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Replace recursion with loop
  src/plugins/intel_cpu/src/graph.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Add exceptions processing
  src/plugins/intel_cpu/src/graph.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

mem order
  src/plugins/intel_cpu/src/graph.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Virtual destructor
  src/plugins/intel_cpu/src/graph.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

remove time counters
  src/plugins/intel_cpu/src/graph.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

TBB and OMP complete solutions
  src/plugins/intel_cpu/src/graph.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

TBB experimental
  src/plugins/intel_cpu/src/graph.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Pinning to a slot
  src/plugins/intel_cpu/src/graph.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fixes
  docs/get_started.md
  tools/pot/docs/AccuracyAwareQuantizationUsage.md
Due: .ci/azure/linux.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Generic ARM fixes
  src/common/itt/include/openvino/itt.hpp
  src/common/preprocessing/src/ie_preprocess_gapi_kernels.hpp
  src/common/util/include/openvino/util/file_util.hpp
  src/core/include/openvino/core/partial_shape.hpp
  src/core/src/partial_shape.cpp
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_cpu/src/memory_desc/dnnl_memory_desc.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/static_shape.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/static_shape.hpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_mat_mul.cpp
  src/plugins/intel_cpu/thirdparty/CMakeLists.txt
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/quantized_mat_mul.hpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/common/fake_quantize_on_data.hpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/common/fake_quantize_on_weights.hpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/common/fake_quantize_on_data.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/common/fake_quantize_on_weights.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[TF FE] Correct layer test for ConvLSTM2D and add to the pre-commit
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_conv_lstm_2d.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] benchmarks new page
  docs/_static/images/performance_benchmarks_ovms_02.png
  docs/benchmarks/performance_benchmarks.md
  docs/benchmarks/performance_benchmarks_openvino.md
  docs/benchmarks/performance_benchmarks_ovms.md
  docs/img/performance_benchmarks_ovms_01.png
  tools/pot/README.md
Due: .ci/azure/linux.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Update Supported_Devices.md
  docs/OV_Runtime_UG/supported_plugins/Supported_Devices.md
Due: none

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
