Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools

proofreading correction
  src/plugins/intel_cpu/src/nodes/interpolate.cpp
  src/plugins/intel_cpu/src/nodes/interpolate.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] shift to rst - opsets F,G (#17253)
  docs/ops/activation/GELU_2.md
  docs/ops/activation/GELU_7.md
  docs/ops/arithmetic/FloorMod_1.md
  docs/ops/arithmetic/Floor_1.md
  docs/ops/comparison/GreaterEqual_1.md
  docs/ops/comparison/Greater_1.md
  docs/ops/convolution/GroupConvolutionBackpropData_1.md
  docs/ops/convolution/GroupConvolution_1.md
  docs/ops/detection/GenerateProposals_9.md
  docs/ops/image/GridSample_9.md
  docs/ops/movement/GatherElements_6.md
  docs/ops/movement/GatherND_5.md
  docs/ops/movement/GatherND_8.md
  docs/ops/movement/GatherTree_1.md
  docs/ops/movement/Gather_1.md
  docs/ops/movement/Gather_7.md
  docs/ops/movement/Gather_8.md
  docs/ops/normalization/GRN_1.md
  docs/ops/quantization/FakeQuantize_1.md
  docs/ops/sequence/GRUCell_3.md
  docs/ops/sequence/GRUSequence_5.md
  docs/requirements.txt
Due: none

[TF FE] Extend pre-commit for SpaceToBatch after CPU crash
  tests/layer_tests/tensorflow_tests/test_tf_SpaceToBatch.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add input dtype check
  src/frontends/paddle/src/op/softshrink.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix of groupconv_to_conv() in MO IR reader (#17118)
  tools/mo/openvino/tools/mo/utils/ir_reader/layer_to_class.py
  tools/mo/unit_tests/mo/utils/ir_reader/layer_to_class_test.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

DOCS switchers port 22.2
  docs/_static/js/custom.js
Due: none

update
  docs/ops/activation/HSigmoid_5.md
  docs/ops/activation/HSwish_4.md
  docs/ops/activation/HardSigmoid_1.md
  docs/ops/comparison/IsFinite_10.md
  docs/ops/comparison/IsInf_10.md
  docs/ops/comparison/IsNaN_10.md
  docs/ops/condition/If_8.md
  docs/ops/image/I420toBGR_8.md
  docs/ops/image/I420toRGB_8.md
  docs/ops/image/Interpolate_1.md
  docs/ops/image/Interpolate_11.md
  docs/ops/image/Interpolate_4.md
  docs/ops/signals/IDFT_7.md
  docs/ops/signals/IRDFT_9.md
Due: none

Fix ARM plugin build fail issue.
  src/plugins/intel_cpu/src/nodes/interpolate.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/slice.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Review comments applied
  src/plugins/intel_cpu/src/nodes/deconv.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

tfl fully_connected
  tests/layer_tests/tensorflow_lite_tests/test_tfl_FullyConnected.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[TF FE] Added additional pruned inputs for MetaGraph support (#17237)
  src/frontends/tensorflow/src/input_model.cpp
  src/frontends/tensorflow/src/variables_index.cpp
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_metagraph_variables.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix tensor names copying in TS transformations
  src/common/transformations/include/transformations/transpose_sinking/ts_utils.hpp
  src/common/transformations/src/transformations/transpose_sinking/ts_binary.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_concat.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_data_movement.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_fuse.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_gather.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_interpolate.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_reduction.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_slice.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_split.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_squeeze.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_unary.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_unsqueeze.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_utils.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[apiConformance] Move models to concat (#16759)
  src/tests/functional/plugin/gpu/behavior/inference_precision.cpp
  src/tests/functional/plugin/gpu/remote_blob_tests/cldnn_remote_blob_tests.cpp
  src/tests/functional/plugin/gpu/remote_blob_tests/gpu_remote_tensor_tests.cpp
  src/tests/functional/plugin/shared/include/base/behavior_test_utils.hpp
  src/tests/functional/plugin/shared/include/base/multi/multi_helpers.hpp
  src/tests/functional/plugin/shared/include/base/ov_behavior_test_utils.hpp
  src/tests/functional/plugin/shared/include/behavior/compiled_model/compiled_model_base.hpp
  src/tests/functional/plugin/shared/include/behavior/executable_network/exec_network_base.hpp
  src/tests/functional/plugin/shared/include/behavior/infer_request/config.hpp
  src/tests/functional/plugin/shared/include/behavior/infer_request/io_blob.hpp
  src/tests/functional/plugin/shared/include/behavior/infer_request/perf_counters.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_graph_info.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_network_base.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/query_model.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_executable_network/get_metric.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_executable_network/properties.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_infer_request/io_tensor.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_infer_request/perf_counters.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/life_time.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/properties_tests.cpp
  src/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/subgraph_builders.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

update
  docs/ops/activation/HardSigmoid_1.md
  docs/ops/comparison/IsFinite_10.md
  docs/ops/condition/If_8.md
  docs/ops/image/I420toBGR_8.md
  docs/ops/image/I420toRGB_8.md
  docs/ops/image/Interpolate_11.md
  docs/ops/signals/IDFT_7.md
  docs/ops/signals/IRDFT_9.md
Due: none

[DOCS] Fix typo in add_outputs() example
  src/bindings/python/src/compatibility/openvino/inference_engine/ie_api.pyx
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

cpp
  docs/ops/activation/HSigmoid_5.md
  docs/ops/activation/HSwish_4.md
  docs/ops/activation/HardSigmoid_1.md
  docs/ops/comparison/IsFinite_10.md
  docs/ops/comparison/IsInf_10.md
  docs/ops/comparison/IsNaN_10.md
  docs/ops/condition/If_8.md
  docs/ops/image/I420toBGR_8.md
  docs/ops/image/I420toRGB_8.md
  docs/ops/image/Interpolate_1.md
  docs/ops/image/Interpolate_11.md
  docs/ops/image/Interpolate_4.md
  docs/ops/signals/IDFT_7.md
  docs/ops/signals/IRDFT_9.md
Due: none

tfl gather
  tests/layer_tests/tensorflow_lite_tests/test_tfl_FullyConnected.py
  tests/layer_tests/tensorflow_lite_tests/test_tfl_Gather.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

tfl gather_nd
  tests/layer_tests/tensorflow_lite_tests/test_tfl_GatherND.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update Einsum_7.md
  docs/ops/matrix/Einsum_7.md
Due: none

Skip dynamic model test for legacy api
  src/bindings/python/tests_compatibility/test_onnx/test_backend.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fixes for OpenCL via brew package
  thirdparty/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[CPU] proofreading correction (#17246)
  src/plugins/intel_cpu/src/nodes/interpolate.cpp
  src/plugins/intel_cpu/src/nodes/interpolate.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Add test case.
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/fq_layer_dq_bias.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/markup_bias_function.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] shift to rst - opsets N (#17267)
  docs/ops/activation/PReLU_1.md
  docs/ops/arithmetic/Negative_1.md
  docs/ops/arithmetic/Power_1.md
  docs/ops/condition/NonZero_3.md
  docs/ops/detection/PSROIPooling_1.md
  docs/ops/detection/PriorBoxClustered_1.md
  docs/ops/detection/PriorBox_1.md
  docs/ops/detection/PriorBox_8.md
  docs/ops/detection/Proposal_1.md
  docs/ops/detection/Proposal_4.md
  docs/ops/image/NV12toBGR_8.md
  docs/ops/image/NV12toRGB_8.md
  docs/ops/infrastructure/Parameter_1.md
  docs/ops/normalization/NormalizeL2_1.md
  docs/ops/opset1.md
  docs/ops/opset10.md
  docs/ops/opset11.md
  docs/ops/opset2.md
  docs/ops/opset3.md
  docs/ops/opset4.md
  docs/ops/opset5.md
  docs/ops/opset6.md
  docs/ops/opset7.md
  docs/ops/opset8.md
  docs/ops/opset9.md
  docs/ops/sequence/OneHot_1.md
  docs/ops/sort/NonMaxSuppression_1.md
  docs/ops/sort/NonMaxSuppression_3.md
  docs/ops/sort/NonMaxSuppression_4.md
  docs/ops/sort/NonMaxSuppression_5.md
  docs/ops/sort/NonMaxSuppression_9.md
Due: none

remove pre-release note (#17265)
  docs/install_guides/pre-release-note.md
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
Due: none

fix indentation
  docs/OV_Runtime_UG/model_representation.md
Due: none

[CPU] Add CPU plugin specific properties to supported_properties list
  src/plugins/intel_cpu/src/exec_network.cpp
  src/plugins/intel_cpu/src/plugin.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Add tests and move cpu specific tests from shared_tests_instances
  src/plugins/intel_cpu/tests/functional/behavior/ov_executable_network/properties.cpp
  src/plugins/intel_cpu/tests/functional/behavior/ov_plugin/properties.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_executable_network/get_metric.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_executable_network/properties.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/test_utils/properties_test.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

remove a couple of more deprecations
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
Due: none
