Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

.ci/azure/android_arm64.yml:
  jobs:
  - job: android_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      OPENVINO_REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux.yml:
  jobs:
  - job: Lin
    strategy:
      matrix:
        Static:
          CMAKE_BUILD_SHARED_LIBS: 'OFF'
          PYTHON_STATIC_ARGS: -m "not dynamic_library and not template_plugin"
          CMAKE_CPACK_GENERATOR: null
          SAMPLES_INSTALL_DIR: $(INSTALL_DIR)/samples
  ...

.ci/azure/linux_arm64.yml:
  jobs:
  - job: linux_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      PYTHON_ARM_VERSION: 3.8.12
      PYTHON_EXEC: python3.8
      OPENVINO_ARCH: aarch64
      NUM_PROC: 1
  ...

.ci/azure/linux_conditional_compilation.yml:
  jobs:
  - job: LinCC
    timeoutInMinutes: '90'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      MODELS_PATH: $(REPO_DIR)/../testdata
  ...

.ci/azure/linux_cuda.yml:
  jobs:
  - job: CUDAPlugin_Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      HOME_DIR: $(Agent.HomeDirectory)
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_debian.yml:
  jobs:
  - job: Lin_Debian
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_onnxruntime.yml:
  jobs:
  - job: onnxruntime
    timeoutInMinutes: 90
    pool:
      name: LIN_VMSS_VENV_ONNX_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      ONNXRUNTIME_REPO_DIR: $(REPO_DIR)/../onnxruntime
  ...

.ci/azure/mac.yml:
  jobs:
  - job: Mac
    timeoutInMinutes: 360
    pool:
      vmImage: macOS-10.15
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_CONTRIB_REPO_DIR: $(REPO_DIR)/../openvino_contrib
  ...

Fix windows compilation errors
  src/core/src/op/add.cpp
  src/core/src/op/clamp.cpp
  src/core/src/op/concat.cpp
  src/core/src/op/convert.cpp
  src/core/src/op/reduce_min.cpp
  src/core/src/op/reduce_prod.cpp
  src/core/src/op/reshape.cpp
  src/core/src/op/shape_of.cpp
  src/core/src/op/slice.cpp
  src/core/src/op/split.cpp
  src/core/src/op/squeeze.cpp
  src/core/src/op/strided_slice.cpp
  src/core/src/op/tile.cpp
  src/core/src/op/transpose.cpp
  src/core/src/op/unsqueeze.cpp
  src/core/src/op/util/binary_elementwise_arithmetic.cpp
  src/core/src/op/util/broadcast_base.cpp
  src/core/src/op/util/gather_base.cpp
  src/core/src/op/variadic_split.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

target_device description (#14592)
  tools/pot/docs/DefaultQuantizationUsage.md
Due: .ci/azure/mac.yml

Rollback unnecessary changes from Tensorflow Common
  src/frontends/tensorflow_common/src/op/broadcast_args.cpp
  src/frontends/tensorflow_common/src/op/broadcast_to.cpp
  src/frontends/tensorflow_common/src/op/concat.cpp
  src/frontends/tensorflow_common/src/op/pad.cpp
  src/frontends/tensorflow_common/src/op/rank.cpp
  src/frontends/tensorflow_common/src/op/reverse.cpp
  src/frontends/tensorflow_common/src/op/select.cpp
  src/frontends/tensorflow_common/src/op/space_to_batch_nd.cpp
  src/frontends/tensorflow_common/src/op/top_k.cpp
  src/frontends/tensorflow_common/src/op/where.cpp
  src/frontends/tensorflow_lite/include/openvino/frontend/tensorflow_lite/node_context.hpp
  src/frontends/tensorflow_lite/src/lite_op_table.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix input 0
  src/frontends/pytorch/src/op/meshgrid.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix windows compilation errors in scatter update
  src/core/src/op/scatter_update.cpp
  src/core/src/op/tile.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix indentation (#15236)
  docs/install_guides/configurations-for-ncs2.md
Due: none

fix indentation (#15237)
  docs/install_guides/configurations-for-ncs2.md
Due: none

added extractor for TF Any operation
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
  tools/mo/openvino/tools/mo/front/tf/reduce_ext.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Clang format.
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/graph_iterator_proto.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update docs/OV_Runtime_UG/Samples_Overview.md
  docs/OV_Runtime_UG/Samples_Overview.md
Due: none

[ONNX] Fix "Model references undeclared parameters" exception (#15218)
  src/frontends/onnx/frontend/include/onnx_import/core/node.hpp
  src/frontends/onnx/frontend/src/core/attribute.cpp
  src/frontends/onnx/frontend/src/core/attribute.hpp
  src/frontends/onnx/frontend/src/core/graph.cpp
  src/frontends/onnx/frontend/src/core/graph.hpp
  src/frontends/onnx/frontend/src/core/node.cpp
  src/frontends/onnx/tests/models/controlflow/if_inside_if_inside_loop.prototxt
  src/frontends/onnx/tests/onnx_import_controlflow.in.cpp
  src/frontends/onnx/tests/runtime/interpreter/unit_test.manifest
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix of ObjectDetectionAPIProposalReplacement(). (#14869)
  tools/mo/openvino/tools/mo/front/tf/ObjectDetectionAPI.py
  tools/mo/openvino/tools/mo/graph/graph.py
  tools/mo/unit_tests/mo/graph/graph_test.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

DOCS: Update of 'Creating a YOCTO image' article - for 22.3 (#15133)
  docs/install_guides/installing-openvino-yocto.md
Due: none

fix headings (#15209)
  docs/install_guides/configurations-for-intel-gna.md
Due: none

fix headings (#15207)
  docs/install_guides/configurations-for-intel-gna.md
Due: none

Fixed scale tests
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/preprocessing/add_scale.cpp
  src/inference/src/dev/preprocessing/add_scale.hpp
  src/inference/src/dev/preprocessing/mean_image_or_value.cpp
  src/inference/src/dev/preprocessing/mean_image_or_value.hpp
  src/inference/src/dev/preprocessing/preprocessing.cpp
  src/inference/src/dev/preprocessing/preprocessing.hpp
  src/plugins/template/src/template_infer_request.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Removed code duplication
  src/inference/src/compilation_context.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[PyOV] skip dynamic test for arm
  src/bindings/python/tests/test_runtime/test_infer_request.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[POT] Update CPU_SPR transformer quantization
  tools/pot/openvino/tools/pot/algorithms/quantization/utils.py
  tools/pot/openvino/tools/pot/app/argparser.py
  tools/pot/openvino/tools/pot/configs/hardware_config.py
  tools/pot/openvino/tools/pot/graph/cpu_patterns.py
  tools/pot/openvino/tools/pot/graph/gna_patterns.py
  tools/pot/openvino/tools/pot/graph/gpu_patterns.py
  tools/pot/openvino/tools/pot/graph/model_utils.py
  tools/pot/openvino/tools/pot/graph/passes.py
  tools/pot/openvino/tools/pot/graph/pattern_utils.py
  tools/pot/openvino/tools/pot/graph/special_patterns.py
  tools/pot/openvino/tools/pot/graph/utils.py
  tools/pot/openvino/tools/pot/graph/vpu_patterns.py
  tools/pot/tests/data/reference_models/resnet_example_pytorch.xml
  tools/pot/tests/test_graph.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Add comments
  tools/pot/openvino/tools/pot/graph/cpu_patterns.py
  tools/pot/openvino/tools/pot/graph/pattern_utils.py
  tools/pot/tests/data/reference_models/resnet_example_pytorch.xml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

call marking for mixed precision inside ConvertPrecision
  src/common/transformations/include/transformations/common_optimizations/convert_compressed_to_mixed_precision.hpp
  src/common/transformations/include/transformations/common_optimizations/convert_compression_only_to_legacy.hpp
  src/common/transformations/include/transformations/enable_decompression_convert_constant_folding.hpp
  src/common/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  src/common/transformations/src/transformations/common_optimizations/convert_compressed_to_mixed_precision.cpp
  src/common/transformations/src/transformations/common_optimizations/convert_compression_only_to_legacy.cpp
  src/common/transformations/src/transformations/convert_precision.cpp
  src/common/transformations/src/transformations/enable_decompression_convert_constant_folding.cpp
  src/common/transformations/tests/common_optimizations/convert_compressed_to_mixed_precision_test.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update src/bindings/python/tests/test_runtime/test_infer_request.py
  src/bindings/python/tests/test_runtime/test_infer_request.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Add OV_PYTHON var
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_conditional_compilation.yml
  .ci/azure/linux_onnxruntime.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Minor refactor
  src/frontends/tensorflow_common/src/op/concat.cpp
  src/frontends/tensorflow_lite/src/decoder_flatbuffer.cpp
  src/frontends/tensorflow_lite/src/decoder_flatbuffer.h
  src/frontends/tensorflow_lite/src/op/concatenation.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Code correction.
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/graph_iterator_proto.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Speech sample report output ambiguity (#15135)
  samples/cpp/speech_sample/README.md
  samples/cpp/speech_sample/main.cpp
  samples/cpp/speech_sample/speech_sample.hpp
  samples/python/speech_sample/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Remove None at outputs of the model, improve types handling in frontend
  src/bindings/python/src/openvino/frontend/pytorch/decoder.py
  src/bindings/python/src/pyopenvino/frontend/pytorch/decoder.cpp
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/bindings/python/tests/test_pytorch/test_decoder.py
  src/frontends/common/include/openvino/frontend/decoder.hpp
  src/frontends/pytorch/include/openvino/frontend/pytorch/node_context.hpp
  src/frontends/pytorch/src/node_context.cpp
  src/frontends/pytorch/src/op/constant.cpp
  src/frontends/pytorch/src/op/convnd.cpp
  src/frontends/pytorch/src/transforms/prim_tuple_construct_replacer.cpp
  tests/layer_tests/pytorch_tests/pytorch_layer_test_class.py
  tests/layer_tests/pytorch_tests/test_tuple_construct.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix py code style
  src/bindings/python/tests/test_pytorch/test_decoder.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_onnxruntime.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/mac.yml: any file but: docs
  .ci/azure/windows.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
