Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools

[CPU][Refactoring] Introduce VariableExecutor (#27883)
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_fullyconnected.hpp
  src/plugins/intel_cpu/src/nodes/executors/executor_factory.hpp
  src/plugins/intel_cpu/src/nodes/executors/fullyconnected_implementations.cpp
  src/plugins/intel_cpu/src/nodes/executors/graph_emitter.hpp
  src/plugins/intel_cpu/src/nodes/executors/variable_executor.hpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[tests/llm] Reorder imports to avoid onnx-related DDL load fail (#27942)
  tests/llm/accuracy_conformance.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

1: Reduce a test for InitGraphStatefulDiffPrimitiveModel 2: Correct input0 for InitGraphStatefulModel
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/common/stateful_init_graph.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Remove reset, it is enough to run 2 time for test.
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/common/stateful_init_graph.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Expand core API to accept filesystem path type
  src/inference/include/openvino/runtime/core.hpp
  src/inference/tests/functional/ov_core_test.cpp
  src/inference/tests/functional/ov_extension_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Resolve ambiguous usage of optional when build with cpp17
  src/core/shape_inference/include/ov_optional.hpp
  src/core/tests/pattern.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

.convert_element_type(element::u8) .convert_element_type(element::f32);
  src/plugins/template/tests/functional/subgraph_reference/preprocess.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

transform ambiguous convert
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/pass/transform_convert.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[GPU] Parse runtime_options from model RT info and apply to config (#27900)
  src/plugins/intel_gpu/include/intel_gpu/runtime/execution_config.hpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
  src/plugins/intel_gpu/tests/functional/behavior/properties.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] table fix
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-155H.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-258V.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_9-288V.csv
Due: none

Fix deduce overload for `add_extension`
  src/inference/include/openvino/runtime/core.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] Fix
  docs/articles_en/about-openvino/performance-benchmarks.rst
Due: none

Update test_tf_HSVToRGB.py
  tests/layer_tests/tensorflow_tests/test_tf_HSVToRGB.py
Due: .ci/azure/linux.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] changes
  docs/articles_en/about-openvino/performance-benchmarks.rst
Due: none

Fix gpu
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] Change
  docs/articles_en/about-openvino/performance-benchmarks.rst
Due: none

[DOCS] test drive doc (#27933)
  docs/articles_en/documentation/openvino-ecosystem.rst
  docs/articles_en/documentation/openvino-ecosystem/openvino-test-drive.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-155H.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-258V.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_9-288V.csv
  docs/sphinx_setup/_static/download/supported_models.csv
Due: none

[GPU] Fix tests errors, phase 7
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/pooling_gpu_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Import/export - changing the data type of several fields
  src/plugins/intel_npu/src/compiler_adapter/src/plugin_graph.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add tests
  src/core/tests/file_util.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Try to generate config for llm based on template
  src/plugins/intel_cpu/tools/commit_slider/utils/cfg_manager.py
  src/plugins/intel_cpu/tools/commit_slider/utils/cfg_samples/llm_for_CI.json
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Adding a new config option used for notifying the compiler of the "compileWS" iteration number
  src/plugins/intel_npu/src/al/include/intel_npu/config/common.hpp
  src/plugins/intel_npu/src/al/include/intel_npu/npu_private_properties.hpp
  src/plugins/intel_npu/src/al/src/config/common.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/driver_compiler_adapter.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] fix
  docs/articles_en/about-openvino/performance-benchmarks.rst
Due: none

build 3.11 with others
  .github/workflows/mac.yml
  .github/workflows/mac_arm64.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[intel-npu] Refactoring properties for plugin and compiled_model
  src/plugins/intel_npu/src/plugin/include/compiled_model.hpp
  src/plugins/intel_npu/src/plugin/include/metrics.hpp
  src/plugins/intel_npu/src/plugin/include/plugin.hpp
  src/plugins/intel_npu/src/plugin/include/properties.hpp
  src/plugins/intel_npu/src/plugin/src/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/src/metrics.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/src/plugin/src/properties.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[intel-npu] Publishing new metric property for compiler version (combined uint32)
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/npu-device.rst
  src/inference/include/openvino/runtime/intel_npu/properties.hpp
  src/plugins/intel_npu/README.md
  src/plugins/intel_npu/src/plugin/src/properties.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Docs Versions update to 2024.6 (#27940)
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/sphinx_setup/assets/versions_raw.js
Due: none

[DOCS] Remove OVMS Button (#27951)
  docs/articles_en/about-openvino/performance-benchmarks.rst
Due: none

add missing option
  .github/workflows/mac.yml
  .github/workflows/mac_arm64.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Set KV-cache to FP16 in LLM evaluation tests
  tests/llm/accuracy_conformance.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[Templ test] GroupNormalization: Enable whole Tensor comparison (#27932)
  src/plugins/template/tests/functional/op_reference/group_normalization.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml
