Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

.ci/azure/android_arm64.yml:
  jobs:
  - job: android_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      OPENVINO_REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux.yml:
  jobs:
  - job: Lin
    strategy:
      matrix:
        Static:
          CMAKE_BUILD_SHARED_LIBS: 'OFF'
          PYTHON_STATIC_ARGS: -m "not dynamic_library and not template_plugin"
          CMAKE_CPACK_GENERATOR: null
          SAMPLES_INSTALL_DIR: $(INSTALL_DIR)/samples
  ...

.ci/azure/linux_arm64.yml:
  jobs:
  - job: linux_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      PYTHON_ARM_VERSION: 3.8.12
      PYTHON_EXEC: python3.8
      OPENVINO_ARCH: aarch64
      NUM_PROC: 1
  ...

.ci/azure/linux_conditional_compilation.yml:
  jobs:
  - job: LinCC
    timeoutInMinutes: 90
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      MODELS_PATH: $(REPO_DIR)/../testdata
  ...

.ci/azure/linux_cuda.yml:
  jobs:
  - job: CUDAPlugin_Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      HOME_DIR: $(Agent.HomeDirectory)
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_debian.yml:
  jobs:
  - job: Lin_Debian
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_onnxruntime.yml:
  jobs:
  - job: onnxruntime
    timeoutInMinutes: 90
    pool:
      name: LIN_VMSS_VENV_ONNX_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      ONNXRUNTIME_REPO_DIR: $(REPO_DIR)/../onnxruntime
  ...

.ci/azure/mac.yml:
  jobs:
  - job: Mac
    timeoutInMinutes: 360
    pool:
      vmImage: macOS-10.15
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_CONTRIB_REPO_DIR: $(REPO_DIR)/../openvino_contrib
  ...

Remove constexpr from InTypeRange::operator()
  src/core/shape_inference/include/shape_infer_transformations.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix typo in note
  src/inference/dev_api/ie_system_conf.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

update github link
  docs/OV_Runtime_UG/Samples_Overview.md
Due: none

add ways to find samples for PyPI installation (#14658)
  docs/OV_Runtime_UG/Samples_Overview.md
Due: none

revise description
  docs/OV_Runtime_UG/Samples_Overview.md
Due: none

reset -Wno-sign
  src/inference/tests/functional/CMakeLists.txt
  src/inference/tests/unit/CMakeLists.txt
  src/plugins/intel_gna/tests/CMakeLists.txt
  src/plugins/template/backend/CMakeLists.txt
  src/tests/CMakeLists.txt
  src/tests_deprecated/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update Raspbian OS installation for 22/3 (#14628)
  docs/install_guides/installing-openvino-raspbian.md
Due: none

Updated docs for Raspbian OS (#14816)
  docs/install_guides/installing-openvino-raspbian.md
Due: none

update version number
  docs/install_guides/installing-openvino-raspbian.md
Due: none

Fixed some tests
  src/inference/dev_api/openvino/icompiled_model.hpp
  src/inference/include/openvino/runtime/remote_context.hpp
  src/inference/src/dev/converter_utils.cpp
  src/inference/src/dev/converter_utils.hpp
  src/inference/src/dev/icompiled_model.cpp
  src/inference/src/dev/iplugin.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Renamed define
  src/inference/include/openvino/runtime/properties.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

cmake: arm rasp-pi cross-compilation on macOS (#14894)
  cmake/dependencies.cmake
  cmake/developer_package/linux_name.cmake
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Add CentOS back to install archive page for 22/3 (#14625)
  docs/install_guides/installing-openvino-from-archive-linux.md
Due: none

Update benchmark-data.csv (#14794) (#14891)
  docs/_static/benchmarks_files/benchmark-data.csv
Due: none

Update macOS archive installation with ARM64 for 22/3 (#14656)
  docs/install_guides/installing-openvino-from-archive-macos.md
Due: none

update version number
  docs/install_guides/installing-openvino-from-archive-macos.md
Due: none

Preserve groups in codeowners files
  .github/CODEOWNERS
  .github/labeler.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add description for GROUP_ID
  src/inference/dev_api/ie_system_conf.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix clang-format
  src/inference/src/ie_system_conf.cpp
  src/inference/src/os/lin/lin_system_conf.cpp
  src/inference/src/os/win/win_system_conf.cpp
  src/inference/src/threading/ie_cpu_streams_executor.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Added iterator to any name (#14766)
  src/core/include/openvino/core/descriptor/tensor.hpp
  src/core/src/descriptor/tensor.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

update windows installation & links
  docs/install_guides/configurations-for-iei-card.md
  docs/install_guides/configurations-for-intel-gpu.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-linux.md
  docs/install_guides/installing-openvino-pip.md
Due: none

Added workflow to add labels (#14895)
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Added TF Convolution layer tests
  tests/layer_tests/common/tf_layer_test_class.py
  tests/layer_tests/tensorflow_tests/test_tf_Conv2D.py
  tests/layer_tests/tensorflow_tests/test_tf_Conv3D.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

reset -Wno-sign
  src/common/low_precision_transformations/tests/CMakeLists.txt
  src/common/transformations/tests/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Add token for labeler workflow
  .github/workflows/labeler.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Add token for labeler workflow (#14908)
  .github/workflows/labeler.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

revert add time_to_first_inference_result KPI as sum of inf latency values
  tests/time_tests/scripts/run_timetest.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

resolve all warnings in /src/core/src/
  src/core/reference/include/ngraph/runtime/reference/unique.hpp
  src/core/shape_inference/include/convolution_shape_inference.hpp
  src/core/shape_inference/include/gru_sequence_shape_inference.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

reset unique.hpp
  src/core/reference/include/ngraph/runtime/reference/unique.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[TF FE] Support If and PartitionedCall operations
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/frontend.hpp
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/node_context.hpp
  src/frontends/tensorflow/src/decoder_proto.cpp
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/input_model.hpp
  src/frontends/tensorflow/src/op/argdef_ops.cpp
  src/frontends/tensorflow/src/op/if.cpp
  src/frontends/tensorflow/src/op/partitioned_call.cpp
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow/src/translate_session.cpp
  src/frontends/tensorflow/src/translate_session.hpp
  src/frontends/tensorflow/tests/conversion.cpp
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
  src/frontends/tensorflow/tests/test_models/models_pbtxt/model_with_if.pbtxt
  src/frontends/tensorflow/tests/test_models/models_pbtxt/model_with_if.py
  src/frontends/tensorflow/tests/test_models/models_pbtxt/partitioned_call_and_if.pbtxt
  src/frontends/tensorflow/tests/test_models/models_pbtxt/partitioned_call_and_if.py
  src/frontends/tensorflow/tests/test_models/models_pbtxt/stateful_partitioned_call.pbtxt
  src/frontends/tensorflow/tests/test_models/models_pbtxt/stateful_partitioned_call.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update src/plugins/intel_gna/src/gna_plugin.cpp
  src/plugins/intel_gna/src/gna_plugin.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

how to add an new op tutorial improvements
  src/frontends/onnx/docs/how_to_add_op.md
Due: .ci/azure/mac.yml

Fix build
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/node_context.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Apply suggestions from code review
  src/frontends/onnx/docs/tests.md
Due: .ci/azure/mac.yml

Fix frontend wrapper for tests
  src/bindings/python/tests/mock/mock_py_frontend/src/frontend_wrapper.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_conditional_compilation.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_onnxruntime.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/mac.yml: any file but: docs
  .ci/azure/windows.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/windows_conditional_compilation.yml: any file but: docs, **/docs, **/*.md, README.md
