Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools

Fix TransposeSinking when the data input is broadcasted (#19233)
  src/common/transformations/src/transformations/transpose_sinking/ts_utils.cpp
  src/common/transformations/tests/transpose_sinking/ts_common_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Handle unspecified type in wrap_tensor function; unit tests (#19220)
  src/core/src/tensor_conversion_util.cpp
  src/core/tests/constant_folding.cpp
  src/core/tests/tensor.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

save code
  src/inference/dev_api/openvino/runtime/system_conf.hpp
  src/inference/src/system_conf.cpp
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/convolution.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/convolution_backprop_data.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/matmul.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/pad.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/pooling.cpp
  src/plugins/intel_cpu/tests/functional/test_utils/cpu_test_utils.cpp
  src/plugins/intel_cpu/tests/functional/test_utils/cpu_test_utils.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

save code
  src/plugins/intel_cpu/tests/functional/single_layer_tests/convolution_backprop_data.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/matmul.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/softmax.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix fc and matmul test
  src/plugins/intel_cpu/tests/functional/single_layer_tests/matmul.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

save code
  src/plugins/intel_cpu/tests/functional/single_layer_tests/convolution_backprop_data.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/pad.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix rebase
  src/plugins/intel_cpu/tests/functional/single_layer_tests/pad.cpp
  src/plugins/intel_cpu/tests/functional/test_utils/cpu_test_utils.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix
  docs/notebooks/206-vision-paddlegan-anime-with-output.rst
  docs/notebooks/232-clip-language-saliency-map-with-output.rst
  docs/notebooks/232-clip-language-saliency-map-with-output_files/232-clip-language-saliency-map-with-output_15_0.png
  docs/notebooks/232-clip-language-saliency-map-with-output_files/232-clip-language-saliency-map-with-output_17_0.png
  docs/notebooks/232-clip-language-saliency-map-with-output_files/232-clip-language-saliency-map-with-output_19_1.png
  docs/notebooks/232-clip-language-saliency-map-with-output_files/232-clip-language-saliency-map-with-output_31_1.png
  docs/notebooks/232-clip-language-saliency-map-with-output_files/232-clip-language-saliency-map-with-output_37_1.png
  docs/tutorials.md
Due: none

[GNA] Fix memory leak in GNA plugin.
  src/plugins/intel_gna/src/gna_transformations_pipeline.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[ONNX] Fixed issue with missing sort when wstring path (#19250)
  src/frontends/onnx/frontend/src/editor.cpp
  src/frontends/onnx/frontend/src/editor.hpp
  src/frontends/onnx/tests/onnx_editor_topological_sort.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[CONFORMANCE] Add progress bar to Subgraphs Dumper (#19235)
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/utils/model.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

classification_sample_async: state that the samples support NCHW model layout only
  samples/cpp/classification_sample_async/README.md
  samples/python/classification_sample_async/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix uninit members in default `GroupNormalization()` (#19244)
  src/core/include/openvino/op/group_normalization.hpp
  src/core/src/op/group_normalization.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Remove legacy zero point.
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/src/nodes/conv.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[TF FE] Use regular Convolution in case dynamic input channels (#19253)
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_conv_with_dynamic_input_channel.py
  src/frontends/tensorflow_common/src/utils.cpp
  tools/mo/unit_tests/moc_tf_fe/conversion_with_layout_test.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

FIxed is_on_constant_path() using in all places (#19239)
  src/common/transformations/src/transformations/low_precision/mark_dequantization_subgraph.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/convert_matmul_to_fc.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/snippets_mark_skipped.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/split_matmul_concat.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix toc
  docs/notebooks/002-openvino-api-with-output.rst
  docs/notebooks/003-hello-segmentation-with-output.rst
  docs/notebooks/101-tensorflow-classification-to-openvino-with-output.rst
  docs/notebooks/102-pytorch-to-openvino-with-output.rst
  docs/notebooks/103-paddle-to-openvino-classification-with-output.rst
  docs/notebooks/104-model-tools-with-output.rst
  docs/notebooks/105-language-quantize-bert-with-output.rst
  docs/notebooks/106-auto-device-with-output.rst
  docs/notebooks/107-speech-recognition-quantization-data2vec-with-output.rst
  docs/notebooks/108-gpu-device-with-output.rst
  docs/notebooks/109-latency-tricks-with-output.rst
  docs/notebooks/109-throughput-tricks-with-output.rst
  docs/notebooks/110-ct-scan-live-inference-with-output.rst
  docs/notebooks/110-ct-segmentation-quantize-nncf-with-output.rst
  docs/notebooks/111-yolov5-quantization-migration-with-output.rst
  docs/notebooks/112-pytorch-post-training-quantization-nncf-with-output.rst
Due: none

Apply suggestions from code review
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_ONNX.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Paddle.md
Due: none

[GPU] Add per iteration performance profiling mode
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/profiling.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Removing legacy post ops.
  src/plugins/intel_cpu/src/nodes/conv.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update model_conversion_diagram.svg
  docs/_static/images/model_conversion_diagram.svg
Due: none

USE_LLM to disable llm for test
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add copy() to avoid side effects
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_conv_1d.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_conv_2d_transpose.py
Due: .ci/azure/linux.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

adding test_generator dep..
  tests/samples_tests/smoke_tests/requirements.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix deconvolution default primitive search
  src/plugins/intel_cpu/src/nodes/deconv.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

revert back constraints.txt
  tests/constraints.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[GPU] Do not select onednn format for asymmetric weight (#19140)
  src/plugins/intel_gpu/src/graph/graph_optimizer/select_preferred_formats.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

revert back requirements_dev
  tools/mo/requirements_dev.txt
Due: .ci/azure/linux.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

[GNA] Fix memory leak in GNA plugin. (#19257)
  src/plugins/intel_gna/src/gna_transformations_pipeline.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

disabled pass
  src/plugins/intel_gna/src/gna_transformations_pipeline.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml
