Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_conditional_compilation.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_onnxruntime.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/mac.yml: any file but: docs
  .ci/azure/windows.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/windows_conditional_compilation.yml: any file but: docs, **/docs, **/*.md, README.md

Update src/core/src/rt_info.cpp
  src/core/src/rt_info.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Review comments. Adds ShapeOfBase.
  src/core/include/openvino/op/shape_of.hpp
  src/core/include/openvino/op/util/shape_of_base.hpp
  src/core/src/op/shape_of.cpp
  src/core/src/pass/constant_folding.cpp
  src/core/src/rt_info.cpp
  src/inference/tests/unit/query_model_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix folder issue when tear down
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/caching_tests.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

openvino workflow section update
  docs/_static/css/homepage_style.css
  docs/home.rst
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/layout.html
Due: none

update macos archive installation with arm
  docs/install_guides/installing-openvino-from-archive-macos.md
Due: none

Fixed Transpose spec (#14623)
  docs/ops/movement/Transpose_1.md
Due: none

Disable clang format for lp transformation test for fix CI
  src/common/low_precision_transformations/tests/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Disable clang format for lp transformation test for fix CI (#14629)
  src/common/low_precision_transformations/tests/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Applied Vladislav comments 2
  src/common/snippets/src/pass/softmax_decomposition.cpp
  src/common/snippets/tests/src/pass/softmax_reshape_elimination.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Disable clang format for transformation test for fix CI
  src/common/transformations/tests/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Disable clang format for transformation test for fix CI (#14657)
  src/common/transformations/tests/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

updated to get lockable memory for some specific precisions
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

gpuFuncTest to set f64 scalar tensor
  src/tests/functional/plugin/gpu/behavior/infer_request.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

updated to get ockable memory for device inputs
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

aligned type names
  src/tests/functional/plugin/gpu/behavior/infer_request.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add a function to get a supported precision
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Correct unit-test
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add ways to find samples for PyPI installation
  docs/OV_Runtime_UG/Samples_Overview.md
Due: none

upgrade gflags version for rhel8
  scripts/install_dependencies/install_openvino_dependencies.sh
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[GNA] Small Improvement in PWLApproximation and update of unit test for it.
  src/plugins/intel_gna/src/common/numerical_utils.hpp
  src/plugins/intel_gna/src/transformations/pwl_approximation.cpp
  src/plugins/intel_gna/src/transformations/pwl_approximation.hpp
  src/plugins/intel_gna/tests/unit/transformations/gna_pwl.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[GNA] Refactor numerical_utils and usage of its method in plugin
  src/plugins/intel_gna/src/backend/make_pwl.cpp
  src/plugins/intel_gna/src/backend/pwl_border_values_counter_identity.cpp
  src/plugins/intel_gna/src/backend/pwl_tools.cpp
  src/plugins/intel_gna/src/common/numerical_utils.hpp
  src/plugins/intel_gna/src/frontend/scale_factor_calc.cpp
  src/plugins/intel_gna/src/gna_graph_compiler.cpp
  src/plugins/intel_gna/src/gna_plugin_config.cpp
  src/plugins/intel_gna/src/optimizer/gna_pass_manager.cpp
  src/plugins/intel_gna/src/runtime/pwl.cpp
  src/plugins/intel_gna/src/scale_factor_helper.cpp
  src/plugins/intel_gna/tests/unit/backend/gna_make_pwl_identity.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update home.rst
  docs/home.rst
Due: none

Replace Op with Node
  src/frontends/tensorflow/src/op/const.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Stateful models
  docs/OV_Runtime_UG/img/state_network_example.png
  docs/OV_Runtime_UG/lowlatency2.md
  docs/OV_Runtime_UG/lowlatency_deprecated.md
  docs/OV_Runtime_UG/network_state_intro.md
  docs/_static/images/state_network_example.svg
Due: none

Removed input_model from meta data dictionary.
  tools/mo/openvino/tools/mo/convert_impl.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[TESTS] Fix QN tests for case when device id is reported (#14601)
  src/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

more specific
  src/frontends/paddle/docs/tests.md
Due: .ci/azure/mac.yml

Fix conversion for models with cycle
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/tests/convert_unsupported.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix code-style
  src/frontends/tensorflow/src/input_model.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix issue with getitem
  src/frontends/pytorch/src/op/size.cpp
  src/frontends/pytorch/src/transforms/aten_getitem_replacer.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml
