Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

.ci/azure/android_arm64.yml:
  jobs:
  - job: android_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      OPENVINO_REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux.yml:
  jobs:
  - job: Lin
    strategy:
      matrix:
        Static:
          CMAKE_BUILD_SHARED_LIBS: 'OFF'
          PYTHON_STATIC_ARGS: -m "not dynamic_library and not template_plugin"
          CMAKE_CPACK_GENERATOR: null
          SAMPLES_INSTALL_DIR: $(INSTALL_DIR)/samples
  ...

.ci/azure/linux_arm64.yml:
  jobs:
  - job: linux_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      PYTHON_ARM_VERSION: 3.8.12
      PYTHON_EXEC: python3.8
      OPENVINO_ARCH: aarch64
      NUM_PROC: 1
  ...

.ci/azure/linux_conditional_compilation.yml:
  jobs:
  - job: LinCC
    timeoutInMinutes: '90'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      MODELS_PATH: $(REPO_DIR)/../testdata
  ...

.ci/azure/linux_cuda.yml:
  jobs:
  - job: CUDAPlugin_Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      HOME_DIR: $(Agent.HomeDirectory)
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_debian.yml:
  jobs:
  - job: Lin_Debian
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_onnxruntime.yml:
  jobs:
  - job: onnxruntime
    timeoutInMinutes: 90
    pool:
      name: LIN_VMSS_VENV_ONNX_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      ONNXRUNTIME_REPO_DIR: $(REPO_DIR)/../onnxruntime
  ...

.ci/azure/mac.yml:
  jobs:
  - job: Mac
    timeoutInMinutes: 360
    pool:
      vmImage: macOS-10.15
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_CONTRIB_REPO_DIR: $(REPO_DIR)/../openvino_contrib
  ...

Revert changes with query_model
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl_ie.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Refactor shape inference factory (#15004)
  src/core/dev_api/dimension_tracker.hpp
  src/core/include/openvino/op/tile.hpp
  src/core/shape_inference/include/compare.hpp
  src/core/shape_inference/include/shape_infer_type_utils.hpp
  src/core/shape_inference/include/slice_shape_inference.hpp
  src/core/shape_inference/include/slice_shape_inference_utils.hpp
  src/core/shape_inference/include/strided_slice_shape_inference.hpp
  src/core/shape_inference/include/tile_shape_inference.hpp
  src/core/shape_inference/include/utils.hpp
  src/core/src/op/tile.cpp
  src/core/src/validation_util.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.hpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/compare_test.cpp
  src/plugins/intel_gpu/src/graph/tile.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[GPU] Perform memory transfer from usm_host to usm_device for dGPU only (#15263)
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

memory_allocation_gpu_plugin
  src/plugins/intel_gpu/README.md
  src/plugins/intel_gpu/docs/memory_allocation_gpu_plugin.md
Due: .ci/azure/linux_conditional_compilation.yml, .ci/azure/mac.yml, .ci/azure/windows_conditional_compilation.yml

Update memory_allocation_gpu_plugin.md
  src/plugins/intel_gpu/docs/memory_allocation_gpu_plugin.md
Due: .ci/azure/linux_conditional_compilation.yml, .ci/azure/mac.yml, .ci/azure/windows_conditional_compilation.yml

Fixed master build (#15308)
  src/common/transformations/tests/control_flow/unroll_if_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

revalidate
  src/common/transformations/src/transformations/convert_precision.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Try to fix fuzzer tests (#15303)
  src/core/shape_inference/include/squeeze_shape_inference.hpp
  src/core/src/type/float16.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix code formatting
  src/core/src/op/tile.cpp
  src/core/src/validation_util.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

simplified workflow
  docs/img/ov_intel_gpu_plugin_diagram.png
  src/plugins/intel_gpu/README.md
  src/plugins/intel_gpu/docs/simplified_workflow.md
Due: .ci/azure/linux_conditional_compilation.yml, .ci/azure/mac.yml, .ci/azure/windows_conditional_compilation.yml

graph optimization passes
  src/plugins/intel_gpu/README.md
  src/plugins/intel_gpu/docs/graph_optimization_passes.md
Due: .ci/azure/linux_conditional_compilation.yml, .ci/azure/mac.yml, .ci/azure/windows_conditional_compilation.yml

Fixed "which is prefixed in the source directory"
  cmake/developer_package/native_compile.cmake
  thirdparty/flatbuffers/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix MarkDequantizationSubgraph when Mul has Convert on both inputs (#14997)
  src/common/low_precision_transformations/tests/mark_dequantization_subgraph_transformation.cpp
  src/common/transformations/include/transformations/low_precision/mark_dequantization_subgraph.hpp
  src/common/transformations/src/transformations/low_precision/mark_dequantization_subgraph.cpp
  src/inference/src/cnn_network_ngraph_impl.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Reproduce the error with template plugin
  src/common/transformations/tests/op_conversions/batch_to_space_decomposition_test.cpp
  src/plugins/template/src/template_plugin.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

reinvalidate if node has changed
  src/common/transformations/src/transformations/convert_precision.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add new lines
  src/frontends/pytorch/src/transforms/aten_stack_list_construct_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_stack_list_construct_replacer.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

execution_of_inference
  src/plugins/intel_gpu/README.md
  src/plugins/intel_gpu/docs/execution_of_inference.md
Due: .ci/azure/linux_conditional_compilation.yml, .ci/azure/mac.yml, .ci/azure/windows_conditional_compilation.yml

dont merge convert precision checkout
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_cuda.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

adds functionality to get tensors from ops
  tests/layer_tests/common/layer_test_class.py
  tests/layer_tests/common/tflite_layer_test_class.py
  tests/layer_tests/common/utils/tflite_utils.py
  tests/layer_tests/tensorflow_lite_tests/test_tfl_Unary.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fixed typo
  src/inference/src/dev/converter_utils.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix code style
  src/common/transformations/tests/op_conversions/batch_to_space_decomposition_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

js-sortable-tables
  docs/openvino_sphinx_theme/openvino_sphinx_theme/static/js/sortable_tables.js
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/layout.html
Due: none

Removed redundant convert_model from CoreImpl (#15231)
  src/inference/src/compilation_context.cpp
  src/inference/src/compilation_context.hpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/inference/src/dev/core_impl_ie.cpp
  src/inference/tests/functional/cnn_network_test.cpp
  src/inference/tests/unit/ie_compilation_context_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fixed typo in flatbuffers cmake
  thirdparty/flatbuffers/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fixed supported properties
  src/inference/src/dev/converter_utils.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Apply snake_case to ov::Core API
  src/inference/include/ie/ie_core.hpp
  src/inference/include/openvino/runtime/core.hpp
  src/inference/src/core.cpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/inference/tests/unit/core.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Working version of aten::unfold
  src/frontends/pytorch/src/op/unfold.cpp
  tests/layer_tests/pytorch_tests/test_unfold.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update supported_models
  docs/resources/supported_models.md
Due: none

Remove legacy constant folding from core
  src/inference/src/dev/core_impl_ie.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Move bound evaluation util functions to dev API
  src/common/transformations/src/transformations/common_optimizations/reshape_sequence_fusion.cpp
  src/common/transformations/src/transformations/low_precision/mark_dequantization_subgraph.cpp
  src/core/dev_api/bound_evaluation_util.hpp
  src/core/include/ngraph/validation_util.hpp
  src/core/include/openvino/core/validation_util.hpp
  src/core/shape_inference/include/utils.hpp
  src/core/src/node.cpp
  src/core/src/op/reduce_min.cpp
  src/core/src/op/util/broadcast_base.cpp
  src/core/src/validation_util.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Addaten:: unfold operator with layer test
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/pytorch_layer_test_class.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Add browser example
  src/bindings/js/demo/browser/assets
  src/bindings/js/demo/browser/index.html
  src/bindings/js/demo/browser/openvino_wasm.js
  src/bindings/js/demo/browser/openvino_wasm.wasm
  src/bindings/js/demo/browser/script.js
  src/bindings/js/demo/package.json
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Remove "IEUnitTests" from linux_debian.yml
  .ci/azure/linux_debian.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[PyOV] Update futureWarning in offline_transformations
  src/bindings/python/src/openvino/offline_transformations/__init__.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_onnxruntime.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/mac.yml: any file but: docs
  .ci/azure/windows.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
