Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools

Update Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
Due: none

Update Cutting_Model.md
  docs/MO_DG/prepare_model/convert_model/Cutting_Model.md
Due: none

[GPU] Check cl_cache_dir env variable for unit test (#17526)
  src/plugins/intel_gpu/tests/unit/gtest_main_gpu.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add unit test for mlas
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_cpu/src/gemm/ov_cpu_gemm.cpp
  src/plugins/intel_cpu/src/gemm/ov_cpu_gemm.h
  src/plugins/intel_cpu/src/gemm/ov_cpu_gemm.hpp
  src/plugins/intel_cpu/src/nodes/matmul.cpp
  src/plugins/intel_cpu/tests/unit/CMakeLists.txt
  src/plugins/intel_cpu/tests/unit/gemm_api_test.cpp
  src/plugins/intel_cpu/thirdparty/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

custom-layers
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Caffe.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_MxNet.md
Due: none

update
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Caffe.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_MxNet.md
Due: none

tfl - removes redundant params
  tests/layer_tests/tensorflow_lite_tests/test_tfl_Conv2D.py
  tests/layer_tests/tensorflow_lite_tests/test_tfl_DepthToSpace.py
  tests/layer_tests/tensorflow_lite_tests/test_tfl_DepthwiseConv2D.py
  tests/layer_tests/tensorflow_lite_tests/test_tfl_FullyConnected.py
  tests/layer_tests/tensorflow_lite_tests/test_tfl_Pool.py
  tests/layer_tests/tensorflow_lite_tests/test_tfl_SpaceToDepth.py
  tests/layer_tests/tensorflow_lite_tests/test_tfl_TransposeConv.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

snippet comment
  docs/snippets/compile_model.cpp
  docs/snippets/compile_model.py
Due: none

Final touches
  src/core/include/openvino/op/strided_slice.hpp
  src/core/src/op/strided_slice.cpp
  src/core/tests/type_prop/strided_slice.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

style:
  src/core/src/op/strided_slice.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Delete ptq_introduction.md
  docs/optimization_guide/nncf/ptq/ptq_introduction.md
Due: none

[ShapeInfer] Review detectron ROI feature extractor shape inference aspects (#17532)
  src/core/include/openvino/op/experimental_detectron_roi_feature.hpp
  src/core/shape_inference/include/experimental_detectron_roi_feature_shape_inference.hpp
  src/core/shape_inference/include/experimental_detectron_shape_infer_utils.hpp
  src/core/shape_inference/src/experimental_detectron_shape_infer_utils.cpp
  src/core/src/op/experimental_detectron_roi_feature.cpp
  src/core/tests/type_prop/experimental_detectron_roi_feature_extractor.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/experimental_detectron_roi_feature_extractor.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/experimental_detectron_roi_feature_extractor_shape_inference_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[ShapeInfer] Review experimental detectron prior grid generator class for shape inference aspects (#17474)
  src/core/include/openvino/op/experimental_detectron_prior_grid_generator.hpp
  src/core/shape_inference/include/experimental_detectron_prior_grid_generator_shape_inference.hpp
  src/core/src/op/experimental_detectron_detection_output.cpp
  src/core/src/op/experimental_detectron_generate_proposals.cpp
  src/core/src/op/experimental_detectron_prior_grid_generator.cpp
  src/core/tests/type_prop/experimental_detectron_prior_grid_generator.cpp
  src/core/tests/visitors/op/experimental_detectron_prior_grid_generator.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/experimental_detectron_prior_grid_generator_shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/experimental_detectron_prior_grid_generator_shape_inference_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Remove js app init file
  cmake/developer_package/add_ie_target.cmake
  cmake/developer_package/js/js_test.js.in
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Remove js init file
  cmake/developer_package/add_ie_target.cmake
  cmake/developer_package/js/js_test.js.in
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

update
  .github/workflows/stale_prs_and_issues.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

notebooks and fixes
  docs/Documentation/model_introduction.md
  docs/IE_PLUGIN_DG/Intro.md
  docs/IE_PLUGIN_DG/plugin_transformation_pipeline/low_precision_transformations/lpt.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_GNMT_From_Tensorflow.md
  docs/OV_Runtime_UG/auto_device_selection.md
  docs/OV_Runtime_UG/protecting_model_guide.md
  docs/get_started.md
  docs/install_guides/configurations-for-intel-gna.md
  docs/install_guides/configurations-for-intel-gpu.md
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-overview.md
  docs/install_guides/installing-openvino-pip.md
  docs/install_guides/installing-openvino-raspbian.md
  docs/notebooks-installation.md
  docs/optimization_guide/nncf/introduction.md
  docs/resources/supported_models.md
  samples/c/hello_nv12_input_classification/README.md
  tools/pot/docs/Introduction.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

1.Remove MULTI test cases 2.Reduce iteration from 50 to 10
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/infer_consistency.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/infer_consistency.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update docs/Documentation/model_introduction.md
  docs/Documentation/model_introduction.md
Due: none

tfl - batch matmul
  tests/layer_tests/tensorflow_lite_tests/test_tfl_BatchMatmul.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Create macro for deprecation API
  src/inference/include/ie/ie_api.h
  src/inference/include/ie/ie_data.h
  src/inference/include/ie/ie_extension.h
  src/inference/include/ie/ie_iextension.h
  src/inference/tests/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

modify test case
  src/inference/tests/unit/cpu_map_from_cores_test.cpp
  src/inference/tests/unit/cpu_map_parser.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix eslint warnings from common_api_example.js
  samples/js/node/common_api_example.js
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update FrequentlyAskedQuestions.md
  tools/pot/docs/FrequentlyAskedQuestions.md
Due: .ci/azure/linux.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Update Introduction.md
  tools/pot/docs/Introduction.md
Due: .ci/azure/linux.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Update infer signature for the wasm package
  src/bindings/js/wasm/lib/wasm-model.ts
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fixed data tests
  src/inference/tests/functional/data_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix CI issue.
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/nodes/conv.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Updated APT/YUM instructions with actual version. Added instructions for Ubuntu22. Updated subfolders naming for APT.
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-yum.md
Due: none

Strided Slice fix constant creation (#17556)
  src/core/include/openvino/op/strided_slice.hpp
  src/core/src/op/strided_slice.cpp
  src/core/tests/type_prop/strided_slice.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[Tests] Thresholds logs were moved to Debug build only.
  src/tests/ie_test_utils/common_test_utils/ov_tensor_utils.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Strided Slice fix constant creation (#17557)
  src/core/include/openvino/op/strided_slice.hpp
  src/core/src/op/strided_slice.cpp
  src/core/tests/type_prop/strided_slice.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix matmul smoke test fail on windows
  src/plugins/intel_gpu/src/plugin/ops/matmul.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml
