Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools

Suppress warning
  src/inference/tests/functional/ov_core_threading.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix build
  src/frontends/pytorch/src/place.cpp
  src/frontends/pytorch/src/place.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

unit tests: change the default case resolution policy so that it resolves cyclic inplace to downstream instead of upstream for outputs.
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/inplace_resolve_io.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Try to fix Windows build
  src/tests/test_utils/common_test_utils/include/common_test_utils/w_dirent.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Remove IR version and nGraph name from the Opset doc (#19615)
  docs/ops/opset1.md
  docs/ops/opset10.md
  docs/ops/opset11.md
  docs/ops/opset12.md
  docs/ops/opset2.md
  docs/ops/opset3.md
  docs/ops/opset4.md
  docs/ops/opset5.md
  docs/ops/opset6.md
  docs/ops/opset7.md
  docs/ops/opset8.md
  docs/ops/opset9.md
Due: none

Extend sphinx_sitemap to add custom metadata (#19641)
  docs/conf.py
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/PKG-INFO
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/SOURCES.txt
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/dependency_links.txt
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/requires.txt
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/top_level.txt
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap/__init__.py
  docs/openvino_custom_sphinx_sitemap/pyproject.toml
  docs/requirements.txt
Due: none

[CONFORMANCE][SUBGRAPHS DUMPER] Change repeat pattern extractor to avoid duplications and reduce graphs size
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/matchers/single_op/manager.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/matchers/subgraph/manager.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/matchers/subgraph/subgraph.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/utils/model.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/cache/graph_cache.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/single_op/manager.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/subgraph/fused_names.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/subgraph/manager.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/subgraph/repeat_pattern.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/subgraph/subgraph.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fixed build with oneDNN GPU in some Conan scenarios
  CMakeLists.txt
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

extended logs collections
  .github/workflows/windows.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

tmp
  src/tests/functional/plugin/shared/include/behavior/compiled_model/compiled_model_base.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fixed GNA build
  src/plugins/intel_gna/tests/deprecated/helpers/tests_file_utils.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add canSetInputPrecisionForNetwork and canSetOutputPrecisionForNetwork
  src/tests/functional/plugin/shared/include/behavior/compiled_model/compiled_model_base.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Better content for Additional Resources in model preporation introduction
  docs/Documentation/model_introduction.md
Due: none

fix code style
  src/tests/functional/plugin/shared/include/behavior/compiled_model/compiled_model_base.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update supported_model_formats.md (#19643)
  docs/MO_DG/prepare_model/convert_model/supported_model_formats.md
Due: none

enable dynamic
  .github/workflows/linux.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[GPU] Add input feature leftovers processing for fully_connected_gpu_bs_f_bsv16_af8_vload kernel (#19650)
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/fully_connected_gpu_bs_f_bsv16_af8_vload.cl
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Draft of weight compression docs
  docs/optimization_guide/model_optimization_guide.md
  docs/optimization_guide/nncf/code/weight_compression_openvino.py
  docs/optimization_guide/nncf/weight_compression.md
Due: none

Python update
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
  docs/dev/build_linux.md
  docs/dev/build_mac_arm.md
  docs/dev/build_mac_intel_cpu.md
  docs/dev/build_raspbian.md
  docs/dev/build_windows.md
  docs/install_guides/--installing-openvino-raspbian-removedfromtoc.md
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-brew.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-yum.md
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
  docs/install_guides/troubleshooting.md
  docs/notebooks-installation.md
  src/plugins/intel_gpu/README.md
  tools/pot/README_dev.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Text corrections.
  docs/OV_Converter_UG/prepare_model/convert_model/MO_OVC_transition.md
Due: none

Hide helper functions from public API
  src/core/dev_api/shape_util.hpp
  src/core/src/shape_util.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

update
  docs/install_guides/--installing-openvino-raspbian-removedfromtoc.md
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/installing-openvino-from-archive-windows.md
Due: none

Fix OVInferRequestPerfCountersTest: make HETERO plugin to use API-compliant node name
  src/plugins/hetero/src/sync_infer_request.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

center arrow
  docs/_static/css/custom.css
Due: none

fix
  docs/install_guides/--installing-model-dev-tools.md
  docs/install_guides/installing-openvino-from-archive-windows.md
Due: none

Fixed typos
  docs/optimization_guide/nncf/weight_compression.md
Due: none

Increase timeout for CPU tests
  .github/workflows/linux.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Links corrected.
  docs/OV_Converter_UG/prepare_model/convert_model/MO_OVC_transition.md
Due: none

Add upper bound for setuptools
  src/bindings/python/constraints.txt
  src/bindings/python/wheel/requirements-dev.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add error msg empty constant
  src/bindings/python/src/openvino/runtime/opset1/ops.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Refactor BroadcastLayerTest
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/broadcast.cpp
  src/tests/functional/plugin/shared/include/single_layer_tests/broadcast.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/broadcast.hpp
  src/tests/functional/shared_test_classes/src/single_layer/broadcast.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Refactor OutputBeforeActivation
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/get_output_before_activation.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/get_output_before_activation.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/get_output_before_activation.hpp
  src/tests/functional/shared_test_classes/src/subgraph/get_output_before_activation.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Refactor ConstantResultSubgraphTest
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/constant_result.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/constant_result.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/constant_result.hpp
  src/tests/functional/shared_test_classes/src/subgraph/constant_result.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Refactor GRUSequenceTest
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/gru_sequence.cpp
  src/tests/functional/plugin/shared/include/single_layer_tests/gru_sequence.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/gru_sequence.hpp
  src/tests/functional/shared_test_classes/src/single_layer/gru_sequence.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_enums.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Add proper InputShape usage in BroadcastLayerTestNew test
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/broadcast.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/broadcast.hpp
  src/tests/functional/shared_test_classes/src/single_layer/broadcast.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fixes
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/broadcast.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/gru_sequence.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/constant_result.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/get_output_before_activation.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/broadcast.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/augru_sequence_test.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/single_layer_tests/gru_sequence.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/constant_result.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/get_output_before_activation.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/broadcast.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/gru_sequence.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/constant_result.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/get_output_before_activation.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/broadcast.cpp
  src/plugins/template/tests/functional/op_reference/augru_sequence.cpp
  src/plugins/template/tests/functional/op_reference/gru_sequence.cpp
  src/tests/functional/plugin/shared/include/single_layer_tests/broadcast.hpp
  src/tests/functional/plugin/shared/include/single_layer_tests/gru_sequence.hpp
  src/tests/functional/plugin/shared/include/subgraph_tests/constant_result.hpp
  src/tests/functional/plugin/shared/include/subgraph_tests/get_output_before_activation.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/broadcast.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/gru_sequence.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/constant_result.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/get_output_before_activation.hpp
  src/tests/functional/shared_test_classes/src/single_layer/broadcast.cpp
  src/tests/functional/shared_test_classes/src/single_layer/gru_sequence.cpp
  src/tests/functional/shared_test_classes/src/subgraph/constant_result.cpp
  src/tests/functional/shared_test_classes/src/subgraph/get_output_before_activation.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_enums.hpp
  src/tests/test_utils/common_test_utils/src/test_enums.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Add proper InputShape usage in OutputBeforeActivationNew test
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/get_output_before_activation.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/get_output_before_activation.hpp
  src/tests/functional/shared_test_classes/src/subgraph/get_output_before_activation.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml
