Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

.ci/azure/android_arm64.yml:
  jobs:
  - job: android_arm64
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Debug
      OPENVINO_REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux.yml:
  jobs:
  - job: Lin
    strategy:
      matrix:
        Static:
          CMAKE_BUILD_SHARED_LIBS: 'OFF'
          PYTHON_STATIC_ARGS: -m "not dynamic_library"
          CMAKE_CPACK_GENERATOR: TGZ
          SAMPLES_INSTALL_DIR: $(INSTALL_DIR)/samples
          PYTHON_SAMPLES_INSTALL_DIR: $(SAMPLES_INSTALL_DIR)/python
  ...

.ci/azure/linux_arm64.yml:
  jobs:
  - job: linux_arm64
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      NUM_PROC: 2
      BUILD_TYPE: Release
      OPENVINO_REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_conditional_compilation.yml:
  jobs:
  - job: LinCC
    timeoutInMinutes: '90'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      MODELS_PATH: $(REPO_DIR)/../testdata
  ...

.ci/azure/linux_cuda.yml:
  jobs:
  - job: CUDAPlugin_Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      HOME_DIR: $(Agent.HomeDirectory)
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_debian.yml:
  jobs:
  - job: Lin_Debian
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      MODELS_PATH: $(REPO_DIR)/../testdata
  ...

.ci/azure/linux_intel_gna.yml:
  jobs:
  - job: Lin
    timeoutInMinutes: '180'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_onnxruntime.yml:
  jobs:
  - job: onnxruntime
    timeoutInMinutes: '90'
    pool:
      name: LIN_VMSS_VENV_ONNX_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/mac.yml:
  jobs:
  - job: Mac
    timeoutInMinutes: '360'
    pool:
      vmImage: macOS-11
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_CONTRIB_REPO_DIR: $(REPO_DIR)/../openvino_contrib
  ...

[OV JS] Update js deps to fix audit, LTS port of #24957 (#24965)
  samples/js/node/package-lock.json
  src/bindings/js/node/package-lock.json
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

skip
  .github/workflows/linux_sanitizers.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

after review
  docs/articles_en/about-openvino/compatibility-and-support/supported-models.rst
Due: none

renamed
  docs/articles_en/about-openvino/performance-benchmarks.rst
Due: none

Porting updated footer file
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/html/footer.html
Due: none

last ones
  .github/skip_test/ubuntu22/gpu/unit_test_skip_list.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Docs data table implementation (#24844)
  docs/articles_en/about-openvino/compatibility-and-support/supported-models.rst
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/generative-ai-performance.rst
  docs/articles_en/about-openvino/performance-benchmarks/generativeAI-benchmarks.rst
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/css/jquery.dataTables.min.css
  docs/sphinx_setup/_static/css/openVinoDataTables.css
  docs/sphinx_setup/_static/js/custom.js
  docs/sphinx_setup/_static/js/jquery.dataTables.min.js
  docs/sphinx_setup/_static/js/openVinoDataTables.js
  docs/sphinx_setup/_static/llm_models.csv
  docs/sphinx_setup/_static/models.csv
  docs/sphinx_setup/_templates/layout.html
Due: none

[OV JS] Update js deps to fix audit (#24957)
  samples/js/node/package-lock.json
  src/bindings/js/node/package-lock.json
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[OV JS] Update js deps to fix audit, port of #24957 (#24958)
  samples/js/node/package-lock.json
  src/bindings/js/node/package-lock.json
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add doc directive
  docs/articles_en/learn-openvino/llm_inference_guide.rst
Due: none

add samples link
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
Due: none

[DOCS] Updating footer file - port to 2024.2 (#24971)
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/html/footer.html
Due: none

Add link to live sample
  samples/js/node/README.md
  src/bindings/js/node/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Port 24844
  docs/articles_en/about-openvino/compatibility-and-support/supported-models.rst
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/generative-ai-performance.rst
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/css/jquery.dataTables.min.css
  docs/sphinx_setup/_static/css/openVinoDataTables.css
  docs/sphinx_setup/_static/js/custom.js
  docs/sphinx_setup/_static/js/jquery.dataTables.min.js
  docs/sphinx_setup/_static/js/openVinoDataTables.js
  docs/sphinx_setup/_static/llm_models.csv
  docs/sphinx_setup/_static/models.csv
  docs/sphinx_setup/_templates/layout.html
Due: none

remove onednn_valid_params in is_node_for_onednn(deconvolution_node const& node)
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

more
  .github/skip_test/ubuntu22/gpu/unit_test_skip_list.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Clean `skip_tests_config` from NPU plugin
  src/plugins/intel_npu/tests/functional/internal/overload/ov_plugin/core_integration.hpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix description
  samples/js/node/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix description
  src/bindings/js/node/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] fix back to top button for 24.2 (#24947)
  docs/openvino_sphinx_theme/openvino_sphinx_theme/static/css/openvino_sphinx_theme.css
  docs/sphinx_setup/_static/css/custom.css
Due: none

remove only get_dims() dependency in onednn_valid_params
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[LPT] ReduceSum: zero point support
  src/common/low_precision_transformations/src/reduce_sum.cpp
  src/common/low_precision_transformations/tests/reduce_sum_transformation.cpp
  src/core/src/op/multiply.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

rebuild the full project
  src/bindings/python/wheel/setup.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Adding wrappers and replacing old API
  src/plugins/intel_npu/src/backend/include/zero_api.hpp
  src/plugins/intel_npu/src/backend/src/zero_api.cpp
  src/plugins/intel_npu/src/backend/src/zero_device.cpp
  src/plugins/intel_npu/src/backend/src/zero_init.cpp
  src/plugins/intel_npu/src/backend/src/zero_memory.cpp
  src/plugins/intel_npu/src/backend/src/zero_profiling.cpp
  src/plugins/intel_npu/src/backend/src/zero_wrappers.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] GenAI docs (#24843)
  docs/articles_en/get-started/install-openvino.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-genai.rst
  docs/articles_en/get-started/install-openvino/install-openvino-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-pip.rst
  docs/articles_en/learn-openvino/llm_inference_guide.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-hf.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-native-ov.rst
Due: none

[GPU] Fix gather_elements ref kernel for padding input (#24938)
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gather_elements_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/gather/gather_elements_kernel_ref.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/gather_elements_padding_input.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Moving zero api to zero utils and adding it to zero compiler
  src/plugins/intel_npu/src/backend/src/zero_device.cpp
  src/plugins/intel_npu/src/backend/src/zero_init.cpp
  src/plugins/intel_npu/src/backend/src/zero_memory.cpp
  src/plugins/intel_npu/src/backend/src/zero_profiling.cpp
  src/plugins/intel_npu/src/backend/src/zero_wrappers.cpp
  src/plugins/intel_npu/src/compiler/include/zero_compiler_in_driver.hpp
  src/plugins/intel_npu/src/compiler/src/driver_compiler_adapter.cpp
  src/plugins/intel_npu/src/utils/include/intel_npu/utils/zero/zero_api.hpp
  src/plugins/intel_npu/src/utils/src/zero/CMakeLists.txt
  src/plugins/intel_npu/src/utils/src/zero/zero_api.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

rm **
  .github/skip_test/ubuntu22/gpu/unit_test_skip_list.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] OpenVINO Python API build fix
  docs/CMakeLists.txt
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/custom-class-template.rst
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/custom-module-template.rst
  docs/scripts/install_appropriate_openvino_version.py
Due: none

[DOCS] GenAI docs port (#24979)
  docs/articles_en/get-started/install-openvino.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-genai.rst
  docs/articles_en/get-started/install-openvino/install-openvino-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-pip.rst
  docs/articles_en/learn-openvino/llm_inference_guide.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-hf.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-native-ov.rst
Due: none

review suggestions
  src/core/src/type/float8_e8m0.cpp
  src/core/tests/float8_e8m0.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add reference
  src/core/tests/float8_e8m0.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[GPU] CPU Reduce impl + ScatterNDUpdate fixes to avoid shape flow synchronizations (#24966)
  src/plugins/intel_gpu/src/graph/impls/cpu/reduce.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/register.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/register.hpp
  src/plugins/intel_gpu/src/graph/include/scatter_nd_update_inst.h
  src/plugins/intel_gpu/src/graph/scatter_nd_update.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reduce_gpu_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add comments
  src/core/src/type/float8_e8m0.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
