Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_onnxruntime.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/mac.yml: any file but: docs
  .ci/azure/windows.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools

remove commented lines
  src/frontends/pytorch/src/op/topk.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Check with proper version of Python
  .ci/azure/linux_arm64.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add tests for aten::mul
  tests/layer_tests/pytorch_tests/test_mul.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update tests/layer_tests/pytorch_tests/test_eq.py
  tests/layer_tests/pytorch_tests/test_eq.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add mul tests to precommit
  tests/layer_tests/pytorch_tests/test_mul.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

remove white space
  src/frontends/pytorch/src/op/topk.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

DOCS: Update doxygen version (#15210)
  .github/workflows/build_doc.yml
  docs/IE_PLUGIN_DG/plugin_transformation_pipeline/low_precision_transformations/lpt.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_YOLACT.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_GNMT_From_Tensorflow.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Customize_Model_Optimizer.md
  docs/OV_Runtime_UG/auto_device_selection.md
  docs/OV_Runtime_UG/multi_device.md
  docs/OV_Runtime_UG/supported_plugins/Supported_Devices.md
  docs/get_started.md
  docs/get_started/get_started_demos.md
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/installing-openvino-docker-linux.md
  docs/install_guides/installing-openvino-docker-windows.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-raspbian.md
  docs/ops/opset1.md
  docs/ops/opset10.md
  docs/ops/opset2.md
  docs/ops/opset3.md
  docs/ops/opset4.md
  docs/ops/opset5.md
  docs/ops/opset6.md
  docs/ops/opset7.md
  docs/ops/opset8.md
  docs/ops/opset9.md
  docs/ovsa/ovsa_get_started.md
  samples/cpp/benchmark_app/README.md
  samples/cpp/speech_sample/README.md
  samples/python/speech_sample/README.md
  src/core/include/openvino/pass/pattern/op/branch.hpp
  tools/benchmark_tool/README.md
  tools/pot/openvino/tools/pot/algorithms/quantization/range_supervision/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix formatting (#15174)
  docs/install_guides/configurations-for-iei-card.md
Due: none

fix formatting (#15201)
  docs/install_guides/configurations-for-iei-card.md
Due: none

fix formatting (#15202)
  docs/install_guides/configurations-for-iei-card.md
Due: none

Introduce ov::ICore (#15096)
  src/core/include/openvino/core/any.hpp
  src/core/include/openvino/runtime/tensor.hpp
  src/inference/dev_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  src/inference/dev_api/ie_icore.hpp
  src/inference/dev_api/openvino/runtime/icore.hpp
  src/inference/dev_api/openvino/runtime/iplugin.hpp
  src/inference/include/openvino/runtime/remote_context.hpp
  src/inference/src/check_network_batchable.cpp
  src/inference/src/check_network_batchable.hpp
  src/inference/src/compilation_context.cpp
  src/inference/src/compilation_context.hpp
  src/inference/src/core.cpp
  src/inference/src/cpp/ie_plugin.hpp
  src/inference/src/cpp_interfaces/interface/ie_iplugin_internal.cpp
  src/inference/src/dev/converter_utils.cpp
  src/inference/src/dev/converter_utils.hpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/inference/src/dev/core_impl_ie.cpp
  src/inference/src/dev/iplugin.cpp
  src/inference/src/dev/iplugin_wrapper.cpp
  src/inference/src/dev/iplugin_wrapper.hpp
  src/inference/src/dev/plugin.cpp
  src/inference/src/dev/plugin.hpp
  src/inference/src/ie_core.cpp
  src/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_icore.hpp
  src/tests/ie_test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.cpp
  tests/stress_tests/common/ie_pipelines/pipelines.cpp
  tests/stress_tests/unittests/tests_pipelines/tests_pipelines_full_pipeline.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Use manylinux2014 instead of manylinux_2_17 as a platform tag
  src/bindings/python/wheel/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

delete DL WB tips
  docs/Documentation/model_introduction.md
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
Due: none

Fixed segfault
  src/plugins/template/src/template_executable_network.cpp
  src/plugins/template/src/template_executable_network.hpp
  src/plugins/template/src/template_infer_request.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Initial migration of TemplatePlugin to ov::IPlugin interface
  src/inference/CMakeLists.txt
  src/inference/dev_api/openvino/runtime/iplugin.hpp
  src/inference/src/dev/iplugin.cpp
  src/inference/src/dev/preprocessing/add_scale.cpp
  src/inference/src/dev/preprocessing/add_scale.hpp
  src/inference/src/dev/preprocessing/mean_image_or_value.cpp
  src/inference/src/dev/preprocessing/mean_image_or_value.hpp
  src/inference/src/dev/preprocessing/preprocessing.cpp
  src/inference/src/dev/preprocessing/preprocessing.hpp
  src/plugins/template/src/template_config.cpp
  src/plugins/template/src/template_config.hpp
  src/plugins/template/src/template_executable_network.cpp
  src/plugins/template/src/template_executable_network.hpp
  src/plugins/template/src/template_plugin.cpp
  src/plugins/template/src/template_plugin.hpp
  src/plugins/template/src/transformations/preprocessing/mean_image_or_value.cpp
  src/plugins/template/src/transformations/preprocessing/std_scale.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

remove space
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
Due: none

Ported PropertyAccess to reuse it inside the plugins
  src/common/util/include/openvino/util/common_util.hpp
  src/inference/dev_api/openvino/runtime/internal_properties.hpp
  src/inference/dev_api/openvino/runtime/property_supervisor.hpp
  src/inference/include/openvino/runtime/properties.hpp
  src/inference/src/dev/property_supervisor.cpp
  src/inference/tests/unit/property_supervisor.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

convert_model() slow conversion time fix (#14666)
  tools/mo/openvino/tools/mo/back/ie_ir_ver_2/emitter.py
  tools/mo/openvino/tools/mo/convert.py
  tools/mo/openvino/tools/mo/convert_impl.py
  tools/mo/openvino/tools/mo/main.py
  tools/mo/unit_tests/mo/convert/meta_data_test_actual.py
  tools/mo/unit_tests/mo/frontend_ngraph_test.py
  tools/mo/unit_tests/mo/utils/cli_parser_test.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Added target_compile_definitions OPENVINO_STATIC_LIBRARY for static build
  src/frontends/tensorflow_common/src/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

default_quantization_flow (#14849)
  tools/pot/docs/DefaultQuantizationUsage.md
  tools/pot/docs/images/default_quantization_flow.png
  tools/pot/docs/images/default_quantization_flow.svg
Due: .ci/azure/mac.yml

default_quantization_flow (#14850)
  tools/pot/docs/DefaultQuantizationUsage.md
  tools/pot/docs/images/default_quantization_flow.png
  tools/pot/docs/images/default_quantization_flow.svg
Due: .ci/azure/mac.yml

default_quantization_flow (#14848)
  tools/pot/docs/DefaultQuantizationUsage.md
  tools/pot/docs/images/default_quantization_flow.png
  tools/pot/docs/images/default_quantization_flow.svg
Due: .ci/azure/mac.yml

Remove plugin.hpp
  src/core/include/openvino/core/any.hpp
  src/inference/src/core.cpp
  src/inference/src/cpp/ie_plugin.hpp
  src/inference/src/dev/converter_utils.cpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/iplugin_wrapper.hpp
  src/inference/src/ie_core.cpp
  src/inference/tests/functional/caching_test.cpp
  src/inference/tests/functional/ov_shared_object_test.cpp
  src/inference/tests/functional/shared_object_loader_test.cpp
  src/inference/tests/unit/cpp_interfaces/ie_infer_async_request_base_test.cpp
  src/inference/tests/unit/cpp_interfaces/ie_memory_state_internal_test.cpp
  src/inference/tests/unit/cpp_interfaces/ie_plugin_test.cpp
  src/inference/tests/unit/ie_executable_network_test.cpp
  src/tests/unit/auto/auto_ctput_test.cpp
  src/tests/unit/auto/auto_default_perf_hint_test.cpp
  src/tests/unit/auto/auto_load_network_properties_test.cpp
  src/tests/unit/auto/auto_release_helper_test.cpp
  src/tests/unit/auto/auto_select_device_failed_test.cpp
  src/tests/unit/auto/exec_network_get_metrics.cpp
  src/tests/unit/auto/get_device_list.cpp
  src/tests/unit/auto/key_network_priority_test.cpp
  src/tests/unit/auto/parse_meta_device_test.cpp
  src/tests/unit/auto/select_device_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

DEBUG
  .ci/azure/linux_arm64.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Added SVG files to lfs
  .gitattributes
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update linux_arm64.yml
  .ci/azure/linux_arm64.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Removed redundant convert_model from CoreImpl
  src/inference/src/compilation_context.cpp
  src/inference/src/compilation_context.hpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/inference/src/dev/core_impl_ie.cpp
  src/inference/tests/unit/ie_compilation_context_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fixed code style
  src/inference/src/compilation_context.hpp
  src/inference/tests/unit/ie_compilation_context_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix issue with meshgrid placed in loop body
  src/frontends/pytorch/src/op/meshgrid.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/transforms/prim_list_unpack_replacer.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Apply suggestions from code review
  src/frontends/pytorch/src/op/instance_norm.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

move include to invidual ops
  src/frontends/pytorch/src/op/topk.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

scripts/CMakeLists: removed install_NEO_OCL_driver from installing
  docs/install_guides/gpu-setup-guide.md
  scripts/CMakeLists.txt
  tools/deployment_manager/configs/linux.json
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[GNA][PWL] Add unit tests for PWLApproximation transformation accuracy
  src/plugins/intel_gna/tests/unit/transformations/pwl_me_monotonicity.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix anchors
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-brew.md
  docs/install_guides/installing-openvino-yum.md
Due: none
