Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools

DOCS - Release Notes Edits (#31001)
  docs/articles_en/about-openvino/release-notes-openvino.rst
Due: none

[DOCS] Proofreading Inference Modes and Devices (#30973)
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/cpu-device.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/cpu-device/performance-hint-and-thread-scheduling.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/gpu-device.rst
  docs/articles_en/openvino-workflow/running-inference/inference-request/python-api-advanced-inference.rst
Due: none

[DOCS] Change support info (#31011)
  docs/articles_en/get-started/install-openvino/install-openvino-conda.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yum.rst
Due: none

latest changes
  docs/articles_en/about-openvino/release-notes-openvino.rst
Due: none

[Snippets][CPU] Fix uninitialized value jump reported by valgrind
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_copy_b.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix review remark
  src/plugins/intel_cpu/src/infer_request.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[NPU Plugin] EISW-172448 Add numSubgraphs to network metadata for dynamic shape support
  src/plugins/intel_npu/src/al/include/intel_npu/network_metadata.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Use proper member names
  src/common/util/include/openvino/util/log_dispatch.hpp
  src/common/util/src/log_dispatch.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix missing default partition_id in openvino_execute
  src/bindings/python/src/openvino/frontend/pytorch/torchdynamo/execute.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[GPU] Extended stored values ​​for program_node serialization
  src/plugins/intel_gpu/src/graph/program_node.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Reduced the test tensor size
  tests/layer_tests/pytorch_tests/test_index_put_.py
Due: .ci/azure/linux.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

index_put test disable random tensors due to gw mismatch
  tests/layer_tests/pytorch_tests/test_index_put_.py
Due: .ci/azure/linux.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Added comment for index_put value shape patch
  src/frontends/pytorch/src/transforms/aten_index_put_replacer.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[CPU][PA]Enable i8 quantization for key
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/memory_state.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant_kernel.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/cache_rotation.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.cpp
  src/plugins/intel_cpu/src/nodes/paged_attn.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[CPU][PA] Move kernel to common folder
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/paged_attn_kernel.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[CPU]Extend brgemm to support s8s8s32 with weight scale
  src/plugins/intel_cpu/src/nodes/kernels/x64/brgemm_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/brgemm_kernel.hpp
  src/plugins/intel_cpu/tests/unit/brgemm_executor_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[CPU][PA]Compact parameters
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa_common.hpp
  src/plugins/intel_cpu/src/nodes/paged_attn.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[Snippets][CPU] Renamed RepackedInput to InputRepacker
  src/plugins/intel_cpu/src/emitters/snippets/cpu_runtime_configurator.hpp
  src/plugins/intel_cpu/src/emitters/snippets/input_repacker.cpp
  src/plugins/intel_cpu/src/emitters/snippets/input_repacker.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_copy_b.hpp
  src/plugins/intel_cpu/src/nodes/executors/x64/subgraph.cpp
  src/plugins/intel_cpu/src/nodes/executors/x64/subgraph.hpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.h
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/eliminate_brgemm_copy_b.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/eliminate_brgemm_copy_b.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/external_repacking_adjuster.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/init_repacked_constant_inputs.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/init_repacked_constant_inputs.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[Snippets][CPU] Supported weights repacking used Reorder
  src/plugins/intel_cpu/src/nodes/executors/x64/subgraph.cpp
  src/plugins/intel_cpu/src/nodes/executors/x64/subgraph.hpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.h
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/eliminate_brgemm_copy_b.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/eliminate_brgemm_copy_b.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/external_repacking_adjuster.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/init_repacked_constant_inputs.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/init_repacked_constant_inputs.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/repack_matmul_weights.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/repack_matmul_weights.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[Snippets][CPU] Fix uninitialized value jump reported by valgrind (#31019)
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_copy_b.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Refactor the code
  src/plugins/hetero/src/compiled_model.cpp
  src/plugins/hetero/src/compiled_model.hpp
  src/plugins/hetero/src/plugin.cpp
  src/plugins/hetero/src/plugin.hpp
  src/plugins/hetero/src/remote_context.cpp
  src/plugins/hetero/src/remote_tensor.cpp
  src/plugins/hetero/src/remote_tensor.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix the code style
  src/plugins/hetero/src/compiled_model.cpp
  src/plugins/hetero/src/plugin.cpp
  src/plugins/hetero/src/remote_tensor.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] Fix release notes message (#31017)
  docs/articles_en/about-openvino/release-notes-openvino.rst
Due: none

[CPU]Enable Sage Attention
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant_kernel.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/common.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa_common.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/sage_attn.hpp
  src/plugins/intel_cpu/src/nodes/paged_attn.cpp
  src/plugins/intel_cpu/src/utils/plain_tensor.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix the code style
  src/plugins/hetero/src/compiled_model.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[CPU] [ARM64] jit hsigmoid emitter (#31010)
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/src/transformations/defs.hpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update
  src/common/transformations/src/transformations/common_optimizations/variadic_split_merge.cpp
  src/common/transformations/tests/common_optimizations/variadic_split_merge_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

serialize kv-cache precision information for ScaledDotProductAttention
  src/plugins/intel_cpu/src/graph_dumper.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

hard-code i8
  src/plugins/intel_cpu/src/nodes/paged_attn.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

change date
  docs/articles_en/about-openvino/release-notes-openvino.rst
Due: none

[GPU] Extended stored values ​​for program_node serialization (#31022)
  src/plugins/intel_gpu/src/graph/program_node.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] change date (#31027)
  docs/articles_en/about-openvino/release-notes-openvino.rst
Due: none

[Python] Add conversion of dictionary to string in properties mapping
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/bindings/python/src/pyopenvino/utils/utils.hpp
  src/core/include/openvino/core/any.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix unused private member
  src/common/util/src/log_dispatch.cpp
  src/core/tests/log_dispatch.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix test cases
  src/plugins/hetero/src/plugin.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] benchmark update 25.2
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/model-accuracy-int8-fp32.rst
  docs/articles_en/about-openvino/performance-benchmarks/performance-benchmarks-faq.rst
  docs/sphinx_setup/_static/download/benchmarking_OV_platform_list.pdf
  docs/sphinx_setup/_static/download/benchmarking_OV_system_info_detailed.xlsx
Due: none
