Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

.ci/azure/android_arm64.yml:
  jobs:
  - job: android_arm64
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Debug
      OPENVINO_REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux.yml:
  jobs:
  - job: Lin
    strategy:
      matrix:
        Static:
          CMAKE_BUILD_SHARED_LIBS: 'OFF'
          PYTHON_STATIC_ARGS: -m "not dynamic_library"
          CMAKE_CPACK_GENERATOR: TGZ
          SAMPLES_INSTALL_DIR: $(INSTALL_DIR)/samples
          PYTHON_SAMPLES_INSTALL_DIR: $(SAMPLES_INSTALL_DIR)/python
  ...

.ci/azure/linux_arm64.yml:
  jobs:
  - job: linux_arm64
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      NUM_PROC: 2
      BUILD_TYPE: Release
      OPENVINO_REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_conditional_compilation.yml:
  jobs:
  - job: LinCC
    timeoutInMinutes: '90'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      MODELS_PATH: $(REPO_DIR)/../testdata
  ...

.ci/azure/linux_cuda.yml:
  jobs:
  - job: CUDAPlugin_Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      HOME_DIR: $(Agent.HomeDirectory)
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_debian.yml:
  jobs:
  - job: Lin_Debian
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      MODELS_PATH: $(REPO_DIR)/../testdata
  ...

.ci/azure/linux_intel_gna.yml:
  jobs:
  - job: Lin
    timeoutInMinutes: '180'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_onnxruntime.yml:
  jobs:
  - job: onnxruntime
    timeoutInMinutes: '90'
    pool:
      name: LIN_VMSS_VENV_ONNX_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/mac.yml:
  jobs:
  - job: Mac
    timeoutInMinutes: '360'
    pool:
      vmImage: macOS-11
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_CONTRIB_REPO_DIR: $(REPO_DIR)/../openvino_contrib
  ...

[TF FE] Complex type support extended for Separate Bass model. (#21477)
  src/core/shape_inference/include/strided_slice_shape_inference.hpp
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/src/op/binary_op.cpp
  src/frontends/tensorflow_common/src/op/identity.cpp
  src/frontends/tensorflow_common/src/op/reshape.cpp
  src/frontends/tensorflow_common/src/op/shape.cpp
  src/frontends/tensorflow_common/src/op/squeeze.cpp
  src/frontends/tensorflow_common/src/op/strided_slice.cpp
  src/frontends/tensorflow_common/src/op/tensor_list_operations.cpp
  src/frontends/tensorflow_common/src/op/transpose.cpp
  tests/layer_tests/tensorflow_tests/test_tf_FloorDiv.py
  tests/layer_tests/tensorflow_tests/test_tf_Mul.py
  tests/layer_tests/tensorflow_tests/test_tf_Reshape.py
  tests/layer_tests/tensorflow_tests/test_tf_Shape.py
  tests/layer_tests/tensorflow_tests/test_tf_Squeeze.py
  tests/layer_tests/tensorflow_tests/test_tf_StridedSlice.py
  tests/layer_tests/tensorflow_tests/test_tf_TensorListConcatV2.py
  tests/layer_tests/tensorflow_tests/test_tf_Transpose.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix union initialization and ncc style rules
  cmake/developer_package/ncc_naming_style/openvino.style
  src/core/src/type/float8_e4m3.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[ONNX] Refactoring tests on API 2.0 (#21784)
  src/frontends/onnx/tests/onnx_import_quant.in.cpp
  src/frontends/onnx/tests/onnx_import_reshape.in.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[PyOV] delete test models from tests
  src/bindings/python/tests/conftest.py
  src/bindings/python/tests/utils/utils/test_model.onnx
  src/bindings/python/tests/utils/utils/test_model_fp16.bin
  src/bindings/python/tests/utils/utils/test_model_fp16.xml
  src/bindings/python/tests/utils/utils/test_model_fp32.bin
  src/bindings/python/tests/utils/utils/test_model_fp32.xml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Updating thumbnails for notebooks (#21814)
  docs/articles_en/learn_openvino/tutorials.md
  docs/articles_en/learn_openvino/tutorials/notebooks_section_0.md
  docs/articles_en/learn_openvino/tutorials/notebooks_section_1.md
  docs/articles_en/learn_openvino/tutorials/notebooks_section_2.md
  docs/articles_en/learn_openvino/tutorials/notebooks_section_4.md
Due: none

Add more tests for model cache new feature
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_plugin/caching_tests.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_plugin/caching_tests.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/caching_tests.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/caching_tests.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update test_backend.py
  src/bindings/python/tests_compatibility/test_onnx/test_backend.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[Transformations] Support precision conversion for PriorBoxClustered (#21795)
  src/common/transformations/src/transformations/convert_precision.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Shared `execution_graph_tests` to API2.0 (#21718)
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/execution_graph_tests/add_output.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/execution_graph_tests/runtime_precision.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/execution_graph_tests/add_output.cpp
  src/tests/functional/plugin/shared/include/execution_graph_tests/add_output.hpp
  src/tests/functional/plugin/shared/include/execution_graph_tests/num_inputs_fusing_bin_conv.hpp
  src/tests/functional/plugin/shared/include/execution_graph_tests/runtime_precision.hpp
  src/tests/functional/plugin/shared/src/execution_graph_tests/add_output.cpp
  src/tests/functional/plugin/shared/src/execution_graph_tests/keep_assign.cpp
  src/tests/functional/plugin/shared/src/execution_graph_tests/nms_transformation_for_last_node.cpp
  src/tests/functional/plugin/shared/src/execution_graph_tests/normalize_l2_decomposition.cpp
  src/tests/functional/plugin/shared/src/execution_graph_tests/num_inputs_fusing_bin_conv.cpp
  src/tests/functional/plugin/shared/src/execution_graph_tests/remove_parameter.cpp
  src/tests/functional/plugin/shared/src/execution_graph_tests/runtime_precision.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Link corrected.
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api.rst
Due: none

added 2 more tf skips
  tests/layer_tests/tensorflow_lite_tests/test_tfl_Binary.py
  tests/layer_tests/tensorflow_lite_tests/test_tfl_RFFT2D.py
Due: .ci/azure/linux.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[Test] move softmax.hpp from single_layer_tests/ to single_op/
  src/tests/functional/plugin/shared/include/single_layer_tests/softmax.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/softmax.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fixed names for GraphDef. (#21799)
  src/bindings/python/src/openvino/frontend/tensorflow/utils.py
  tests/layer_tests/ovc_python_api_tests/test_tf.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix test issues
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/bindings/python/tests/test_graph/test_constant.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Removed not working link.
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/Troubleshooting_ReshapeMethod.rst
Due: none

Add 2 unit tests.
  src/plugins/intel_gpu/tests/unit/test_cases/strided_slice_gpu_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix
  src/tests/ov_helpers/ov_models/include/ov_models/builders.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[JS OV] Specify JS API GitHub config (#21785)
  .github/CODEOWNERS
  .github/components.yml
  .github/labeler.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] PT and TF tutorial (#21815)
  docs/articles_en/documentation/openvino_legacy_features.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_FaceNet_From_Tensorflow.rst
  docs/articles_en/learn_openvino.rst
  docs/articles_en/openvino_workflow.rst
  docs/articles_en/openvino_workflow/model_preparation.rst
  docs/articles_en/openvino_workflow/model_preparation/Convert_Model_IR.rst
  docs/articles_en/openvino_workflow/model_preparation/conversion_parameters.rst
  docs/articles_en/openvino_workflow/model_preparation/pytorch_vision.rst
  docs/articles_en/openvino_workflow/model_preparation_tensorflow_pytorch_guide.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino.rst
  docs/home.rst
  docs/sphinx_setup/_static/images/img/import_pytorch.svg
  docs/sphinx_setup/_static/images/img/import_tensorflow.svg
  docs/sphinx_setup/_static/images/import_pytorch.svg
  docs/sphinx_setup/_static/images/import_tensorflow.svg
Due: none

[ONNX FE] Extend ONNX frontend with MaxRoiPool operator
  src/frontends/onnx/frontend/src/op/max_roi_pool.cpp
  src/frontends/onnx/frontend/src/op/max_roi_pool.hpp
  src/frontends/onnx/frontend/src/ops_bridge.cpp
  src/frontends/onnx/tests/models/max_roi_pool_divisible.prototxt
  src/frontends/onnx/tests/models/max_roi_pool_non_divisible.prototxt
  src/frontends/onnx/tests/models/max_roi_pool_spatial_scale.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

import platform added
  tests/layer_tests/tensorflow_lite_tests/test_tfl_Binary.py
Due: .ci/azure/linux.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix
  src/plugins/intel_cpu/tests/functional/single_layer_tests/loop.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[PyOV] Remove deprecated py api (#21675)
  src/bindings/python/src/openvino/properties/hint/__init__.py
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/src/openvino/runtime/properties/hint/__init__.py
  src/bindings/python/src/openvino/runtime/properties/hint/overloads.py
  src/bindings/python/src/openvino/runtime/utils/__init__.py
  src/bindings/python/src/openvino/runtime/utils/util.py
  src/bindings/python/src/pyopenvino/core/infer_request.cpp
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/src/pyopenvino/graph/util.cpp
  src/bindings/python/tests/test_graph/test_basic.py
  src/bindings/python/tests/test_graph/test_utils.py
  src/bindings/python/tests/test_runtime/test_async_infer_request.py
  src/bindings/python/tests/test_runtime/test_compiled_model.py
  src/bindings/python/tests/test_runtime/test_properties.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
