Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools

some fix...need unify inferrequest output tensor and graph memory objects.
  src/frontends/paddle/CMakeLists.txt
  src/inference/src/ie_blob_common.cpp
  src/plugins/intel_cpu/src/infer_request.cpp
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/utils/debug_capabilities.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/transpose_shape_infernece_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

DEBUG LOG
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/infer_request.cpp
  src/plugins/intel_cpu/src/infer_request.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Restore the transformation in MOC
  src/common/transformations/src/transformations/common_optimizations/moc_transformations.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[PT FE] Fix headers, add explicit type, comment out shape detection
  src/frontends/pytorch/src/op/shape_as_tensor.cpp
  src/inference/src/cnn_network_ngraph_impl.cpp
  src/inference/src/cpp_interfaces/interface/ie_iinfer_request_internal.cpp
  tests/layer_tests/pytorch_tests/test_shape_as_tensor.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[PT FE] Reverse example comments
  src/frontends/pytorch/src/op/shape_as_tensor.cpp
  src/inference/src/cnn_network_ngraph_impl.cpp
  src/inference/src/cpp_interfaces/interface/ie_iinfer_request_internal.cpp
  tests/layer_tests/pytorch_tests/test_shape_as_tensor.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

change notebooks links (#17857)
  docs/get_started.md
  docs/install_guides/configurations-for-intel-gpu.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-pip.md
Due: none

cmake unit tests fixed
  src/plugins/intel_cpu/tests/unit/CMakeLists.txt
  src/plugins/intel_cpu/tests/unit/ngraph_transformations/x64/snipptes_mark_skipped.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/fake_quantize_tokenization_test.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/mul_add_to_fma.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Add missing != operator, fixing compilation issue with Visual Studio 17.6 together with /std:c++latest
  src/inference/include/ie/ie_precision.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

change groups type
  src/plugins/intel_cpu/src/transformations/cpu_opset/arm/pass/convert_group_conv.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Resolve some comments
  src/inference/dev_api/openvino/runtime/iasync_infer_request.hpp
  src/inference/dev_api/openvino/runtime/icompiled_model.hpp
  src/inference/dev_api/openvino/runtime/isync_infer_request.hpp
  src/inference/src/compiled_model.cpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl_ie.cpp
  src/inference/src/dev/iasync_infer_request.cpp
  src/inference/src/dev/icompiled_model.cpp
  src/plugins/intel_cpu/src/async_infer_request.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/exec_network.cpp
  src/plugins/intel_cpu/src/exec_network.h
  src/plugins/intel_cpu/src/infer_request.cpp
  src/plugins/intel_cpu/src/infer_request.h
  src/plugins/intel_cpu/src/memory_desc/cpu_memory_desc_utils.cpp
  src/plugins/intel_cpu/src/memory_state.cpp
  src/plugins/intel_cpu/src/memory_state.h
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/src/serialize.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Adding installing OV via Conda-Forge for MacOS
  docs/install_guides/installing-openvino-macos-header.md
Due: none

Adding section Compiling with OpenVINO™ Runtime from Conda-Forge
  docs/install_guides/installing-openvino-conda.md
Due: none

Fixed some comments
  cmake/features.cmake
  src/inference/src/dev/core_impl.cpp
  src/plugins/proxy/src/plugin.cpp
  src/plugins/proxy/src/plugin.hpp
  src/plugins/proxy/tests/properties_tests.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[GPU] Remove clFinish call from USM memory lock function (#17830)
  src/plugins/intel_gpu/include/intel_gpu/runtime/utils.hpp
  src/plugins/intel_gpu/src/graph/impls/common/loop.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_memory.cpp
  src/plugins/intel_gpu/tests/unit/fusions/fusion_test_common.hpp
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gemm_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_utils/test_utils.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

log before parsing in benchmark mode
  src/plugins/intel_cpu/tools/commit_slider/utils/helpers.py
  src/plugins/intel_cpu/tools/commit_slider/utils/modes.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-conda.md
Due: none

Temporary support of StaticShape
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/tile_shape_inference_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix after review part 1
  tests/fuzz/src/import_model-fuzzer.cc
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix exclude paths
  src/plugins/intel_cpu/tests/functional/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Code corrections.
  src/bindings/python/src/openvino/frontend/tensorflow/__init__.py
  src/bindings/python/src/openvino/frontend/tensorflow/graph_iterator.py
  tools/mo/openvino/tools/mo/convert_impl.py
  tools/mo/openvino/tools/mo/moc_frontend/tensorflow_frontend_utils.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

added missed test scenarios
  src/plugins/intel_cpu/tests/functional/single_layer_tests/instances/x64/eltwise.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

app comand added to log
  src/plugins/intel_cpu/tools/commit_slider/utils/helpers.py
  src/plugins/intel_cpu/tools/commit_slider/utils/modes.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix type warning
  src/plugins/intel_cpu/src/transformations/cpu_opset/arm/pass/convert_group_conv.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

BOM test fixed.
  tools/mo/automation/package_BOM.txt
  tools/mo/openvino/tools/mo/moc_frontend/tensorflow_frontend_utils.py
Due: .ci/azure/linux.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

installing-openvino-conda: Fixed title
  docs/install_guides/installing-openvino-conda.md
Due: none

installing-openvino-macos-header: Fixed order for links
  docs/install_guides/installing-openvino-macos-header.md
Due: none

implement zero-copy output.
  src/inference/src/ie_blob_common.cpp
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/graph.h
  src/plugins/intel_cpu/src/infer_request.cpp
  src/plugins/intel_cpu/src/infer_request.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fixed tests naming
  src/plugins/intel_cpu/tests/functional/single_layer_tests/instances/x64/eltwise.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix issue with tensor index of mutated tensor
  src/frontends/pytorch/src/op/if.cpp
  src/frontends/pytorch/src/translate_session.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

revert unintentionally committed files.
  src/frontends/paddle/CMakeLists.txt
  src/inference/src/ie_blob_common.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/transpose_shape_infernece_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[conformance] Add rel pass rate to highlight table (#17783)
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/highlight_tables.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/template/highlight_tables_template.html
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml
