Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

.ci/azure/android_arm64.yml:
  jobs:
  - job: android_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      OPENVINO_REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux.yml:
  jobs:
  - job: Lin
    strategy:
      matrix:
        Static:
          CMAKE_BUILD_SHARED_LIBS: 'OFF'
          PYTHON_STATIC_ARGS: -m "not dynamic_library and not template_plugin"
          CMAKE_CPACK_GENERATOR: null
          SAMPLES_INSTALL_DIR: $(INSTALL_DIR)/samples
  ...

.ci/azure/linux_arm64.yml:
  jobs:
  - job: linux_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      PYTHON_ARM_VERSION: 3.8.12
      PYTHON_EXEC: python3.8
      OPENVINO_ARCH: aarch64
      NUM_PROC: 1
  ...

.ci/azure/linux_conditional_compilation.yml:
  jobs:
  - job: LinCC
    timeoutInMinutes: 90
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      MODELS_PATH: $(REPO_DIR)/../testdata
  ...

.ci/azure/linux_cuda.yml:
  jobs:
  - job: CUDAPlugin_Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      HOME_DIR: $(Agent.HomeDirectory)
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_debian.yml:
  jobs:
  - job: Lin_Debian
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_onnxruntime.yml:
  jobs:
  - job: onnxruntime
    timeoutInMinutes: 90
    pool:
      name: LIN_VMSS_VENV_ONNX_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      ONNXRUNTIME_REPO_DIR: $(REPO_DIR)/../onnxruntime
  ...

.ci/azure/mac.yml:
  jobs:
  - job: Mac
    timeoutInMinutes: 360
    pool:
      vmImage: macOS-10.15
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_CONTRIB_REPO_DIR: $(REPO_DIR)/../openvino_contrib
  ...

Remove ngraph rt_info
  src/common/transformations/include/transformations/convert_precision.hpp
  src/common/transformations/include/transformations/op_conversions/convert_reduce_to_pooling.hpp
  src/common/transformations/include/transformations/op_conversions/convert_reduce_to_reshape.hpp
  src/common/transformations/include/transformations/utils/utils.hpp
  src/plugins/intel_cpu/src/ngraph_transformations/rnn_sequences_optimization.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Remove ngraph includes
  src/common/snippets/src/pass/common_optimizations.cpp
  src/common/transformations/include/transformations/op_conversions/convert_reduce_to_pooling.hpp
  src/common/transformations/include/transformations/op_conversions/convert_reduce_to_reshape.hpp
  src/common/transformations/include/transformations/rt_info/fused_names_attribute.hpp
  src/common/transformations/include/transformations/utils/utils.hpp
  src/common/transformations/include/transformations_visibility.hpp
  src/common/transformations/src/transformations/common_optimizations/convert_compression_only_to_legacy.cpp
  src/common/transformations/src/transformations/common_optimizations/fold_subgraph_empty_inputs.cpp
  src/common/transformations/src/transformations/common_optimizations/remove_concat_zero_dim_input.cpp
  src/common/transformations/src/transformations/common_optimizations/remove_multi_subgraph_op_dangling_params.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_unary.cpp
  src/common/transformations/src/transformations/op_conversions/convert_reduce_to_pooling.cpp
  src/common/transformations/src/transformations/op_conversions/convert_reduce_to_reshape.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Use transformations API
  src/common/transformations/include/transformations/convert_precision.hpp
  src/common/transformations/include/transformations/fix_rt_info.hpp
  src/common/transformations/include/transformations/hash.hpp
  src/common/transformations/include/transformations/init_node_info.hpp
  src/common/transformations/include/transformations/rt_info/fused_names_attribute.hpp
  src/common/transformations/include/transformations/rt_info/old_api_map_element_type_attribute.hpp
  src/common/transformations/include/transformations/rt_info/old_api_map_order_attribute.hpp
  src/common/transformations/include/transformations/rt_info/preprocessing_attribute.hpp
  src/common/transformations/include/transformations/rt_info/primitives_priority_attribute.hpp
  src/common/transformations/include/transformations/smart_reshape/matmul_sr.hpp
  src/common/transformations/include/transformations/smart_reshape/mimic_set_batch_size.hpp
  src/common/transformations/include/transformations/smart_reshape/proposal_scales_stridedslice.hpp
  src/common/transformations/include/transformations/smart_reshape/reshape_to_1D.hpp
  src/common/transformations/include/transformations/smart_reshape/set_batch_size.hpp
  src/common/transformations/include/transformations/smart_reshape/smart_reshape.hpp
  src/common/transformations/include/transformations/smart_reshape/strided_slice_squeeze.hpp
  src/common/transformations/src/transformations/smart_reshape/strided_slice_squeeze.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Remove unused ngraph includes
  src/common/transformations/include/transformations/common_optimizations/optimize_strided_slice.hpp
  src/common/transformations/include/transformations/op_conversions/convert_gelu.hpp
  src/common/transformations/include/transformations/op_conversions/convert_reduce_to_pooling.hpp
  src/common/transformations/include/transformations/op_conversions/convert_reduce_to_reshape.hpp
  src/common/transformations/include/transformations/rt_info/attributes.hpp
  src/common/transformations/include/transformations/rt_info/strides_property.hpp
  src/common/transformations/include/transformations/utils/utils.hpp
  src/common/transformations/src/transformations/common_optimizations/optimize_strided_slice.cpp
  src/frontends/tensorflow/src/helper_transforms/block_lstm_replacer.cpp
  src/frontends/tensorflow/src/helper_transforms/gru_block_cell_replacer.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Remove serialize proxy header
  src/bindings/python/src/pyopenvino/core/offline_transformations.cpp
  src/common/transformations/include/transformations/serialize.hpp
  src/plugins/intel_cpu/src/ngraph_transformations/convert_fq_rnn_to_quantized_rnn.cpp
  src/tests/functional/inference_engine/ir_serialization/custom_ops.cpp
  src/tests/functional/inference_engine/ir_serialization/partial_shape_serialization.cpp
  src/tests/functional/inference_engine/ir_serialization/rt_info_serialization.cpp
  src/tests/functional/inference_engine/ir_serialization/transformation.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/preprocessing_fusion_tests.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/softmax_fusion.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_graph_info.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_network_base.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update GPU_Extensibility.md
  docs/Extensibility_UG/GPU_Extensibility.md
Due: none

Split to global property and plugins property
  src/inference/src/ie_core.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update skip_tests_config.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[GPU] Move device memory allocation from preprocessing stage to runtime to fix incorrect behaviour in case of tensor swapping
  src/plugins/intel_gpu/include/intel_gpu/plugin/infer_request.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/engine.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/memory.hpp
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_engine.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_engine.hpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_memory.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_memory.hpp
  src/tests/functional/plugin/gpu/concurrency/gpu_concurrency_tests.cpp
  src/tests/ie_test_utils/common_test_utils/data_utils.hpp
  src/tests/ie_test_utils/functional_test_utils/include/functional_test_utils/blob_utils.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Test Runner added separation of tests (#13684)
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/include/conformance.hpp
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/src/read_ir_test/read_ir.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/read_ir/read_ir_compare_with_refs.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

update scroll
  docs/OV_Runtime_UG/supported_plugins/Supported_Devices.md
  docs/doxyrest-sphinx/css/scrollbox.css
Due: none

Update src/common/conditional_compilation/include/openvino/cc/pass/itt.hpp
  src/common/conditional_compilation/include/openvino/cc/pass/itt.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Use additional condition inside the loop
  src/plugins/intel_cpu/src/nodes/tensoriterator.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

clang format
  src/common/conditional_compilation/include/openvino/cc/pass/itt.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update rename_conformance_ir.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/rename_conformance_ir.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix
  src/frontends/paddle/docs/paddle_frontend_architecture.md
Due: .ci/azure/mac.yml

Update doxyrest.py
  docs/doxyrest-sphinx/doxyrest.py
Due: none

Add get available opsets (#13920)
  src/bindings/python/src/compatibility/pyngraph/node_factory.cpp
  src/bindings/python/src/pyopenvino/graph/node_factory.cpp
  src/bindings/python/src/pyopenvino/graph/passes/pattern_ops.cpp
  src/core/include/ngraph/opsets/opset.hpp
  src/core/include/openvino/opsets/opset.hpp
  src/core/src/opsets/opset.cpp
  src/frontends/common/include/openvino/frontend/extension/op.hpp
  src/frontends/ir/docs/support_new_opset.md
  src/frontends/ir/src/input_model.cpp
  src/inference/src/ie_core.cpp
  src/tests/ie_test_utils/functional_test_utils/src/summary/op_summary.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[Snippets] BF16 support enabled (#13859)
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/src/plugin.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update Intro.md
  docs/Extensibility_UG/Intro.md
Due: none

[GPU] Allow devices which don't support OOO queue (#13900)
  docs/snippets/gpu/context_sharing_va.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_command_queues_builder.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device_detector.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device_detector.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix
  src/frontends/paddle/README.md
  src/frontends/paddle/docs/tests.md
Due: .ci/azure/mac.yml

Changes requested by a reviewer
  src/frontends/pytorch/src/op/select.cpp
  tests/layer_tests/pytorch_tests/test_select.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

update
  docs/doxyrest-sphinx/css/scrollbox.css
  docs/doxyrest-sphinx/doxyrest.py
Due: none

Changes requested by a reviewer
  tests/layer_tests/pytorch_tests/test_select.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

extrs
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update VPU_Extensibility.md
  docs/Extensibility_UG/VPU_Extensibility.md
Due: none

temp resolution to support model path for CPU in auto
  src/plugins/auto/plugin.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix TensorIterator
  tools/mo/openvino/tools/mo/middle/permute_tensor_iterator.py
  tools/mo/openvino/tools/mo/ops/squeeze.py
  tools/mo/openvino/tools/mo/ops/unsqueeze.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix CI issues
  src/inference/src/ie_core.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

skipps
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/skip_tests_config.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_conditional_compilation.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_onnxruntime.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/mac.yml: any file but: docs
  .ci/azure/windows.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/windows_conditional_compilation.yml: any file but: docs, **/docs, **/*.md, README.md
