Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools

refactoring
  src/common/low_precision_transformations/src/concat.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

tfl resize
  tests/layer_tests/common/utils/tflite_utils.py
  tests/layer_tests/tensorflow_lite_tests/test_tfl_Resize.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

tfl reverse
  tests/layer_tests/tensorflow_lite_tests/test_tfl_ReverseV2.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update ExperimentalDetectronTopKROIs_6.md
  docs/ops/sort/ExperimentalDetectronTopKROIs_6.md
Due: none

Support sizes input as list to upsample ops
  src/frontends/pytorch/src/op/upsample.cpp
  tests/layer_tests/pytorch_tests/test_upsample.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

tfl tfft2d
  tests/layer_tests/tensorflow_lite_tests/test_tfl_RFFT2D.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update docs/snippets/ov_dynamic_shapes.py
  docs/snippets/ov_dynamic_shapes.py
Due: none

Update EmbeddingBagOffsetsSum_3.md
  docs/ops/sparse/EmbeddingBagOffsetsSum_3.md
Due: none

Update docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
Due: none

Update docs/OV_Runtime_UG/ov_dynamic_shapes.md
  docs/OV_Runtime_UG/ov_dynamic_shapes.md
Due: none

Update docs/OV_Runtime_UG/supported_plugins/CPU.md
  docs/OV_Runtime_UG/supported_plugins/CPU.md
Due: none

Fix install guides typos
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
  docs/install_guides/troubleshooting-steps.md
Due: none

FIX
  docs/install_guides/installing-openvino-runtime.md
Due: none

Remove dependies checks from MO.
  tools/mo/openvino/tools/mo/convert_impl.py
  tools/mo/openvino/tools/mo/utils/versions_checker.py
  tools/mo/unit_tests/mo/convert/dependencies_check_test1_actual.py
  tools/mo/unit_tests/mo/convert/dependencies_check_test2_actual.py
  tools/mo/unit_tests/mo/frontend_ngraph_test.py
  tools/mo/unit_tests/mo/utils/versions_checker_test.py
  tools/mo/unit_tests/moc_tf_fe/check_info_messages_test.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Update EmbeddingBagPackedSum_3.md
  docs/ops/sparse/EmbeddingBagPackedSum_3.md
Due: none

Small corrections.
  tools/mo/openvino/tools/mo/convert_impl.py
  tools/mo/openvino/tools/mo/utils/versions_checker.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Adds configuration file for cspell
  cspell.json
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update auto_device_selection.md
  docs/OV_Runtime_UG/auto_device_selection.md
Due: none

DOCS shift to rst (#17346)
  docs/ops/activation/LogSoftmax_5.md
  docs/ops/arithmetic/Log_1.md
  docs/ops/comparison/LessEqual_1.md
  docs/ops/comparison/Less_1.md
  docs/ops/infrastructure/Loop_5.md
  docs/ops/logical/LogicalAnd_1.md
  docs/ops/logical/LogicalNot_1.md
  docs/ops/logical/LogicalOr_1.md
  docs/ops/logical/LogicalXor_1.md
  docs/ops/normalization/LRN_1.md
  docs/ops/sequence/LSTMCell_1.md
Due: none

DOCS shift to rst (#17345)
  docs/ops/activation/LogSoftmax_5.md
  docs/ops/arithmetic/Log_1.md
  docs/ops/comparison/LessEqual_1.md
  docs/ops/comparison/Less_1.md
  docs/ops/infrastructure/Loop_5.md
  docs/ops/logical/LogicalAnd_1.md
  docs/ops/logical/LogicalNot_1.md
  docs/ops/logical/LogicalOr_1.md
  docs/ops/logical/LogicalXor_1.md
  docs/ops/normalization/LRN_1.md
  docs/ops/sequence/LSTMCell_1.md
Due: none

tfl scatter_nd
  tests/layer_tests/tensorflow_lite_tests/test_tfl_ScatterND.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update EmbeddingSegmentsSum_3.md
  docs/ops/sparse/EmbeddingSegmentsSum_3.md
Due: none

LPT cmake warning flag was removed
  src/common/low_precision_transformations/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix install guides typos (#17354)
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
  docs/install_guides/troubleshooting-steps.md
Due: none

Update prerelease_information.md
  docs/resources/prerelease_information.md
Due: none

[CPU] Fix for SpaceToBatch dead loop.
  src/plugins/intel_cpu/src/nodes/space_to_batch.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update ExtractImagePatches_3.md
  docs/ops/movement/ExtractImagePatches_3.md
Due: none

Fix OpenVINOConfig.cmake
  cmake/templates/OpenVINOConfig.cmake.in
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix min node version in dependencies, fix samples
  samples/js/wasm/browser/image.js
  samples/js/wasm/make_inference.js
  src/bindings/js/common/package-lock.json
  src/bindings/js/common/package.json
  src/bindings/js/node/.gitignore
  src/bindings/js/node/package-lock.json
  src/bindings/js/node/package.json
  src/bindings/js/wasm/package-lock.json
  src/bindings/js/wasm/package.json
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Enable new patterns for IDNS
  CMakeLists.txt
  src/cmake/openvino.cmake
  src/plugins/intel_gna/src/gna2_model_export_helper.cpp
  src/plugins/intel_gna/src/gna_device.cpp
  src/plugins/intel_gna/src/gna_device.hpp
  src/plugins/intel_gna/src/gna_graph_patterns.hpp
  src/plugins/intel_gna/src/gna_plugin.cpp
  src/plugins/intel_gna/src/gna_transformations_pipeline.cpp
  src/plugins/intel_gna/src/layers/gna_layer_info.hpp
  src/plugins/intel_gna/src/transformations/decompose_transpose_before_convolution.cpp
  src/plugins/intel_gna/src/transformations/decompose_transpose_before_convolution.hpp
  src/plugins/intel_gna/src/transformations/insert_transpose_after_convolution_or_pooling.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/split_trivial_permute_concat.cpp
  src/tests/functional/shared_test_classes/src/subgraph/split_trivial_permute_concat.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

tfl rfft2d fix
  tests/layer_tests/tensorflow_lite_tests/test_tfl_RFFT2D.py
Due: .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

detection
  docs/ops/detection/ExperimentalDetectronGenerateProposalsSingleImage_6.md
  docs/ops/detection/ExperimentalDetectronPriorGridGenerator_6.md
  docs/ops/detection/ExperimentalDetectronROIFeatureExtractor_6.md
Due: none

Use LNL as default target and gna library
  cmake/dependencies.cmake
  src/plugins/intel_gna/src/common/gna_target.cpp
  src/plugins/intel_gna/src/common/gna_target.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix package.json files
  src/bindings/js/common/package.json
  src/bindings/js/node/package-lock.json
  src/bindings/js/node/package.json
  src/bindings/js/wasm/package.json
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix binding wrong core with latency mode on i9-13900
  src/inference/src/dev/threading/cpu_streams_executor.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

op set a fix
  docs/ops/arithmetic/Abs_1.md
  docs/ops/arithmetic/Acos_1.md
  docs/ops/arithmetic/Acosh_3.md
  docs/ops/arithmetic/Add_1.md
  docs/ops/arithmetic/Asin_1.md
  docs/ops/arithmetic/Asinh_3.md
  docs/ops/arithmetic/Atan_1.md
  docs/ops/arithmetic/Atanh_3.md
  docs/ops/infrastructure/Assign_3.md
  docs/ops/pooling/AdaptiveAvgPool_8.md
  docs/ops/pooling/AdaptiveMaxPool_8.md
  docs/ops/pooling/AvgPool_1.md
Due: none
