Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

.ci/azure/android_arm64.yml:
  jobs:
  - job: android_arm64
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Debug
      OPENVINO_REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux.yml:
  jobs:
  - job: Lin
    strategy:
      matrix:
        Static:
          CMAKE_BUILD_SHARED_LIBS: 'OFF'
          PYTHON_STATIC_ARGS: -m "not dynamic_library"
          CMAKE_CPACK_GENERATOR: TGZ
          SAMPLES_INSTALL_DIR: $(INSTALL_DIR)/samples
          PYTHON_SAMPLES_INSTALL_DIR: $(SAMPLES_INSTALL_DIR)/python
  ...

.ci/azure/linux_arm64.yml:
  jobs:
  - job: linux_arm64
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      NUM_PROC: 2
      BUILD_TYPE: Release
      OPENVINO_REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_conditional_compilation.yml:
  jobs:
  - job: LinCC
    timeoutInMinutes: '90'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      MODELS_PATH: $(REPO_DIR)/../testdata
  ...

.ci/azure/linux_cuda.yml:
  jobs:
  - job: CUDAPlugin_Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      HOME_DIR: $(Agent.HomeDirectory)
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_debian.yml:
  jobs:
  - job: Lin_Debian
    timeoutInMinutes: '120'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      MODELS_PATH: $(REPO_DIR)/../testdata
  ...

.ci/azure/linux_intel_gna.yml:
  jobs:
  - job: Lin
    timeoutInMinutes: '180'
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_onnxruntime.yml:
  jobs:
  - job: onnxruntime
    timeoutInMinutes: '90'
    pool:
      name: LIN_VMSS_VENV_ONNX_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/mac.yml:
  jobs:
  - job: Mac
    timeoutInMinutes: '360'
    pool:
      vmImage: macOS-11
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_CONTRIB_REPO_DIR: $(REPO_DIR)/../openvino_contrib
  ...

Update docs/articles_en/learn-openvino/llm_inference_guide/genai-guide-npu.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide-npu.rst
Due: none

set condition for dev wheel
  tools/openvino_dev/CMakeLists.txt
Due: .ci/azure/linux.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

cleaning
  src/plugins/intel_gpu/src/graph/impls/onednn/lstm_seq_onednn.cpp
  src/plugins/intel_gpu/src/graph/include/layout_optimizer.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/lstm_seq.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

cleaning
  src/plugins/intel_gpu/src/graph/lstm_cell.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Revert "set condition for dev wheel"
  tools/openvino_dev/CMakeLists.txt
Due: .ci/azure/linux.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

disable snippets
  .github/workflows/job_python_unit_tests.yml
  docs/snippets/main.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

try with index and cache
  .github/actions/install_ov_wheels/action.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

set openvino_dev optional
  src/bindings/python/wheel/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

openvino_dev_wheel install optional
  src/bindings/python/wheel/CMakeLists.txt
  tools/openvino_dev/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[OV JS] Make download binaries script universal (#27465)
  src/bindings/js/node/package.json
  src/bindings/js/node/scripts/download-runtime.js
  src/bindings/js/node/scripts/download_runtime.js
  src/bindings/js/node/scripts/lib/binary-manager.js
  src/bindings/js/node/scripts/lib/utils.js
  src/bindings/js/node/tests/unit/utils.js
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] Code refactoring
  docs/sphinx_setup/_static/js/graphs.js
  docs/sphinx_setup/_static/js/graphsLLM.js
  docs/sphinx_setup/conf.py
Due: none

[DOCS] qf
  docs/articles_en/about-openvino/performance-benchmarks.rst
Due: none

code review fixes
  src/common/transformations/src/transformations/transpose_sinking/ts_unsqueeze.cpp
  src/common/transformations/tests/transpose_sinking/ts_common_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

cleanup
  src/common/transformations/src/transformations/transpose_sinking/ts_unsqueeze.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] Refactor two y-axis graph scripts (#27524)
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/sphinx_setup/_static/js/graphs.js
  docs/sphinx_setup/_static/js/graphsLLM.js
  docs/sphinx_setup/conf.py
Due: none

mount ${{ github.workspace }}
  .github/workflows/manylinux_2014.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Group broadcast is implemented via commonly used UBR-pattern
  src/frontends/onnx/frontend/src/op/com.microsoft/group_query_attention.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix error, added more check if device supports immad
  src/plugins/intel_gpu/src/graph/include/primitive_type_base.h
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] Main changes for Port to 24.5
  docs/sphinx_setup/_static/js/graphs.js
  docs/sphinx_setup/_static/js/graphsLLM.js
  docs/sphinx_setup/conf.py
Due: none

[GPU]: SortedSearch: Added ref impl for static shapes.
  src/plugins/intel_gpu/src/graph/impls/ocl/search_sorted.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/search_sorted_ref.cl
  src/tests/test_utils/unit_test_utils/tests_data/search_sorted_data.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[DOCS] Main changes for Port to 24.5 (#27525)
  docs/sphinx_setup/_static/js/graphs.js
  docs/sphinx_setup/_static/js/graphsLLM.js
  docs/sphinx_setup/conf.py
Due: none

Rework with reshape
  src/plugins/intel_npu/src/plugin/npuw/lazy_tensor.cpp
  src/plugins/intel_npu/src/plugin/npuw/lazy_tensor.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.hpp
  src/plugins/intel_npu/src/plugin/npuw/util.cpp
  src/plugins/intel_npu/src/plugin/npuw/util.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Proper name for the CompiledNetwork holder
  src/plugins/intel_cpu/src/compiled_model.h
  src/plugins/intel_cpu/src/infer_request.cpp
  src/plugins/intel_cpu/src/infer_request.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

support cpu_reservation=true,cpu_pinning=false
  src/inference/src/dev/threading/istreams_executor.cpp
  src/inference/tests/unit/executor_config_test.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

revert artifact pathes
  .github/workflows/manylinux_2014.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

change comments
  src/inference/include/openvino/runtime/properties.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

relax UnsqueezeBroadcastReshapeSDPAFusion with no need to ask querry branch from non-reshape.
  src/plugins/intel_gpu/src/plugin/transformations/unsqueeze_broadcast_reshape_sdpa_fusion.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

update for comments
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/cpu-device/performance-hint-and-thread-scheduling.rst
Due: none

remove attribute allow_axis_skip for empty axis Ctor
  src/core/include/openvino/op/squeeze.hpp
  src/core/src/op/squeeze.cpp
  src/core/tests/type_prop/squeeze.cpp
  src/plugins/template/tests/functional/op_reference/squeeze.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

deleting unnecessary variables
  src/plugins/intel_gpu/include/intel_gpu/primitives/rnn.hpp
  src/plugins/intel_gpu/src/graph/include/lstm_seq_inst.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

refactor squeezeV0 shape_infer common validate input
  src/core/shape_inference/include/squeeze_shape_inference.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

refactor squeezeV15 shape_infer common validate input
  src/core/shape_inference/include/squeeze_shape_inference.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fixed install wheel dir
  .github/workflows/manylinux_2014.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

added more models
  src/core/src/pass/sdpa_to_paged_attention.cpp
  tests/model_hub_tests/transformation_tests/models/hf-tiny-random-models-precommit
  tests/model_hub_tests/transformation_tests/models/hf-tiny-random-vl-models-precommit
  tests/model_hub_tests/transformation_tests/sdpa2pa_ref_diff.py
  tests/model_hub_tests/transformation_tests/test_pa_transformation.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

uncomment
  tests/model_hub_tests/transformation_tests/models/hf-tiny-random-models-precommit
  tests/model_hub_tests/transformation_tests/models/hf-tiny-random-vl-models-precommit
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

uncomment v2
  tests/model_hub_tests/transformation_tests/test_pa_transformation.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix ident
  tests/model_hub_tests/transformation_tests/sdpa2pa_ref_diff.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

ident
  tests/model_hub_tests/transformation_tests/sdpa2pa_ref_diff.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

new ident
  tests/model_hub_tests/transformation_tests/sdpa2pa_ref_diff.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
