Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools

Init pre-fused names only when fused names are given.
  src/core/src/pass/constant_folding.cpp
  src/core/src/rt_info.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Refactor PowerLayerTest, PriorBoxClusteredLayerTest, PriorBoxLayerTest (#20349)
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/prior_box.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/prior_box_clustered.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/power.cpp
  src/tests/functional/plugin/shared/include/single_op_tests/power.hpp
  src/tests/functional/plugin/shared/include/single_op_tests/prior_box.hpp
  src/tests/functional/plugin/shared/include/single_op_tests/prior_box_clustered.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/power.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/prior_box.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/prior_box_clustered.hpp
  src/tests/functional/shared_test_classes/src/single_op/power.cpp
  src/tests/functional/shared_test_classes/src/single_op/prior_box.cpp
  src/tests/functional/shared_test_classes/src/single_op/prior_box_clustered.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[GPU] Fix high latency for LLMs on dGPU
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[GPU] Processing order iteration fix
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fixed numpy deprecation error (#20375)
  tests/layer_tests/tensorflow_lite_tests/test_tfl_ScatterND.py
  tests/layer_tests/tensorflow_lite_tests/test_tfl_StridedSlice.py
Due: .ci/azure/linux.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Move align_in_info to utils
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/cache/graph_cache.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/cache/meta/input_info.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/utils/model.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/utils/model_comparator.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/utils/node.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/subgraph/fused_names.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/subgraph/repeat_pattern.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/utils/model.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/utils/model_comparator.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/utils/node.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/utils/model.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/utils/model_comparator.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[nGraph Transformatoin] Copy rtinfo from all replaced nodes in GroupedSliceToVSplitOptimization
  src/common/transformations/src/transformations/common_optimizations/optimize_strided_slice.cpp
  src/common/transformations/tests/common_optimizations/optimize_strided_slice_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Use 3.9
  .github/workflows/linux.yml
  tests/layer_tests/requirements.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update tensorflow requirement in /src/bindings/python (#20372)
  tests/constraints.txt
  tools/mo/requirements_tf.txt
  tools/mo/requirements_tf2.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

apply the condition for only opt out reorder user
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

TorchFX: flash_attention support with SoftMax optimization (GPU)
  src/bindings/python/src/openvino/frontend/pytorch/torchdynamo/op_support.py
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/op/scaled_dot_product_attention.cpp
  src/frontends/pytorch/src/op_table.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update mac.yml
  .github/workflows/mac.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Use np.float32 instead of np.float
  tests/layer_tests/onnx_tests/test_loop.py
  tools/mo/unit_tests/mo/front/tf/identityN_to_identity_test.py
  tools/mo/unit_tests/mo/middle/UpsampleToResample_test.py
Due: .ci/azure/linux.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[BUGFIX][Core][Template] Multinomial shape filling for 1D input (#20359)
  src/core/reference/include/openvino/reference/multinomial.hpp
  src/core/src/op/multinomial.cpp
  src/plugins/template/tests/functional/op_reference/multinomial.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update setup.py
  tools/openvino_dev/setup.py
Due: .ci/azure/linux.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

[GPU] Added additional check in test
  src/plugins/intel_gpu/tests/unit/passes/prepare_primitive_fusing_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Solve invalid number of nodes for smoke_Snippets_BroadcastSelect
  src/bindings/python/tests_compatibility/test_onnx/test_zoo_models.py
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/select.cpp
  src/tests/functional/shared_test_classes/src/base/snippets_test_utils.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Use np.float32 instead of np.float (#20377)
  tests/layer_tests/onnx_tests/test_loop.py
  tools/mo/unit_tests/mo/front/tf/identityN_to_identity_test.py
  tools/mo/unit_tests/mo/middle/UpsampleToResample_test.py
Due: .ci/azure/linux.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Generic dims for SoftMax GPU optimization
  src/frontends/pytorch/src/op/scaled_dot_product_attention.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Removed np.int usage
  tools/mo/openvino/tools/mo/front/common/partial_infer/utils.py
Due: .ci/azure/linux.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

remove OMP option from set_property
  cmake/features.cmake
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update implement type.
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/convert_fq_rnn_to_quantized_rnn.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update docs/OV_Runtime_UG/auto_device_selection.md
  docs/OV_Runtime_UG/auto_device_selection.md
Due: none

ConstantResultSubgraphTest of u16/i16/u32/i64/u64
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/test_utils/cpu_test_utils.cpp
  src/tests/functional/shared_test_classes/src/base/snippets_test_utils.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix error
  src/tests/functional/plugin/shared/src/behavior/compiled_model/properties.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Reduce ngraph namespace usage from core component (#20309)
  src/core/include/ngraph/opsets/opset.hpp
  src/core/src/graph_util.cpp
  src/core/src/opsets/opset.cpp
  src/core/src/runtime/aligned_buffer.cpp
  src/core/src/runtime/tensor.cpp
  src/core/src/shape_util.cpp
  src/core/src/util.cpp
  src/core/src/validation_util.cpp
  src/inference/src/ie_core.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

remove case in io_tensor.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_infer_request/io_tensor.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix, replace cast with ov::convert
  src/frontends/onnx/frontend/src/op/blackmanwindow.cpp
  src/frontends/onnx/frontend/src/op/hammingwindow.cpp
  src/frontends/onnx/frontend/src/op/hannwindow.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Migrated all subgraph tests after quantization graphs
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/range_add.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/relu_shape_of.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/reshape_squeeze_reshape_relu.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/split_conv_concat.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/variadic_split_pad.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/reshape_squeeze_reshape_relu.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/split_conv_concat.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/reshape_squeeze_reshape_relu.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/split_conv_concat.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/range_add.hpp
  src/tests/functional/plugin/shared/include/subgraph_tests/relu_shape_of.hpp
  src/tests/functional/plugin/shared/include/subgraph_tests/reshape_squeeze_reshape_relu.hpp
  src/tests/functional/plugin/shared/include/subgraph_tests/split_conv_concat.hpp
  src/tests/functional/plugin/shared/include/subgraph_tests/variadic_split_pad.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/ov_subgraph.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/range_add.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/relu_shape_of.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/reshape_squeeze_reshape_relu.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/split_conv_concat.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/variadic_split_pad.hpp
  src/tests/functional/shared_test_classes/src/subgraph/range_add.cpp
  src/tests/functional/shared_test_classes/src/subgraph/relu_shape_of.cpp
  src/tests/functional/shared_test_classes/src/subgraph/reshape_squeeze_reshape_relu.cpp
  src/tests/functional/shared_test_classes/src/subgraph/split_conv_concat.cpp
  src/tests/functional/shared_test_classes/src/subgraph/variadic_split_pad.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Replace op.Constant with make_constant in fx_decoder
  src/bindings/python/src/openvino/frontend/pytorch/fx_decoder.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Resolve conflicts
  docs/articles_en/learn_openvino/openvino_samples/python_sample_large_language_model.md
Due: none

fix RISC-v build issue
  src/inference/src/system_conf.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Move quantize subgraph_tests to new API
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_convolution_backprop_data.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_convolution_batch_norm.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_group_convolution.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_group_convolution_backprop_data.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_mat_mul.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_convolution_backprop_data.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_group_convolution_backprop_data.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/quantized_convolution_backprop_data.hpp
  src/tests/functional/plugin/shared/include/subgraph_tests/quantized_convolution_batch_norm.hpp
  src/tests/functional/plugin/shared/include/subgraph_tests/quantized_group_convolution.hpp
  src/tests/functional/plugin/shared/include/subgraph_tests/quantized_group_convolution_backprop_data.hpp
  src/tests/functional/plugin/shared/include/subgraph_tests/quantized_mat_mul.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/quantized_convolution_backprop_data.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/quantized_convolution_batch_norm.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/quantized_group_convolution.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/quantized_group_convolution_backprop_data.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/quantized_mat_mul.hpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_convolution_backprop_data.cpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_convolution_batch_norm.cpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_group_convolution.cpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_group_convolution_backprop_data.cpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_mat_mul.cpp
  src/tests/ov_helpers/ov_models/include/ov_models/utils/ov_helpers.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_enums.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Limit Softmax optimization to 4D inputs
  src/frontends/pytorch/src/op/scaled_dot_product_attention.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml
