Repository openvinotoolkit/openvino: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/linux.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_arm64.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools
  .ci/azure/linux_cuda.yml: any file but: docs, **/docs, **/*.md, README.md
  .ci/azure/linux_debian.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/linux_intel_gna.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/linux_onnxruntime.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools, tests/layer_tests
  .ci/azure/mac.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tests/layer_tests
  .ci/azure/windows.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance
  .ci/azure/windows_conditional_compilation.yml: any file but: */docs, docs, */*.md, *.md, */layer_tests_summary, */conformance, tools

Update docs/glossary.md
  docs/glossary.md
Due: none

enable swish
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_eltwise.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

16913
  docs/OV_Runtime_UG/auto_device_selection.md
  docs/OV_Runtime_UG/ov_dynamic_shapes.md
  docs/OV_Runtime_UG/performance_hints.md
  docs/OV_Runtime_UG/supported_plugins/CPU.md
  docs/OV_Runtime_UG/supported_plugins/GPU.md
  docs/OV_Runtime_UG/supported_plugins/Supported_Devices.md
  docs/snippets/ov_dynamic_shapes.c
  docs/snippets/ov_dynamic_shapes.cpp
  docs/snippets/ov_dynamic_shapes.py
Due: none

Rename math_func.js to helpers.js
  samples/js/node/common_api_example.js
  samples/js/node/lib/helpers.js
  samples/js/node/ppp_example.js
  samples/js/node/read_model_async_example.js
  samples/js/node/simple_inference_example.js
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Fix for wrong sign extending
  src/frontends/tensorflow/src/variables_index.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

config
  tests/time_tests/.automation/auto_plugin_test_config.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[CONFORMANCE] Fix functions with several dynamic inputs (#17404)
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[GPU] Check cl_cache_dir env variable for unit test
  src/plugins/intel_gpu/tests/unit/gtest_main_gpu.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

refactor: eslint
  samples/js/node/lib/helpers.js
  samples/js/node/ppp_example.js
  samples/js/node/read_model_async_example.js
  samples/js/node/simple_inference_example.js
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update shrinking to cropping
  docs/ops/movement/Pad_12.md
Due: none

[GPU] Doc writing for opencl-intercept-layer
  src/plugins/intel_gpu/docs/gpu_debug_utils.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

README.md update
  samples/js/node/README.md
  samples/js/node/package.json
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[install_dependencies] Change minimal requirement cmake version
  samples/cpp/CMakeLists.txt
  scripts/install_dependencies/install_openvino_dependencies.sh
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Change minimal requirement cmake version
  samples/cpp/CMakeLists.txt
  scripts/install_dependencies/install_openvino_dependencies.sh
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

convert model commands
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/prepare_model/Additional_Optimizations.md
  docs/MO_DG/prepare_model/FP16_Compression.md
  docs/MO_DG/prepare_model/convert_model/Converting_Model.md
  docs/MO_DG/prepare_model/convert_model/Cutting_Model.md
  docs/install_guides/troubleshooting-steps.md
Due: none

[doc] typo
  cmake/features.cmake
  docs/OV_Runtime_UG/deployment/local-distribution.md
  docs/OV_Runtime_UG/supported_plugins/CPU.md
  docs/dev/build_mac_arm.md
  docs/dev/build_mac_intel_cpu.md
  docs/dev/build_windows.md
  docs/dev/cmake_options_for_custom_compilation.md
  docs/dev/conditional_compilation.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update acl_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_eltwise.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[TF FE] Report a reason of no conversion of internal operations (#17534)
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/tests/convert_unsupported.cpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_gather_with_string_table.py
  src/frontends/tensorflow_common/include/helper_ops/block_lstm.hpp
  src/frontends/tensorflow_common/include/helper_ops/fifo_queue.hpp
  src/frontends/tensorflow_common/include/helper_ops/gru_block_cell.hpp
  src/frontends/tensorflow_common/include/helper_ops/hash_table.hpp
  src/frontends/tensorflow_common/include/helper_ops/internal_operation.hpp
  src/frontends/tensorflow_common/include/helper_ops/iterator.hpp
  src/frontends/tensorflow_common/include/helper_ops/sparse_fill_empty_rows.hpp
  src/frontends/tensorflow_common/include/helper_ops/sparse_segment_ops.hpp
  src/frontends/tensorflow_common/include/helper_ops/string_constant.hpp
  src/frontends/tensorflow_common/include/helper_ops/unsupported_constant.hpp
  src/frontends/tensorflow_lite/src/tflite_ops/complex_abs.h
  src/frontends/tensorflow_lite/src/tflite_ops/rfft2d.h
  src/frontends/tensorflow_lite/src/tflite_ops/tflite_quantize.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

fix
  docs/OV_Runtime_UG/auto_device_selection.md
  docs/OV_Runtime_UG/performance_hints.md
Due: none

Update docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
Due: none

[Core] StridedSlice improvements of bound evaluation and constant folding (#17536)
  src/core/include/openvino/op/strided_slice.hpp
  src/core/src/bound_evaluate.cpp
  src/core/src/op/strided_slice.cpp
  src/core/tests/constant_folding.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update model_introduction.md
  docs/Documentation/model_introduction.md
Due: none

Update docs/MO_DG/prepare_model/MO_Python_API.md
  docs/MO_DG/prepare_model/MO_Python_API.md
Due: none

Update basic_quantization_flow.md
  docs/optimization_guide/nncf/ptq/basic_quantization_flow.md
Due: none

Update quantization_w_accuracy_control.md
  docs/optimization_guide/nncf/ptq/quantization_w_accuracy_control.md
Due: none

[CMake] Add CMAKE_MAKE_PROGRAM arg (#17340)
  cmake/developer_package/native_compile.cmake
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

Update ptq_introduction.md
  docs/optimization_guide/nncf/ptq/ptq_introduction.md
Due: none

[doc] typo (#17528)
  cmake/features.cmake
  docs/OV_Runtime_UG/deployment/local-distribution.md
  docs/OV_Runtime_UG/supported_plugins/CPU.md
  docs/dev/build_mac_arm.md
  docs/dev/build_mac_intel_cpu.md
  docs/dev/build_windows.md
  docs/dev/cmake_options_for_custom_compilation.md
  docs/dev/conditional_compilation.md
  src/common/conditional_compilation/CMakeLists.txt
  src/common/conditional_compilation/include/openvino/cc/selective_build.h
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

add test
  src/common/transformations/src/transformations/transpose_sinking/ts_gather.cpp
  src/common/transformations/tests/transpose_sinking/ts_gather_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml

[CPU][ARM] Enable oneDNN acl fullyconnected (inner_product) (#17331)
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_conditional_compilation.yml, .ci/azure/linux_cuda.yml, .ci/azure/linux_debian.yml, .ci/azure/linux_intel_gna.yml, .ci/azure/linux_onnxruntime.yml, .ci/azure/mac.yml, .ci/azure/windows.yml, .ci/azure/windows_conditional_compilation.yml
